﻿@*@model SaveIt.Models.HomePage*@

<!doctype html>
<html class="no-js" lang="en-US">
@*ahmed zayed folder*@


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>بواب وفرها الاليكترونية - @ViewBag.title</title>
    <meta name="description" content="معالم">
    <meta name="keywords" content="معالم" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="~/WebSiteScript/img/icon/favicon.png">
    <!-- Google Font Open Sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
    <!-- mobile menu css -->
    <link rel="stylesheet" href="~/WebSiteScript/css/meanmenu.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/WebSiteScript/css/animate.css">
    <!-- nivo slider css -->
    <link rel="stylesheet" href="~/WebSiteScript/css/nivo-slider.css">
    <!-- owl carousel css -->
    <link rel="stylesheet" href="~/WebSiteScript/css/owl.carousel.min.css">
    <!-- price slider css -->
    <link rel="stylesheet" href="~/WebSiteScript/css/jquery-ui.min.css">
    <!-- fancybox css -->
    <link rel="stylesheet" href="~/WebSiteScript/css/jquery.fancybox.css">
    <!-- material design css -->
    <link rel="stylesheet" href="~/WebSiteScript/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/WebSiteScript/css/font-awesome.min.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/WebSiteScript/css/bootstrap.min.css">
    <!-- default css  -->
    <link rel="stylesheet" href="~/WebSiteScript/css/default.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/WebSiteScript/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="~/WebSiteScript/css/responsive.css">

    <!-- modernizr js -->
    <script src="~/WebSiteScript/js/vendor/modernizr-2.8.3.min.js"></script>
</head>


<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Wrapper Start -->
    <div class="light-gray-bg home-4">
        <div class="preloader">
            <div class="loading-center">
                <div class="loading-center-absolute">
                    <div class="object object_one"></div>
                    <div class="object object_two"></div>
                    <div class="object object_three"></div>
                </div>
            </div>
        </div>

        <!-- Preloader End -->

        <!-- Newsletter Popup End -->
        <!-- Page Wrapper Start -->
        <div class="page-wrapper">
            <!-- Header Area Start -->


            <header>
                <!-- Header Top Start -->
                <div class="header-top white-bg">
                    <div class="container">
                        <div class="row">
                            <!-- Header Top left Start -->
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="header-top-left f-left">
                                    <ul class="header-list-menu">
                                        <!-- Language Start -->
                                        <li>
                                            <a href="#">عربى</a>
                                            <ul class="ht-dropdown">
                                                <li><a href="#">English</a></li>
                                                <li><a href="#">English3</a></li>
                                                <li><a href="#">English4</a></li>
                                            </ul>
                                        </li>
                                        <!-- Language End -->
                                        <!-- Currency Start -->
                                        @*<li>
                                                <a href="#">USD</a>
                                                <ul class="ht-dropdown">
                                                    <li><a href="#">USD</a></li>
                                                    <li><a href="#">GBP</a></li>
                                                    <li><a href="#">EUR</a></li>
                                                </ul>
                                            </li>*@
                                        <!-- Currency End -->
                                    </ul>
                                    <!-- Header-list-menu End -->
                                </div>
                            </div>
                            <!-- Header Top left End -->
                            <!-- Header Top Right Start -->
                            <div class="col-md-9 col-sm-8 col-xs-12">
                                <div class="header-top-right f-right header-top-none">
                                    <ul class="header-list-menu right-menu">
                                        <li>
                                            <a href="#">الحساب </a>
                                            <ul class="ht-dropdown ht-account">
                                                @*<li><a href="#">compare product 0</a></li>
                                                    <li><a href="#">My account</a></li>
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="wish-list.html">my wish list</a></li>*@

                                                <li>
                                                    @{ Html.RenderPartial("_LoginPartial");}
                                                </li>
                                                <!-- Header-list-menu End -->

                                            </ul>
                                        </li>
                                        <li>   @{ Html.RenderPartial("_LoginPartial");}</li>
                                        @*<li><a href="wish-list.html">wish list (0)</a></li>
                                            <li><a href="checkout.html">checkout</a></li>*@
                                    </ul>
                                    <!-- Header-list-menu End -->
                                </div>
                                <div class="small-version">
                                    <div class="header-top-right f-right">
                                        <ul class="header-list-menu right-menu">
                                            <li><a href="login.html"><i class="fa fa-user"></i></a></li>
                                            <li><a href="register.html"><i class="fa fa-registered"></i></a></li>
                                            <li><a href="wish-list.html"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="checkout.html"><i class="fa fa-usd"></i></a></li>
                                        </ul>
                                        <!-- Header-list-menu End -->
                                    </div>
                                </div>
                            </div>
                            <!-- Header Top Right End -->
                        </div>
                        <!-- Row End -->
                    </div>
                    <!-- Container End -->
                </div>
                <!-- Header Top End -->
                <!-- Header Middle Start -->
                <div class="header-middle ptb-20">
                    <div class="container">
                        <div class="row">
                            <!-- Logo Start -->
                            <div class="col-lg-3 col-md-4">
                                <div class="logo">
                                    <a href="index.html"><img src="~/WebsiteScript/images/logo.png" alt="logo-image"></a>
                                </div>
                            </div>
                            <!-- Logo End -->
                            <!-- Header Middle Menu Start -->
                            <div class="col-lg-9 col-md-8">
                                <div class="middle-menu hidden-sm hidden-xs">
                                    <nav>
                                        <ul class="middle-menu-list">
                                            <li><a href="/">الصفحه الرئسيه</a></li>
                                            @*<li>
                                                    <a href="index.html">الاقسام</a>
                                                    <!-- Home Version Dropdown Start -->
                                                    <ul class="ht-dropdown">
                                                        <li><a href="index.html">Home Version 1</a></li>
                                                        <li><a href="home-2.html">Home Version 2</a></li>
                                                        <li><a href="home-3.html">Home Version 3</a></li>
                                                        <li><a href="home-4.html">Home Version 4</a></li>
                                                    </ul>
                                                    <!-- Home Version Dropdown End -->
                                                </li>*@
                                            <li>
                                                <a href="/Services/Index">القسم التجاري</a>
                                            </li>
                                            <li>
                                                <a href="/Home/DemondCard">احجز بطاقتك</a>
                                            </li>
                                            <li>
                                                <a href="/Home/AlbomPhoto">البوم الصور</a>
                                            </li>

                                            <li>
                                                <a href="/Home/ContactUs" style="color: #2f2222;">اتصل بنا</a>
                                            </li>




                                            @*<li>
                                                    <a href="#"> الاقسام</a>
                                                    <!-- Home Version Dropdown Start -->
                                                    <ul class="ht-dropdown">
                                                        @foreach (var item in Model.Category)
                                                        {
                                                        <li><a href="shop.html">@item.Name</a></li>
                                                        }

                                                    </ul>
                                                    <!-- Home Version Dropdown End -->
                                                </li>*@

                                            @*<li><a href="blog.html">blog</a></li>*@
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Main Cart Box Start -->
                                <div class="cart-box visible-xs">
                                    <ul>
                                        <li>
                                            <a href="#"></a>
                                            <ul class="ht-dropdown main-cart-box">
                                                <li>
                                                    <!-- Cart Box Start -->
                                                    <div class="single-cart-box">
                                                        <div class="cart-img">
                                                            <a href="#"><img src="~/WebsiteScript/img/menu/5.jpg" alt="cart-image"></a>
                                                        </div>
                                                        <div class="cart-content">
                                                            <h6><a href="#">Alpha Block Black Polo T-Shirt</a></h6>
                                                            <span>1 × $399.00</span>
                                                        </div>
                                                        <a class="del-icone" href="#"><i class="zmdi zmdi-close-circle-o"></i></a>
                                                    </div>
                                                    <!-- Cart Box End -->
                                                    <!-- Cart Box Start -->
                                                    <div class="single-cart-box">
                                                        <div class="cart-img">
                                                            <a href="#"><img src="img/menu/6.jpg" alt="cart-image"></a>
                                                        </div>
                                                        <div class="cart-content">
                                                            <h6><a href="#">Red Printed Round Neck T-Shirt</a></h6>
                                                            <span>2 × $299.00</span>
                                                        </div>
                                                        <a class="del-icone" href="#"><i class="zmdi zmdi-close-circle-o"></i></a>
                                                    </div>
                                                    <!-- Cart Box End -->
                                                    <!-- Cart Footer Inner Start -->
                                                    <div class="cart-footer fix">
                                                        <h5>total :<span class="f-right">$698.00</span></h5>
                                                        <div class="cart-actions">
                                                            <a class="checkout" href="cart.html">Checkout</a>
                                                        </div>
                                                    </div>
                                                    <!-- Cart Footer Inner End -->
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Main Cart Box End -->
                                <!-- Mobile Menu  Start -->
                                <div class="mobile-menu visible-sm visible-xs">
                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="index.html">home</a>
                                                <!-- Home Version Dropdown Start -->
                                                <ul>
                                                    <li><a href="index.html">Home Version 1</a></li>
                                                    <li><a href="home-2.html">Home Version 2</a></li>
                                                    <li><a href="home-3.html">Home Version 3</a></li>
                                                    <li><a href="home-4.html">Home Version 4</a></li>
                                                </ul>
                                                <!-- Home Version Dropdown End -->
                                            </li>
                                            <li>
                                                <a href="accessories.html">fashion & clothing</a>
                                                <!-- Mobile Menu Dropdown Start -->
                                                <ul>
                                                    <li><a href="shop.html">women</a></li>
                                                    <li><a href="shop.html">men</a></li>
                                                    <li><a href="shop.html">kids</a></li>
                                                </ul>
                                                <!-- Mobile Menu Dropdown End -->
                                            </li>
                                            <li>
                                                <a href="#">electronics</a>
                                                <!-- Mobile Menu Dropdown Start -->
                                                <ul>
                                                    <li><a href="shop.html">smart phone</a></li>
                                                    <li><a href="shop.html">camera</a></li>
                                                </ul>
                                                <!-- Mobile Menu Dropdown End -->
                                            </li>
                                            <li>
                                                <a href="accessories.html">decor & furniture</a>
                                                <!-- Mobile Menu Dropdown Start -->
                                                <ul>
                                                    <li><a href="shop.html">bedroom</a></li>
                                                    <li><a href="shop.html">living room</a></li>
                                                </ul>
                                                <!-- Mobile Menu Dropdown End -->
                                            </li>
                                            <li>
                                                <a href="accessories.html">toy,kids & baby</a>
                                                <!-- Mobile Menu Dropdown Start -->
                                                <ul>
                                                    <li><a href="shop.html">toy gifts sets</a></li>
                                                    <li><a href="shop.html">teethers</a></li>
                                                    <li><a href="shop.html">teaching clocks</a></li>
                                                </ul>
                                                <!-- Mobile Menu Dropdown End -->
                                            </li>
                                            <li>
                                                <a href="accessories.html">home,garden & tools</a>
                                                <!-- Mobile Menu Dropdown Start -->
                                                <ul>
                                                    <li><a href="shop.html">digging tools</a></li>
                                                    <li><a href="shop.html">rakes</a></li>
                                                    <li><a href="shop.html">striking tools</a></li>
                                                </ul>
                                                <!-- Mobile Menu Dropdown End -->
                                            </li>
                                            <li>
                                                <a href="accessories.html">spost & outdoor</a>
                                                <!-- Mobile Menu Dropdown Start -->
                                                <ul>
                                                    <li><a href="shop.html">outdoor appreal</a></li>
                                                    <li><a href="shop.html">skis & snowboards</a></li>
                                                    <li><a href="shop.html">bikes</a></li>
                                                </ul>
                                                <!-- Mobile Menu Dropdown End -->
                                            </li>
                                            <li>
                                                <a href="#">pages</a>
                                                <!-- Mobile Menu Dropdown Start -->
                                                <ul>
                                                    <li><a href="shop.html">shop</a></li>
                                                    <li><a href="product-page.html">products</a></li>
                                                    <li><a href="accessories.html">accessories</a></li>
                                                    <li><a href="cart.html">cart</a></li>
                                                    <li><a href="checkout.html">checkout</a></li>
                                                    <li><a href="wish-list.html">wish list</a></li>
                                                    <li><a href="blog.html">blog</a></li>
                                                    <li><a href="blog-details.html">blog details</a></li>
                                                    <li><a href="login.html">login</a></li>
                                                    <li><a href="register.html">register</a></li>
                                                    <li><a href="contact.html">contact</a></li>
                                                    <li><a href="404.html">404</a></li>
                                                </ul>
                                                <!-- Mobile Menu Dropdown End -->
                                            </li>
                                            <li><a href="accessories.html">shop</a></li>
                                            <li><a href="accessories.html">accessories</a></li>
                                            <li><a href="accessories.html">gifts</a></li>
                                            <li><a href="accessories.html">tools</a></li>
                                            <li><a href="contact.html">contact us</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Mobile Menu  End -->
                            </div>
                            <!-- Header Middle Menu End -->
                        </div>
                        <!-- Row End -->
                    </div>
                    <!-- Container End -->
                </div>
                <!-- Header Middle End -->
                <!-- Header Bottom Start -->
                <div class="container">
                    <div class="header-bottom pb-30">
                        <div class="blue-bg">
                            <div class="row">
                                <!-- Primary Vertical-Menu Start -->
                                <div class="col-lg-3 col-md-4 col-sm-4 hidden-sm hidden-xs">
                                    <div class="vertical-menu">
                                        <span class="categorie-title">الخدمات الدائمة والمؤقتة</span>
                                        <nav>
                                            <ul class="vertical-menu-list menu-hideen">
                                                @foreach (var item in ViewBag.Cat)
                                                {

                                                    <li>
                                                        <a href="~/Services/Donators/@item.ID?type=d"><span><img src="@item.Photo" alt="menu-icon"></span><span>@item.Name </span><span>(@item.Donators.Count)</span></a>
                                                        <!-- Vertical Mega-Menu Start -->
                                                        <ul class="ht-dropdown megamenu">
                                                            <!-- Mega-Menu Three Column Start -->
                                                            <li class="megamenu-three-column pb-20 fix">
                                                                <ul>
                                                                    <!-- Single Column Start -->

                                                                    <li>

                                                                        <ul>
                                                                            @foreach (var item2 in item.Donators)
                                                                            {


                                                                                <li><a href="~/Services/Details/@item2.ID"><span><img src="@item2.Photo" alt="menu-icon"></span>@item2.OrgName</a></li>
                                                                            }
                                                                        </ul>
                                                                    </li>


                                                                    <!-- Single Column End -->
                                                                    <!-- Single Column Start -->
                                                                    <!-- Single Column End -->
                                                                    <!-- Single Column Start -->
                                                                    <!-- Single Column End -->
                                                                </ul>
                                                            </li>
                                                            <!-- Mega-Menu Three Column End -->

                                                        </ul>
                                                        <!-- Vertical Mega-Menu End -->
                                                    </li>
                                                }


                                                @*<li>
                                                        <a href="accessories.html"><span><img src="img/vertical-menu/2.png" alt="menu-icon"></span>Electronics & Computer</a>
                                                        <!-- Vertical Mega-Menu Start -->
                                                        <ul class="ht-dropdown megamenu megamenu-two">
                                                            <!-- Mega-Menu Three Column Start -->
                                                            <li class="megamenu-three-column fix">
                                                                <ul>
                                                                    <!-- Single Column Start -->
                                                                    <li>
                                                                        <h3>samrt phone</h3>
                                                                        <ul>
                                                                            <li><a href="shop.html">apple</a></li>
                                                                            <li><a href="shop.html">motorola</a></li>
                                                                            <li><a href="shop.html">samsung</a></li>
                                                                            <li><a href="shop.html">htc</a></li>
                                                                            <li><a href="shop.html">sony</a></li>
                                                                            <li><a href="shop.html">s-phone</a></li>
                                                                            <li><a href="shop.html">asus</a></li>
                                                                            <li><a href="shop.html">nokia</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <!-- Single Column End -->
                                                                    <!-- Single Column Start -->
                                                                    <li>
                                                                        <h3>camera</h3>
                                                                        <ul>
                                                                            <li><a href="shop.html">canon</a></li>
                                                                            <li><a href="shop.html">samsung</a></li>
                                                                            <li><a href="shop.html">nikon</a></li>
                                                                            <li><a href="shop.html">apple</a></li>
                                                                            <li><a href="shop.html">toshiba</a></li>
                                                                            <li><a href="shop.html">hp</a></li>
                                                                            <li><a href="shop.html">nokia</a></li>
                                                                            <li><a href="shop.html">sony</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <!-- Single Column End -->
                                                                    <!-- Single Column Start -->
                                                                    <li class="mega-image zoom">
                                                                        <ul>
                                                                            <li>
                                                                                <a href="#"><img class="img" src="img/menu/3.jpg" alt="menu-image"></a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#"><img class="img" src="img/menu/4.jpg" alt="menu-image"></a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#"><img class="img" src="img/menu/2.jpg" alt="menu-image"></a>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <!-- Single Column End -->
                                                                </ul>
                                                            </li>
                                                            <!-- Mega-Menu Three Column End -->
                                                        </ul>
                                                        <!-- Vertical Mega-Menu End -->
                                                    </li>
                                                    <li>
                                                        <a href="accessories.html"><span><img src="img/vertical-menu/3.png" alt="menu-icon"></span>Decor & Furniture</a>
                                                        <!-- Vertical Mega-Menu Start -->
                                                        <ul class="ht-dropdown megamenu megamenu-two megamenu-three">
                                                            <!-- Mega-Menu Two Column Start -->
                                                            <li class="megamenu-three-column fix">
                                                                <ul>
                                                                    <!-- Single Column Start -->
                                                                    <li>
                                                                        <h3>bedroom</h3>
                                                                        <ul>
                                                                            <li><a href="shop.html">Platform Beds</a></li>
                                                                            <li><a href="shop.html">Storage Beds</a></li>
                                                                            <li><a href="shop.html">Brown Finish</a></li>
                                                                            <li><a href="shop.html">Distressed</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <!-- Single Column End -->
                                                                    <!-- Single Column Start -->
                                                                    <li>
                                                                        <h3>living room</h3>
                                                                        <ul>
                                                                            <li><a href="shop.html">armchairs</a></li>
                                                                            <li><a href="shop.html">bedspread</a></li>
                                                                            <li><a href="shop.html">wardrobe</a></li>
                                                                            <li><a href="shop.html">trunk</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <!-- Single Column End -->
                                                                </ul>
                                                            </li>
                                                            <!-- Mega-Menu Two Column End -->
                                                        </ul>
                                                        <!-- Vertical Mega-Menu End -->
                                                    </li>
                                                    <li>
                                                        <a href="accessories.html"><span><img src="img/vertical-menu/4.png" alt="menu-icon"></span>Toy, Kids & Baby</a>
                                                        <!-- Vertical Mega-Menu Start -->
                                                        <ul class="ht-dropdown megamenu">
                                                            <!-- Mega-Menu Three Column Start -->
                                                            <li class="megamenu-three-column fix">
                                                                <ul>
                                                                    <!-- Single Column Start -->
                                                                    <li>
                                                                        <h3>toy gift sets</h3>
                                                                        <ul>
                                                                            <li><a href="shop.html">bths toys</a></li>
                                                                            <li><a href="shop.html">balls</a></li>
                                                                            <li><a href="shop.html">mirrors</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <!-- Single Column End -->
                                                                    <!-- Single Column Start -->
                                                                    <li>
                                                                        <h3>teethers</h3>
                                                                        <ul>
                                                                            <li><a href="shop.html">rattles</a></li>
                                                                            <li><a href="shop.html">shape sorters</a></li>
                                                                            <li><a href="shop.html">stick horses</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <!-- Single Column End -->
                                                                    <!-- Single Column Start -->
                                                                    <li>
                                                                        <h3>teaching clocks</h3>
                                                                        <ul>
                                                                            <li><a href="shop.html">Spinning Tops</a></li>
                                                                            <li><a href="shop.html">Crib Toys</a></li>
                                                                            <li><a href="shop.html">Car Seat</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <!-- Single Column End -->
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                        <!-- Vertical Mega-Menu End -->
                                                    </li>
                                                    <li>
                                                        <a href="accessories.html"><span><img src="img/vertical-menu/5.png" alt="menu-icon"></span>Home, Garden & Tools</a>
                                                        <!-- Vertical Mega-Menu Start -->
                                                        <ul class="ht-dropdown megamenu">
                                                            <!-- Mega-Menu Three Column Start -->
                                                            <li class="megamenu-three-column fix">
                                                                <ul>
                                                                    <!-- Single Column Start -->
                                                                    <li>
                                                                        <h3>Digging Tools</h3>
                                                                        <ul>
                                                                            <li><a href="shop.html">Round Shovels</a></li>
                                                                            <li><a href="shop.html">Square Shovels</a></li>
                                                                            <li><a href="shop.html">spades</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <!-- Single Column End -->
                                                                    <!-- Single Column Start -->
                                                                    <li>
                                                                        <h3>rakes</h3>
                                                                        <ul>
                                                                            <li><a href="shop.html">Leaf Rakes</a></li>
                                                                            <li><a href="shop.html">Landscaping Rakes</a></li>
                                                                            <li><a href="shop.html">Shrub Rakes</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <!-- Single Column End -->
                                                                    <!-- Single Column Start -->
                                                                    <li>
                                                                        <h3>Striking Tools</h3>
                                                                        <ul>
                                                                            <li><a href="shop.html">Sledge Hammers</a></li>
                                                                            <li><a href="shop.html">Axes</a></li>
                                                                            <li><a href="shop.html">Mallets</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <!-- Single Column End -->
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                        <!-- Vertical Mega-Menu End -->
                                                    </li>
                                                    <li>
                                                        <a href="accessories.html"><span><img src="img/vertical-menu/6.png" alt="menu-icon"></span>Sport & Outdoors</a>
                                                        <!-- Vertical Mega-Menu Start -->
                                                        <ul class="ht-dropdown megamenu">
                                                            <!-- Mega-Menu Three Column Start -->
                                                            <li class="megamenu-three-column fix">
                                                                <ul>
                                                                    <!-- Single Column Start -->
                                                                    <li>
                                                                        <h3>Outdoor Apparel</h3>
                                                                        <ul>
                                                                            <li><a href="shop.html">base layers</a></li>
                                                                            <li><a href="shop.html">mid-layers</a></li>
                                                                            <li><a href="shop.html">shells</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <!-- Single Column End -->
                                                                    <!-- Single Column Start -->
                                                                    <li>
                                                                        <h3>Skis & Snowboard</h3>
                                                                        <ul>
                                                                            <li><a href="shop.html">Nordica Enforcer 93</a></li>
                                                                            <li><a href="shop.html">Stockli Laser AX</a></li>
                                                                            <li><a href="shop.html">Salomon QST</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <!-- Single Column End -->
                                                                    <!-- Single Column Start -->
                                                                    <li>
                                                                        <h3>bikes</h3>
                                                                        <ul>
                                                                            <li><a href="shop.html">wheels</a></li>
                                                                            <li><a href="shop.html">winter</a></li>
                                                                            <li><a href="shop.html">grids</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <!-- Single Column End -->
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                        <!-- Vertical Mega-Menu End -->
                                                    </li>
                                                    <li><a href="accessories.html"><span><img src="img/vertical-menu/7.png" alt="menu-icon"></span>Gifts, Parties & Holiday</a></li>
                                                    <!-- More Categoies Start -->
                                                    <li id="cate-toggle" class="category-menu">
                                                        <ul>
                                                            <li class="has-sub">
                                                                <a href="#">More Categories</a>
                                                                <ul class="category-sub">
                                                                    <li><span><img src="img/vertical-menu/5.png" alt="menu-icon"></span> <a href="accessories.html">Accessories</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>*@
                                                <!-- More Categoies End -->
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <!-- Primary Vertical-Menu End -->
                                <!-- Search Box Start -->
                                <div class="col-lg-7 col-md-5 col-sm-8">
                                    <div class="search-box-view fix mr-40 mt-10">
                                        <form action="#">
                                            <input type="text" class="email" placeholder="اكتب هنا للبحث....." name="email" id="search">
                                            <button type="submit" class="submit"></button>
                                        </form>
                                    </div>
                                </div>
                                <!-- Search Box End -->
                                <!-- Cartt Box Start -->
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <div class="cart-box hidden-xs mt-10">
                                        <ul>
                                            <li>
                                                <a href="#"><span class="cart-text">@*my cart*@</span><span class="cart-counter">@*2 item(s)*@</span></a>
                                                @*<ul class="ht-dropdown main-cart-box">
                                                        <li>
                                                            <!-- Cart Box Start -->
                                                            <div class="single-cart-box">
                                                                <div class="cart-img">
                                                                    <a href="#"><img src="img/menu/5.jpg" alt="cart-image"></a>
                                                                </div>
                                                                <div class="cart-content">
                                                                    <h6><a href="#">Alpha Block Black Polo T-Shirt</a></h6>
                                                                    <span>1 × $399.00</span>
                                                                </div>
                                                                <a class="del-icone" href="#"><i class="zmdi zmdi-close-circle-o"></i></a>
                                                            </div>
                                                            <!-- Cart Box End -->
                                                            <!-- Cart Box Start -->
                                                            <div class="single-cart-box">
                                                                <div class="cart-img">
                                                                    <a href="#"><img src="img/menu/6.jpg" alt="cart-image"></a>
                                                                </div>
                                                                <div class="cart-content">
                                                                    <h6><a href="#">Red Printed Round Neck T-Shirt</a></h6>
                                                                    <span>2 × $299.00</span>
                                                                </div>
                                                                <a class="del-icone" href="#"><i class="zmdi zmdi-close-circle-o"></i></a>
                                                            </div>
                                                            <!-- Cart Box End -->
                                                            <!-- Cart Footer Inner Start -->
                                                            <div class="cart-footer fix">
                                                                <h5>total :<span class="f-right">$698.00</span></h5>
                                                                <div class="cart-actions">
                                                                    <a class="checkout" href="checkout.html">Checkout</a>
                                                                </div>
                                                            </div>
                                                            <!-- Cart Footer Inner End -->
                                                        </li>
                                                    </ul>*@
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Cartt Box End -->
                            </div>
                            <!-- Row End -->
                        </div>
                        <!-- Container End -->
                    </div>
                </div>
                <!-- Header Bottom End -->
                <!-- Fixed Social Icon Start -->
                <div class="fixed-icon hidden-xs">
                    <ul class="fixed-icon-list">
                        <li>
                            <div class="fixed-icon hidden-xs">
                                @{ Html.RenderAction("Socialmedia", "Home");}
                            </div>
                        </li>
                        @*<li><a href="#" data-toggle="tooltip" title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Google"><i class="zmdi zmdi-google"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Youtube"><i class="zmdi zmdi-youtube"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Instagram"><i class="zmdi zmdi-instagram"></i></a></li>*@
                    </ul>
                </div>
                <!-- Fixed Social Icon End -->
            </header>
            <!-- Header Area End -->
            @RenderBody()

            <!-- Footer Start -->




            <div class="subscribe blue-bg ptb-15">
                <div class="container">
                    <div class="row">
                        <!-- Subscribe Box Start -->
                        <!-- Subscribe Box End -->
                        <!-- Social Follow Start -->
                        <div class="col-sm-12">
                            <div class="col-lg-4"></div>
                            <div class="social-follow fa-align-center">
                                <h3>  حسابات التواصل</h3>
                                <!-- Follow Box End -->
                                <ul class="follow-box">
                                    <li> @{ Html.RenderAction("Socialmedia", "Home");}</li>
                                    @*<li><a href="#"><i class="zmdi zmdi-google"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-youtube"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>*@
                                </ul>
                                <!-- Follow Box End -->
                            </div>
                        </div>
                        <!-- Social Follow Start -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <footer>
                <!-- Footer Top Start -->
                <div class="footer-top ptb-40">
                    <div class="container">
                        <div class="row">
                            <!-- Single Footer Start -->
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="single-footer">
                                    <div class="footer-logo mb-20">
                                        <a href="#"><img class="img" src="~/WebsiteScript/images/logo.png" alt="logo-img"></a>
                                    </div>
                                    <div class="footer-content">
                                        <ul class="footer-list first-content">
                                            <li>
                                                <div class="footer-content">
                                                    @Html.Action("contactinfo", "Home", new { id = 0 })
                                                </div>
                                            </li>

                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Start -->
                            <!-- Single Footer Start -->
                            <div class="col-lg-3 col-md-2 col-sm-6">
                                <div class="single-footer">
                                    <h3 class="footer-title">الفروع </h3>
                                    <div class="footer-content">
                                        <ul class="footer-list">
                                            @Html.Action("Branches", "Home", new { id = 0 })

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Start -->
                            <!-- Single Footer Start -->
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="single-footer">
                                    <h3 class="footer-title">المناطق </h3>
                                    <div class="footer-content">
                                        <ul class="footer-list">
                                            @Html.Action("RegionLayout", "Services")

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Start -->
                            <!-- Single Footer Start -->
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="single-footer">
                                    <h3 class="footer-title">الخدمات المستقبليه</h3>
                                    <div class="footer-content">
                                        <ul class="footer-list">
                                            @Html.Action("FeatureService", "Home")

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Footer Start -->
                        </div>
                        <!-- Row End -->
                    </div>
                    <!-- Container End -->
                </div>
                <!-- Footer Top End -->
                <!-- Footer Middle Start -->
                <div class="footer-middle">
                    <div class="container white-bg">
                        <div class="ptb-20">
                            <div class="row">
                                <!-- Single Payment Service Start -->
                                <div class="col-sm-4">
                                    <div class="single-service mr-15">
                                        <div class="service-des">
                                            <h3>safe-payments</h3>
                                            <p>Pay with the world’s most popular and secure payment methods.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Payment Service End -->
                                <!-- Single Payment Service Start -->
                                <div class="col-sm-4">
                                    <div class="single-service serve-two">
                                        <div class="service-des">
                                            <h3>Worldwide Delivery</h3>
                                            <p>With sites in 5 languages, we shop to over 100 countries and regions.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Payment Service End -->
                                <!-- Single Payment Service Start -->
                                <div class="col-sm-4">
                                    <div class="single-service serve-three">
                                        <div class="service-des">
                                            <h3>24/7 Help Center</h3>
                                            <p>Round-the-clock assistance for a smooth shopping experience.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Payment Service End -->
                            </div>
                            <!-- Row End -->
                        </div>
                    </div>
                    <!-- Container End -->
                </div>
                <!-- Footer Middle End -->
                <!-- Footer Bottom Start -->
                <div class="footer-bottom ptb-30">
                    <div class="container">
                        <p class="f-left">Copyright © 2017 <a href="https://devitems.com">Devitems</a> All Rights Reserved.</p>
                        <a class="f-right img" href="#"><img src="~/WebsiteScript/img/footer/1.png" alt="payment-image"></a>
                    </div>
                    <!-- Container End -->
                </div>
                <!-- Footer Bottom End -->
            </footer>
            <!-- Footer End -->
        </div>

    </div>
    <!-- Wrapper End -->
    <!-- jquery 3.12.4 -->
    <!-- mobile menu js  -->
    @*<script src="~/WebScript/js/vendor/jquery-1.12.4.min.js"></script>
        <!-- mobile menu js  -->
        <script src="~/WebScript/js/jquery.meanmenu.min.js"></script>
        <!-- scroll-up js -->
        <script src="~/WebScript/js/jquery.scrollUp.js"></script>
        <!-- owl-carousel js -->
        <script src="~/WebScript/js/owl.carousel.min.js"></script>
        <!-- countdown js -->
        <script src="~/WebScript/js/jquery.countdown.min.js"></script>
        <!-- wow js -->
        <script src="~/WebScript/js/wow.min.js"></script>
        <!-- price slider js -->
        <script src="~/WebScript/js/jquery-ui.min.js"></script>
        <!-- fancybox js -->
        <script src="~/WebScript/js/jquery.fancybox.min.js"></script>
        <!-- nivo slider js -->
        <script src="~/WebScript/js/jquery.nivo.slider.js"></script>
        <!-- bootstrap -->
        <script src="~/WebScript/js/bootstrap.min.js"></script>
        <!-- plugins -->
        <script src="~/WebScript/js/plugins.js"></script>
        <!-- main js -->
        <script src="~/WebScript/js/main.js"></script>*@


    <!-- Wrapper End -->
    <!-- jquery 3.12.4 -->


    <script src="~/WebSiteScript/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- mobile menu js  -->
    <script src="~/WebSiteScript/js/jquery.meanmenu.min.js"></script>
    <!-- scroll-up js -->
    <script src="~/WebSiteScript/js/jquery.scrollUp.js"></script>
    <!-- owl-carousel js -->
    <script src="~/WebSiteScript/js/owl.carousel.min.js"></script>
    <!-- countdown js -->
    <script src="~/WebSiteScript/js/jquery.countdown.min.js"></script>
    <!-- wow js -->
    <script src="~/WebSiteScript/js/wow.min.js"></script>
    <!-- price slider js -->
    <script src="~/WebSiteScript/js/jquery-ui.min.js"></script>
    <!-- fancybox js -->
    <script src="~/WebSiteScript/js/jquery.fancybox.min.js"></script>
    <!-- nivo slider js -->
    <script src="~/WebSiteScript/js/jquery.nivo.slider.js"></script>
    <!-- bootstrap -->
    <script src="~/WebSiteScript/js/bootstrap.min.js"></script>
    <!-- plugins -->
    <script src="~/WebSiteScript/js/plugins.js"></script>
    <!-- main js -->
    <script src="~/WebSiteScript/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>