﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    { @Html.AntiForgeryToken() }

            if (User.IsInRole("Admin"))
            {
            <li><a href="@Url.Action("Index", "Admin/Admin")" title="لوحة التحكم">لوحة التحكم</a></li>
            }
            if (User.IsInRole("Employee"))
            {
            <li><a href="@Url.Action("Index", "Employee/Empcpanel")" title="لوحة التحكم">لوحة التحكم</a></li>
            }
            if (User.IsInRole("Donator"))
            {
            <li><a href="@Url.Action("Index", "Donators/cpanel")" title="لوحة التحكم">لوحة التحكم</a></li>
            }
            if (User.IsInRole("Client"))
            {
            <li><a href="@Url.Action("Index", "Clients/ClientControlPanel")" title="لوحة التحكم">لوحة التحكم</a></li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()" title="تسجيل الخروج">تسجيل الخروج</a></li>
        
}
else
{
    <li><a href="@Url.Action("Login","Home")" title="تسجيل الدخول">تسجيل الدخول</a></li>
}



