﻿@using SaveIt.Entity
@model SaveIt.Entity.Donator
@{
    ViewBag.Title = "Edit";
}

<style>
    i {
        cursor: pointer;
    }
</style>

<div id="CreateCodition" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"> اضافة شرط الخدمة</h4>
            </div>
            @using (Html.BeginForm("CreateCondition", "CompleteDonatorInfo", FormMethod.Post))
            {

               
                @Html.Hidden("DonatorID", Model.ID)

                <div class="modal-body">

                    <div class="row" id="cond">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">شرط الخدمة  </label>
                                <input type="text" class="form-control" required name="Condition" placeholder="اكتب شرط الخدمة ">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-info" onclick="addcond()">المزيد</button>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
                </div>
            }

        </div>
    </div>
</div>

<div id="CreategeneralCodition" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة شرط الخدمة</h4>
            </div>
            @using (Html.BeginForm("creategeneralcon", "CompleteDonatorInfo", FormMethod.Post))
            {

                @Html.Hidden("DonatorID", Model.ID)

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">اختر الشروط العامة  </label>
                                <div class="row">
                                    @foreach (var item in (List<GeneralCondition>)ViewBag.cons)
                                    {
                                        string id = "mycheck" + item.ID;
                                        string id2 = "ch" + item.ID;
                                     
    <div class="col-sm-12" style="  margin-bottom: 8px;">
        <div class="col-xs-2" style="text-align: left">
            <input type="checkbox" name="check" id="@id2" onclick="getchecket(@item.ID)" style="width: 30px;height: 30px;" />
        </div>
        <div class="col-xs-10">
            <input type="text" class="form-control" disabled name="Condition" id="@id" value="@item.Condition">
        </div>
    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
                </div>
            }

        </div>
    </div>
</div>


<div id="EditCodition" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة شرط الخدمة</h4>
            </div>
            @using (Html.BeginForm("EditCondition", "CompleteDonatorInfo", FormMethod.Post))
            {

               <input name="ID" value="0" id="ID10" type="hidden"/>
            
                @Html.Hidden("DonatorID", Model.ID)

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">شرط الخدمة  </label>
                                <input type="text" class="form-control" required name="Condition" id="Condition1" placeholder="اكتب شرط الخدمة ">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
                </div>
            }

        </div>
    </div>
</div>

<div id="Createfeature" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة مميزات الخدمة</h4>
            </div>
            @using (Html.BeginForm("CreateFeature", "CompleteDonatorInfo", FormMethod.Post))
            {

             
                @Html.Hidden("DonatorID", Model.ID)

                <div class="modal-body">

                    <div class="row" id="feats">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label"> مميزات الخدمة  </label>
                                <input type="text" class="form-control" required name="Feature"  placeholder="اكتب مميزات الخدمة ">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-info" onclick="addfeats()">المزيد</button>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
                </div>
            }

        </div>
    </div>
</div>


<div id="Editfeature" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"> تعديل مميزات الخدمة</h4>
            </div>
            @using (Html.BeginForm("EditFeature", "CompleteDonatorInfo", FormMethod.Post))
            {

               
                <input name="ID" value="0" id="ID6" type="hidden"/>
             
                @Html.Hidden("DonatorID", Model.ID)

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label"> مميزات الخدمة  </label>
                                <input type="text" class="form-control" required name="Feature" id="Feature2" placeholder="اكتب مميزات الخدمة ">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
                </div>
            }

        </div>
    </div>
</div>

<div id="Creatework" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة مواعيد الخدمة</h4>
            </div>
            @using (Html.BeginForm("CreateWork", "CompleteDonatorInfo", FormMethod.Post))
            {

              
                @Html.Hidden("DonatorID", Model.ID)

                <div class="modal-body">

                    <div class="row" id="work">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Name" class="control-label"> من الساعة </label>
                                <input type="text" class="form-control" required name="ValidFrom" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Name" class="control-label">الي الساعة  </label>
                                <input type="text" class="form-control" required name="validto" >
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-info" onclick="addwork()">المزيد</button>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
                </div>
            }

        </div>
    </div>
</div>


<div id="Eitwork" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة مواعيد الخدمة</h4>
            </div>
            @using (Html.BeginForm("EditWork", "CompleteDonatorInfo", FormMethod.Post))
            {

              
                <input name="ID" value="0" id="ID30" type="hidden"/>
               
                @Html.Hidden("DonatorID", Model.ID)

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Name" class="control-label"> من الساعة </label>
                                <input type="text" class="form-control" required name="ValidFrom" id="ValidFrom3">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Name" class="control-label">الي الساعة  </label>
                                <input type="text" class="form-control" required name="validto" id="validto3">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
                </div>
            }

        </div>
    </div>
</div>


<div class="card-box">
    <div  class="validation-summary-errors10"></div>
    <table class="table table-hover">
        <tr>
          
            <th> الشروط الخدمات</th>
            <th>مميزات الخدمات</th>
            <th>اوقات العمل</th>

        </tr>
        <tr>
            <td>
                <div>
                    <i class="btn-info fa fa-plus-square-o" data-toggle="modal" data-target="#CreateCodition" >الشروط الخاصة</i>
                    <i class="btn-info fa fa-plus-square-o" data-toggle="modal" data-target="#CreategeneralCodition" >الشروط العامة</i>
                </div>
                @if (Model.CondetionServices != null)
                {
                    <ol>
                        @foreach (var condetionService in Model.CondetionServices)
                        {
                            string idcon = "con" + condetionService.ID;
                            <li id="@idcon">
                                <i class="btn-success fa fa-pencil-square-o" data-toggle="modal" data-target="#EditCodition" onclick="getcondtion(@condetionService.ID,'@condetionService.Condition')"></i>
                                <i class="btn-danger fa fa-trash-o" onclick="deletecondition(@condetionService.ID)"></i>
                                <span>@condetionService.Condition</span>
                            </li>
                        }
                    </ol>
                }
            </td>
            <td>
                <div>
                    <i class="btn-info fa fa-plus-square-o" data-toggle="modal" data-target="#Createfeature" ></i>
                </div>
                @if (Model.FeatureServices != null)
                {
                    <ol>
                        @foreach (var feature in Model.FeatureServices)
                        {
                            string idcon = "fet" + feature.ID;
                            <li id="@idcon">
                                <i class="btn-success fa fa-pencil-square-o" data-toggle="modal" data-target="#Editfeature" onclick="getfeature(@feature.ID,'@feature.Feature')"></i>
                                <i class="btn-danger fa fa-trash-o" onclick="deletefeature(@feature.ID)"></i>
                                <span>@feature.Feature</span>
                            </li>
                        }
                    </ol>
                }
            </td>
            <td>
                <div>
                    <i class="btn-info fa fa-plus-square-o" data-toggle="modal" data-target="#Creatework"></i>
                </div>
                @if (Model.WorkCalenders != null)
                {
                    <ol>
                        @foreach (var work in Model.WorkCalenders)
                        {
                            string idcon = "work" + work.ID;
                            <li id="@idcon">
                                <i class="btn-success fa fa-pencil-square-o" data-toggle="modal" data-target="#Eitwork" onclick="getwork(@work.ID,'@work.ValidFrom','@work.validto')"></i>
                                <i class="btn-danger fa fa-trash-o" onclick="deletework(@work.ID)"></i>
                                <span>@work.ValidFrom => @work.validto</span>
                            </li>
                        }
                    </ol>
                    
                }
            </td>

        </tr>
        

    </table>
</div>
