﻿@model IEnumerable<IGrouping<SaveIt.Entity.Card,SaveIt.Entity.EvaluationClient>>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> سجل تقييم  @ViewBag.name</h4>
        </div>
    </div>
</div>



@Html.ValidationSummary(true)
<style>
    .fa-star,.fa-star-o{
           color: #FFC107;
           font-size: 17px;
    }
</style>
<div class="card-box">

    <table class="table table-hover">
        <tr>
          
            <th>اسم العميل</th>
            <th>التقييم</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
   
                <td class="OwnName">@item.Key.Name</td>
                <td class="">
                @{ 
                    double total = 0;
                    var sum = item.Sum(c => c.Evaluate);
                    var count = item.Count();
                    if (count == 0) { count = 1; }
                    total = sum / count;
                 }
                    @*@total*@
                    @if (total > 4)
                    {
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    }
                    else if (total > 3)
                    {
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    }
                    else if (total > 2)
                    {
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    }
                    else if (total > 1)
                    {
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    }
                    else if (total == 0)
                    {
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    }
                    else
                    {
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star"></i>
                    }
                </td>
              
            </tr>
        }

    </table>
</div>



@section Scripts{
<script src="~/Scripts/ckeditor/ckeditor.js"></script>

    <script>
        function GetFilter() {
            var Region = $("#Region").val();
            document.location.href = "/Employee/Donators/Index?Region=" + Region;
        }
 
        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذه المانح ؟')) {
                $.ajax({
                    url:  "/Employee/Donators/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف المانح</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه المانح  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>هذه المانح مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

    </script>
}