﻿@model IEnumerable<SaveIt.Entity.Donator>
@using  SaveIt.Infrastructure

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> ادارة  المانحين</h4>
        </div>
    </div>
</div>

<a href="@Url.Action("Edits")" class="btn btn-info waves-effect waves-light m-b-5" > <i class="fa fa-plus m-r-5"></i> <span>اضافة مانح</span> </a>


@Html.ValidationSummary(true)
<style>
    .fa-star,.fa-star-o{
           color: #FFC107;
           font-size: 17px;
    }
</style>
<div class="card-box">
    <div class="row">
        <div class="col-sm-3 ">
            <label class="text-right" style="margin-top:10px; width:100%">حدد المنطقة</label>
        </div>
        <div class="col-sm-6">
            @Html.DropDownList("Region", null, "كل المناطق", new { @class = "form-control", @onchange = "GetFilter()" })
        </div>
       
    </div>
    <br />
    <table class="table table-hover">
        <tr>
            <th>
                <i class="fa fa-cog"></i>
            </th>
            <th>اسم المالك</th>
            <th>اسم المنظمة </th>
            <th>اسم المسؤول</th>
            <th>رقم السجل</th>
            <th>التقييم</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="@item.ID">
                <td>
                    @if (item.IsActive == 1)
                    {
                      <i class="fa fa-check-square-o" style="color:yellowgreen;"></i>
                    }
                    else if (item.IsActive == 2)
                    {
                        <i class="fa fa-check-square" style="color:green;"></i>
                    }
                    else if (item.IsActive == -1)
                    {
                        <i class="fa fa-plus-square" style="color:red;"></i>
                    }
                    else
                    {
                        <i class="fa fa-square" style="color:yellow;"></i>
                    }
                </td>
                <td class="OwnName">@item.OwnName</td>
                <td class="OrgName">@item.OrgName</td>
                <td class="ResponsableName">@item.ResponsableName</td>
                <td class="BookName">@item.BookName</td>
                <td class="">
                @{ 
                    double total = 0;
                    var sum = item.EvaluationClients.Sum(c => c.Evaluate);
                    var count = item.EvaluationClients.Count;
                    if (count == 0) { count = 1; }
                    total = sum / count;
                 }
                    @*@total*@
                    @if (total > 4)
                    {
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    }
                    else if (total > 3)
                    {
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    }
                    else if (total > 2)
                    {
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    }
                    else if (total > 1)
                    {
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    }
                    else if (total == 0)
                    {
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    }
                    else
                    {
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star"></i>
                    }
                </td>
                <td>
                    <div  class="btn btn-warning waves-effect waves-light m-b-5">  @Html.EncodedActionLink("سجل التقييمات", "Evaluation", "Donators", new { Area = "Employee", Id = item.ID }, new {      @class="btn btn-warning waves-effect waves-light m-b-5" })   </div>
                    

                    <div class="btn btn-primary waves-effect waves-light m-b-5" > @Html.EncodedActionLink("تفاصيل المناح", "Details", "Donators", new { Area = "Employee", Id = item.ID }, new { @class = "btn btn-warning waves-effect waves-light m-b-5" }) </div>
                    <a class="btn btn-info waves-effect waves-light m-b-5" @Html.EncodedActionLink(" ", "Index", "DonatorsBranches", new { Area = "Employee", Id = item.ID }, new { @class = "btn btn-warning waves-effect waves-light m-b-5" })>الفروع</a>
                      <a class="btn btn-success waves-effect waves-light m-b-5"  @Html.EncodedActionLink(" تعديل", "Edits", "Donators", new { Area = "Employee", Id = item.ID }, new { @class = "btn btn-warning waves-effect waves-light m-b-5" }) ></a>
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitem(@item.ID)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>

                </td>
            </tr>
        }

    </table>
</div>



@section Scripts{
<script src="~/Scripts/ckeditor/ckeditor.js"></script>

    <script>
        function GetFilter() {
            var Region = $("#Region").val();
            document.location.href = "/Employee/Donators/Index?Region=" + Region;
        }
 
        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذه المانح ؟')) {
                $.ajax({
                    url:  "/Employee/Donators/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف المانح</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه المانح  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>هذه المانح مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

    </script>
}