﻿@using SaveIt.Entity
@model IEnumerable<Product>


@foreach (var item in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product">
            <div class="thumbnail">
                @Html.Hidden("PID", item.ID)
                <img src="@item.Photo" atl="" class="img-fluid">
                <div class="discount">
                    <p>
                        <span>
                            @item.Discount%
                        </span>
                    </p>
                </div>
            </div>
            <div class="discription">
                <h5>
                    @item.Name
                </h5>
                <p class="price">
                    <span class="old">
                        @item.Price
                        ريال
                    </span>
                    <span class="new">
                        @(item.Price - (item.Discount * item.Price) / 100)
                        ريال
                    </span>
                </p>

                @if (User.Identity.IsAuthenticated)
                {
                    <a id="@item.ID" onclick="clo(this.id)">

                        <i class="fa fa-cart-plus"></i>
                    </a>
                }
                else
                {
                    <a id="@item.ID" data-toggle="modal" data-target="#mdlLog">
                        <i class="fa fa-cart-plus"></i>
                    </a>
                }
            </div>
        </div>
    </div>
}

<!-- Modal 1-->
<div class="modal fade bd-example-modal-lg" id="mdlLog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="tabs">
                <button class="log">تسجيل الدخول</button>
                <button class="reg">تسجيل كمستخدم جديد</button>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        ادخل بياناتك
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="regModal modal-body">
                    @Html.Action("_Cart1", "Services")
                </div>

            </div>
            <div class="logModal modal-body">
                @Html.Action("_Cart2", "Services")

            </div>
        </div>

    </div>
</div>

<script>
    function clo(id) {

            $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("AddToCart","Home")',
                type: "get",
                dataType: "json",
                data: { pid: id },
                success: function (data) {
                      alert("تم اضافه المنتج الى العربه");
                },
                error: function () {
                }
                });
            });
        }
</script>