﻿@model IEnumerable<SaveIt.Entity.EvaluationClient>
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="#">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                عن وفر
            </li>
        </ol>
    </nav>
</section>

<!-- Banner -->
<section class="Banner text-center">
    <div class="Banner-Box">
        <p>
            عن وفر
        </p>
        <h2>
            اعرف المزيد عن وفر
        </h2>
    </div>
</section>

<!-- About -->
<section class="About">
    <div class="container-fluid p-0">
        <div class="row no-gutters m-0">
            <div class="col-sm-6">
                <div class="AboutImage h-100">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="AboutContent">
                    <h3>
                        تعرف على وفر
                    </h3>
                    <p>
                        بطاقة عضوية تساهم في توفير إحتياجات الشخص اليومية بالإضافة للخصومات العديدة في أماكن مختلفة ومن خلالها يمكنك توفير ميزانيتك الشهرية تضامنا مع رؤية المملكة العربية السعودية وبطاقة وفر هي بطاقة خصومات مباشرة تقدم فوائد كبيرة لطرفي العملية التجارية حيث سيحصل حامل البطاقة المشترى على مجموعة من الخصومات والعروض المذهلة والحصرية لدى بطاقة وفر. وتعد البطاقة خطوة مهمة جدا في دعم المستهلك سواء المواطنين او المقيمين داخل المدينه المنوره . وتدعم البطاقة كافة شرائح المجتمع على التسوق والتوفير لدى عدد كبير ومتنوع من المحلات والشركات والمتاجر . إنفاق المال أمر لا مفر منه، لكنه يصبح أكثر متعة عندما تمتلك بطاقة وفر تكافئك بعروض وخصومات هائلة لأكثر من 60 جهة مانحه للخصومات . بطاقة وفر هي بطاقة متعددة الأغراض والغرض الرئيسي من اصدار هذه البطاقة هو توفير راحة أكبر وتسهيلات أكثر للعملاء وقد حرصنا على تنوع مجالات الخدمات التي تقدمها بطاقة وفر وذلك لتلبية كافة احتياجات العملاء وتطلعاتهم. تمتعوا بأفضل التخفيضات والعروض التي صممت خصيصاً لتلبي احتياجاتك عند استخدامك بطاقة وفر
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial -->
<section class="Testimonial">
    <div class="container">
        <div class="div-Title">
            <h3>
                انضم الي اكثر من 500,000 عميل
            </h3>
            <p>
                انضم الي اكثر من 500,000 مشترك
            </p>
        </div>
        <div class="testimonialCarosal">
            @foreach (var item in Model)
            {
                <div class="Custmer-testimonial">
                    <div class="Custmer-testimonial-Info">
                        <h5>
                            @item.Donator.OwnName
                        </h5>
                        <div class="ratingStars">
                            <div class="stars" id="rateYo"></div>
                            <p class="none">@item.Evaluate</p>
                        </div>
                    </div>
                    @*<div class="d-block Custmer-testimonial-Comment">
                            خدمة عملاء وفر كارد خدمة ممتازة… شكرا وفر كارد على هذه التجربه الرائعه
                        </div>*@
                </div>
            }


        </div>
    </div>
</section>

<!-- Counting -->
<section class="Counting">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="Count">
                    <div class="icon">
                        <i class="fa fa-group cherry-icon center  icon-166"></i>
                    </div>
                    <h3>
                        المانحين
                        <br>
                        <span class="timer">@ViewBag.DontsNo</span>
                    </h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="Count">
                    <div class="icon">
                        <i class="fa fa-institution cherry-icon center  icon-123"></i>
                    </div>
                    <h3>
                        المشتركين
                        <br>
                        <span class="timer">@ViewBag.Subs</span>
                    </h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="Count">
                    <div class="icon">
                        <i class="fa fa-money cherry-icon center  icon-387"></i>
                    </div>
                    <h3>
                        الخصومات تصل الي
                        <br>
                        <span class="timer">%@ViewBag.Disc</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
