﻿@model SaveIt.Entity.Ws_Contactus
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="#">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                اتصل بنا
            </li>
        </ol>
    </nav>
</section>
<section class="serve">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3711687.254404913!2d45.6044260566009!3d24.703023587067097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zINin2YTZhdiv2YrZhtipINin2YTZhdmG2YjYsdipLSDZhdiu2LfYtyDYp9mE2LnZhtiy2YotINiq2YLYp9i32Lkg2YPYqNix2Yog2KfZhNix2YrYp9i2!5e0!3m2!1sar!2seg!4v1524578377646" allowfullscreen></iframe>
</section>
<section class="infosection">
    <div class="forsection2">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fontcont">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <p class="infopargraph">العنوان : المدينة المنورة- مخطط العنزي- تقاطع كبري الرياض</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fontcont">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <p class="infopargraph">
                        رقم الجوال : 920009813<br>
                        رقم الهاتف : 0148493111
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fontcont">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <p class="infopargraph">
                        البريد الألكتروني:
                        <br>info@Waffer.com
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fontcont">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <p class="infopargraph">مواعيد العمل:<br>24ساعة</p>
                </div>
            </div>

        </div>
    </div>
    <section class="supsection">
        <div class="container">
            <h2>هل لديك أي استفسارات أخري؟ قم بملئ الاستمارة للتواصل معنا</h2>
            <br />
            <h3>تواصل معنا</h3>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-row">
                    <div class="form-group col-md-4 col-sm-6 col-xs-12 marginform">
                        <label for="inputEmail4">إسم المستخدم</label>
                        @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", required = "required", type = "text" })

                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-xs-12 marginform">
                        <label for="inputEmail4">رقم الجوال</label>
                        @Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "form-control", required = "required", type = "text" })
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-xs-12 marginform">
                        <label for="inputEmail4">البريد الالكترونى</label>
                        @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control", required = "required", type = "email" })
                    </div>
                    <div class="form-group col-12">
                        <label for="exampleFormControlTextarea1">أكتب رسالتك</label>
                        @Html.TextAreaFor(model => model.Messages, htmlAttributes: new { @class = "form-control", required = "required", type = "text" })

                    </div>

                </div>



                <div class="col-12">
                    <button type="submit" class="forbtnstyle btn btn-primary" style="text-align:center">إرسل الان</button>
                </div>
            }

        </div>
    </section>
</section>

