﻿@model SaveIt.Models.Cardss
@{
    ViewBag.Title = "DemondCard";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="#">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                احجز بطاقتك
            </li>
        </ol>
    </nav>
</section>


<section class="serve"></section>

<section class="infosection">
    <div class="forsection2">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fontcont">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                    <p class="infopargraph">ادخل بياناتك</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fontcont">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <p class="infopargraph">يتم الاتصال بك فى خلال 48 ساعة</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fontcont">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </div>
                    <p class="infopargraph">تحصل على شرح وافى لكل مزايا العضوية</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fontcont">
                        <i class="fa fa-id-card" aria-hidden="true"></i>
                    </div>
                    <p class="infopargraph">يصل كارد العضوية اينما تريد</p>
                </div>
            </div>

        </div>
    </div>




    <div class="supsection">
        <div class="container">
            <h2>انضم الى اكثر من 500 الف عضو و ابدء التوفير</h2>
            <h3>اشترك الآن</h3>
            <p style="color:red">@ViewBag.Error</p>
            <div class="form-row formstyle">
                @Html.ValidationSummary(true)
                @using (Html.BeginForm("DemondCard", "Home", FormMethod.Post, new { @class = "fw" }))
                {

                    <div class="form-group col-md-7 marginform">
                        <label for="inputEmail4">الاسم بالكامل</label>
                        @Html.TextBox("Name", null, new { @class = "form-control", @Required = "Required", @id = "inputEmail4", @placeholder = "اكتب اسمك" })
                    </div>
                    <div class="form-group col-md-7 marginform">
                        <label for="inputEmail4">إسم المستخدم</label>
                        @Html.TextBox("Username", null, new { @class = "form-control", @Required = "Required", @placeholder = "اسم المستخدم" })
                    </div>
                    <div class="form-group col-md-7 marginform">
                        <label for="inputEmail4">رقم الجوال</label>
                        @Html.TextBox("Phone", null, new { @class = "form-control", @type = "number", @Required = "Required", @placeholder = "رقم الجوال" })
                    </div>
                    <div class="form-group col-md-7 marginform">
                        <label for="inputEmail4">البريد الالكترونى</label>
                        @Html.TextBox("Email", null, new { @class = "form-control", @type = "email", @Required = "Required", @placeholder = "البريد الاليكتروني" })
                    </div>
                    <div class="form-group col-md-7 marginform">
                        <label for="inputPassword4">كلمة المرور</label>
                        @Html.TextBox("Password", null, new { @class = "form-control", @type = "password", @Required = "Required", @placeholder = "كلمة المرور" })
                    </div>
                    <div class="form-group col-md-7 marginform">
                        <label for="inputPassword4">تأكيد كلمة المرور</label>
                        @Html.TextBox("ConfirmPassword", null, new { @class = "form-control", @type = "password", @Required = "Required", @placeholder = "تاكيد كلمة المرور" })
                    </div>

                    <div class="col-7 forbtnstyle">
                        <input type="submit" class="btn btn-primary" value="إشترك الان" />
                    </div>
                }

            </div>
        </div>
    </div>
</section>
