﻿@model SaveIt.Entity.Event
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Home","Home")">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">
                    الفعاليات
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @Model.Name
            </li>
        </ol>
    </nav>
</section>

<!-- Banner -->
<section class="Banner">
    <div class="event-banner">
        <img src="@Model.PhotoPath" class="img-fluid">
        <div class="Banner-Box">
            <div class="container">
                <div class="evet-Title">
                    <p>
                        @Model.Name
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="evet-Description">
    <div class="container">
        <div class="div-Title">
            <h3>
                التفاصيل
            </h3>
        </div>
        @*<div class="row">
            <div class="col">
                <ul class="list-inline">
                    <li class="from-to">
                        من:
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        @Model.StartDate.Value.Date.ToShortDateString()
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        @Model.StartDate.Value.ToShortTimeString()
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-inline">
                    <li class="from-to">
                        إلي:
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        @Model.EndDate.Value.Date.ToShortDateString()
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        @Model.EndDate.Value.ToShortTimeString()
                    </li>
                </ul>
            </div>
        </div>*@
        <div class="description">
            <p>
                @Model.Details
            </p>
        </div>
    </div>
</section>

<section class="event-map">
    <div class="container">
        <div class="div-Title">
            <h3>
                الخريطة
            </h3>
        </div>
        <div class="mapsection">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d463879.2652614796!2d47.102719361323494!3d24.724931565414966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2z2KfZhNix2YrYp9i2INin2YTYs9i52YjYr9mK2Kk!5e0!3m2!1sar!2seg!4v1525089985104" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>

