﻿@using SaveIt.Entity
@model IEnumerable<Ws_Photos>
@{
    ViewBag.Title = "Gallary";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="#">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                معرض الصور
            </li>
        </ol>
    </nav>
</section>

<!-- Banner -->
<section class="Banner text-center">
    <div class="Banner-Box">
        <p>
            تعرف على وفر
        </p>
        <h2>
            معرض الصور
        </h2>
    </div>
</section>

<section class="gallery">
    <div class="container-fluid">
        <div class="div-Title">
            <h3>
                صور وفر
            </h3>
        </div>
        <div class="ourGallery">
            @foreach (var item in Model)
            {
                <a class="box" href="@item.PhotoPath" data-lightbox="Gallery" data-title=@item.Title>
                    <img src="@item.PhotoPath" class="img-fluid">
                    <p>
                        @item.Title
                    </p>
                </a>
            }

        </div>
    </div>
</section>
