﻿
@model SaveIt.Models.HomePage



<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<!-- Modal Body Start -->
<div class="modal-body">
    <div class="quiick-view-details">
        <!-- Product Thumbnail Start -->
        <div class="main-product-thumbnail">
            <div class="row">
                <!-- Main Thumbnail Image Start -->
               <div class="col-sm-5">
                                        <!-- Thumbnail Large Image start -->
                                        <div class="tab-content">
                                            <div id="home" class="tab-pane fade in active">
                                                <a data-fancybox="images" href="img/new-products/3_1.jpg"><img src="@Model.DontarById.Photo" alt="product-view"></a>
                                            </div>
                                            
                                        </div>
                                        <!-- Thumbnail Large Image End -->

                                        <!-- Thumbnail Image End -->
                                        @*<div class="product-thumbnail">
                                            <div class="thumb-menu owl-carousel">
                                                <div class="active">
                                                  
                                                    <a data-toggle="tab" href="#home"> <img src="~/WebsiteScript/img/thumbnail/1.jpg" alt="product-thumbnail"></a>
                                                </div>
                                                <div>
                                                    <a data-toggle="tab" href="#menu1"> <img src="~/WebsiteScript/img/thumbnail/2.jpg" alt="product-thumbnail"></a>
                                                </div>
                                                <div>
                                                    <a data-toggle="tab" href="#menu2"> <img src="~/WebsiteScript/img/thumbnail/3.jpg" alt="product-thumbnail"></a>
                                                </div>
                                                <div>
                                                    <a data-toggle="tab" href="#menu3"> <img src="~/WebsiteScript/img/thumbnail/4.jpg" alt="product-thumbnail"></a>
                                                </div>
                                                <div>
                                                    <a data-toggle="tab" href="#menu4"> <img src="~/WebsiteScript/img/thumbnail/5.jpg" alt="product-thumbnail"></a>
                                                </div>
                                                <div>
                                                    <a data-toggle="tab" href="#menu5"> <img src="~/WebsiteScript/img/thumbnail/6.jpg" alt="product-thumbnail"></a>
                                                </div>
                                            </div>
                                        </div>*@
                                        <!-- Thumbnail image end -->
                                    </div>
                <!-- Main Thumbnail Image End -->
                <!-- Thumbnail Description Start -->
                <div class="col-sm-7">
                    <div class="thubnail-desc fix">
                        <h2 class="product-header">
                            @{ 
                                var sum = Model.DontarById.EvaluationClients.Sum(a => a.Evaluate);
                                var Count = Model.DontarById.EvaluationClients.Count;
                                if (Count == 0) { Count = 1; }
                                var total = sum / Count;
                            }

                            @Model.DontarById.OrgName

                        </h2>
                        <div class="pro-ref">
                            <p><label>تاريخ بدايه الخصم:</label><span class="stock" title="abailability">@Model.DontarById.DiscountDate </span></p>
                            <p><label class="text-uppercase">تاريخ نهايه الخصم:</label><span>@Model.DontarById.finishDate</span></p>
                        </div>
                        <div class="rating-summary fix mtb-10">
                            <div class="rating">
                            @if (total > 4)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                            }
                                            else if (total > 3)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 2)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 1)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 0)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else
                                            {
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                </div>
                            @*<div class="rating-feedback f-left">
                                <a href="#">(1 review)</a>
                                <a href="#">add to your review</a>
                            </div>*@
                        </div>
                        @*<div class="pro-price mb-15">
                            <span>$19.00</span>
                        </div>
                        <div class="box-quantity mb-30">
                            <form action="#">
                                <input class="number" id="number" type="number" value="1">
                                <button class="action-prime">add to cart</button>
                            </form>
                        </div>*@
                        <div class="product-social-link">
                          
                               <div class="col-lg-12">
                                @foreach (var item in Model.DonatorContact)
                                {
                                      
                                    @*<li><a href="@item.Url"><i class="zmdi zmdi-facebook"></i>@item.Name</a></li>*@

                            


                                if(item.Type== "facebook")
                                {
                                   <div class="col-lg-3">
                                       <a href="@item.Url" data-toggle="tooltip" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                   </div>
                                }
                                if(item.Type== "instgram")
                                {
                                   <div class="col-lg-3">
                                       <a href="@item.Url" data-toggle="tooltip" title="Instagram"><i class="zmdi zmdi-instagram"></i></a>
                                   </div>
                                             }
                                if(item.Type== "snapchat")
                                {
                                   <div class="col-lg-3">
                                       <a href="@item.Url" data-toggle="tooltip" title="Snapchat"><i class="zmdi zmdi-snapchat"></i></a>

                                   </div>
                                }
                                if(item.Type== "twitter")
                                {
                                        <div class="col-lg-3">
                                            <a href="@item.Url" data-toggle="tooltip" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>

                                        </div>
                                }

                            
                                }
                                  </div> 
                                 
                                @*<li><a href="#">Add to Wish List</a></li>
                                <li><a href="#">Add to compare</a></li>
                                <li><a href="#">Email</a></li>*@
                           
                        </div>
                    </div>
                </div>
                <!-- Thumbnail Description End -->
            </div>
            <!-- Row End -->
            <!-- Product Thumbnail Description Start -->
            <div class="thumnail-desc">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="main-thumb-desc pt-30">
                            <li class="active"><a data-toggle="tab" href="#dtails"> الفروع</a></li>
                            <li><a data-toggle="tab" href="#reviews"> الخدمات</a></li>
                        </ul>
                        <!-- Product Thumbnail Tab Content Start -->
                        <div class="tab-content thumb-content">
                            <div id="dtails" class="tab-pane fade in active">
                                <table class="table table-hover table-bordered datatableClass">
                                    <thead>
                                        <tr>
                                            <th  style="text-align:center">الاسم</th>
                                            <th  style="text-align:center">العنوان</th>
                                            <th  style="text-align:center"> رقم الموبيل</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DonatorBranch)
                                         {
                                            
                                <tr>
                                    <td style="text-align:center">@item.Name</td>
                                    <td style="text-align:center">@item.Address</td>
                                    <td style="text-align:center">@item.Phone</td>
                                </tr>
                                            }
                                    </tbody>
                                </table>
                            </div>
                            <div id="reviews" class="tab-pane fade">
                                <!-- Reviews Start -->
                                <div class="review pb-40">
                                    <table class="table table-hover table-bordered datatableClass">
                                    <thead>
                                        <tr>
                                            <th  style="text-align:center">اسم الخدمه</th>
                                            <th  style="text-align:center">قيمه الخصم</th>
                                           

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DonatedService)
                                         {
                                            
                                <tr>
                                    <td style="text-align:center">@item.Service</td>
                                    <td style="text-align:center">@item.Discount</td>
                                  
                                </tr>
                                            }
                                    </tbody>
                                </table>
                                </div>
                                @*<!-- Reviews End -->
                                <!-- Reviews Start -->
                                <div class="review pt-50">
                                    <h3 class="review-title mb-30">You're reviewing: <br><span>Go-Get'r Pushup Grips</span></h3>
                                    <p class="mb-10 req">your rating</p>
                                    <ul class="review-list">
                                        <!-- Single Review List Start -->
                                        <li>
                                            <span>Quality</span>
                                            <i class="zmdi zmdi-star-outline"></i>
                                            <i class="zmdi zmdi-star-outline"></i>
                                            <i class="zmdi zmdi-star-outline"></i>
                                            <i class="zmdi zmdi-star-outline"></i>
                                            <i class="zmdi zmdi-star-outline"></i>
                                        </li>
                                        <!-- Single Review List End -->
                                        <!-- Single Review List Start -->
                                        <li>
                                            <span>price</span>
                                            <i class="zmdi zmdi-star-outline"></i>
                                            <i class="zmdi zmdi-star-outline"></i>
                                            <i class="zmdi zmdi-star-outline"></i>
                                            <i class="zmdi zmdi-star-outline"></i>
                                            <i class="zmdi zmdi-star-outline"></i>
                                        </li>
                                        <!-- Single Review List End -->
                                        <!-- Single Review List Start -->
                                        <li>
                                            <span>value</span>
                                            <i class="zmdi zmdi-star-outline"></i>
                                            <i class="zmdi zmdi-star-outline"></i>
                                            <i class="zmdi zmdi-star-outline"></i>
                                            <i class="zmdi zmdi-star-outline"></i>
                                            <i class="zmdi zmdi-star-outline"></i>
                                        </li>
                                        <!-- Single Review List End -->
                                    </ul>
                                </div>
                                <!-- Reviews End -->
                                <!-- Reviews Field Start -->
                                <div class="riview-field mt-30">
                                    <form autocomplete="off" action="#">
                                        <div class="form-group">
                                            <label class="req" for="n-name">Nickname</label>
                                            <input type="text" class="form-control" id="n-name" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label class="req" for="summary">Summary</label>
                                            <input type="text" class="form-control" id="summary" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label class="req" for="comment">Review</label>
                                            <textarea class="form-control" rows="5" id="comment" required="required"></textarea>
                                        </div>
                                        <button type="submit" class="btn-default">Submit Review</button>
                                    </form>
                                </div>
                                <!-- Reviews Field Start -->*@
                            </div>
                        </div>
                        <!-- Product Thumbnail Tab Content End -->
                    </div>
                </div>
                <!-- Row End -->
            </div>
            <!-- Product Thumbnail Description End -->
        </div>
        <!-- Product Thumbnail End -->
    </div>
    <!-- Quick View Details End -->
</div>
<!-- Modal Body End -->
