﻿@model SaveIt.Models.HomePage
@using SaveIt.Entity
@using System.Globalization
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    SaveItEntities db = new SaveItEntities();
}


<!-- Home-Banner -->
<section class="Home-Banner">
    <video id="gif-mp4" autoplay="" loop="">
        <source src="~/SaveItNewDesign/video/giphy.mp4" type="video/mp4">
        Your browser does not support the mp4 video codec.
    </video>
</section>

<!-- Categories -->
<section class="Categories">
    <div class="overlay">
        <div class="container">
            <div class="div-Title">
                <h3>
                    التصنيفات
                </h3>
            </div>
            <div class="row">
                @foreach (var item in Model.Category.OrderBy(x => x.ID).Take(5))
                {
                    <div class="col-md col-sm-6">
                        <a href="@Url.Action("Categorys", "Services",new { id=item.ID,type="d"})">
                            <div class="Category">
                                <div class="Bg-pic">
                                    <img src="@item.Icon" alt="Category image" class="img-fluid CategoryPic">
                                </div>
                                <div class="CategoryInfo">
                                    <p>
                                        <i class="fa fa-building-o" aria-hidden="true"></i>
                                        العدد:
                                        <span>
                                            @item.Donators.Count()
                                        </span>
                                    </p>
                                    <h3>
                                        @item.Name
                                    </h3>

                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>


            <div class="row MoreCategories">
                @foreach (var item in Model.Category.OrderBy(x => x.ID).Skip(5).Take(5))
                {
                    <div class="col-md col-sm-6">
                        <a href="@Url.Action("Categorys", "Services",new { id=item.ID,type="d"})">
                            <div class="Category">
                                <div class="Bg-pic">
                                    <img src="@item.Icon" alt="Category image" class="img-fluid CategoryPic">
                                </div>
                                <div class="CategoryInfo">
                                    <p>
                                        <i class="fa fa-building-o" aria-hidden="true"></i>
                                        عدد المانحين:
                                        <span>
                                            @item.Donators.Count()
                                        </span>
                                    </p>
                                    <h3>
                                        @item.Name
                                    </h3>

                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>

            <div class="row MoreCategories">
                @foreach (var item in Model.Category.OrderBy(x => x.ID).Skip(10).Take(5))
                {
                    <div class="col-md col-sm-6">
                        <a href="@Url.Action("Categorys", "Services",new { id=item.ID,type="d"})">
                            <div class="Category">
                                <div class="Bg-pic">
                                    <img src="@item.Icon" alt="Category image" class="img-fluid CategoryPic">
                                </div>
                                <div class="CategoryInfo">
                                    <p>
                                        <i class="fa fa-building-o" aria-hidden="true"></i>
                                        عدد المانحين:
                                        <span>
                                            @item.Donators.Count()
                                        </span>
                                    </p>
                                    <h3>
                                        @item.Name
                                    </h3>

                                </div>
                            </div>
                        </a>
                    </div>
                }

            </div>

            <div class="row MoreCategories">
                @foreach (var item in Model.Category.OrderBy(x => x.ID).Skip(15).Take(5))
                {
                    <div class="col-md col-sm-6">
                        <a href="@Url.Action("Categorys", "Services",new { id=item.ID,type="d"})">
                            <div class="Category">
                                <div class="Bg-pic">
                                    <img src="@item.Icon" alt="Category image" class="img-fluid CategoryPic">
                                </div>
                                <div class="CategoryInfo">
                                    <p>
                                        <i class="fa fa-building-o" aria-hidden="true"></i>
                                        عدد المانحين:
                                        <span>
                                            @item.Donators.Count()
                                        </span>
                                    </p>
                                    <h3>
                                        @item.Name
                                    </h3>

                                </div>
                            </div>
                        </a>
                    </div>
                }

            </div>

            <div class="row MoreCategories">
                @foreach (var item in Model.Category.OrderBy(x => x.ID).Skip(20).Take(5))
                {
                    <div class="col-md col-sm-6">
                        <a href="@Url.Action("Categorys", "Services",new { id=item.ID,type="d"})">
                            <div class="Category">
                                <div class="Bg-pic">
                                    <img src="@item.Icon" alt="Category image" class="img-fluid CategoryPic">
                                </div>
                                <div class="CategoryInfo">
                                    <p>
                                        <i class="fa fa-building-o" aria-hidden="true"></i>
                                        عدد المانحين:
                                        <span>
                                            @item.Donators.Count()
                                        </span>
                                    </p>
                                    <h3>
                                        @item.Name
                                    </h3>

                                </div>
                            </div>
                        </a>
                    </div>
                }


            </div>


            <a href="" class="MoreCategory">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>


<!-- Our-NewPartners -->
<section class="Our-NewPartners">
    <div class="container">
        <div class="div-Title">
            <h3>
                انضم إلينا حديثا
            </h3>
            <p>
                تعرف على احدث المانحين المنضمين إلينا
            </p>
        </div>
        <div class="NewPartner">

            @foreach (var item in Model.DontarTake.OrderByDescending(x => x.ID).Take(10))
            {
                <div class="Partner">
                    <a href="~/Services/Details/@item.ID">
                        <div class="Partner-Img">
                            @if (item.Photo != null)
                            {
                                <img src="@item.Photo" alt="logo" class="Partner-logo">
                            }
                            else
                            {
                                <img src="~/img/contact-placeholder.jpg" alt="logo" class="Partner-logo">
                            }
                            <div class="Discount">
                                <p>
                                    @db.DonatServices.Where(x => x.DonatorID == item.ID).Select(x => x.Discount).FirstOrDefault()%
                                </p>
                            </div>
                            <div class="Partner-name">
                                <h3>
                                    @item.OrgName
                                </h3>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>

    </div>
</section>

<!-- ourEvents -->
<section class="ourEvents">
    <div class="overlay">
        <div class="container">
            <div class="div-Title">
                <h3>
                    الفعاليات
                </h3>
                <p>
                    تعرف على احدث الفعاليات
                </p>
            </div>
            <div class="row">
                @foreach (var item in Model.Event.Take(2))
                {
                    <div class="col-sm-6">
                        <div class="eventCard">
                            <a href="@Url.Action("Events","Home",new { id = item.Id})">
                                <img class="img-fluid" src="@item.PhotoPath">
                                @*<div class="eventDate">
                                    <span>
                                        @(DateTime.Parse(item.StartDate.ToString()).ToString("dd"))
                                    </span>
                                    @(DateTime.Parse(item.StartDate.ToString()).ToString("MMM", new CultureInfo("ar-AE")))
                                </div>*@
                                <div class="eventtitle">
                                    @item.Name
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <a href="@Url.Action("ShowEvents" , "Home")" class="MoreEvents">
                شاهد المزيد
            </a>
        </div>
    </div>
</section>

<!-- TimedDiscount -->
<section class="TemporaryDiscount">
    <div class="container">
        <div class="div-Title">
            <h3>
                عروض مؤقتة
            </h3>
        </div>
        <div class="TemporaryDeals">

            @foreach (var item in Model.TempDiscountService)
            {
                <div class="Partner">

                    <a href="~/Services/Details/@item.DonatorId">
                        <div class="Partner-Img">
                            @if (item.Donator.Photo != null)
                            {
                                <img src="@item.Donator.Photo" alt="logo" class="Partner-logo">
                            }
                            else
                            {
                                <img src="~/img/contact-placeholder.jpg" alt="logo" class="Partner-logo">
                            }

                        </div>
                        <div class="Partner-name">
                            <h3>
                                @item.Donator.OrgName
                            </h3>
                        </div>

                    </a>
                </div>
            }

        </div>
    </div>
</section>

<!-- News -->
<section class="News">
    <div class="container-fluid">
        <div class="div-Title">
            <h3>
                اخر الاخبار
            </h3>
        </div>
        <div class="row">
            @foreach (var item in Model.News.Take(4))
            {
                <div class="col-6">
                    <a href="@Url.Action("News","Home",new { id = item.Id})">
                        <div class="News-Block">
                            <div class="media">
                                <div class="media-right">
                                    <img class="media-object" src="@item.PhotoPath" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        @item.Name
                                    </h4>
                                    <p class="date">
                                        <i class="fa fa-calendar"></i>
                                        @item.Date.Value.Date.ToShortDateString()
                                    </p>
                                    <p>
                                        @item.Details
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <a href="@Url.Action("ShowNews","Homek")" class="MoreNews">
            شاهد المزيد
        </a>
    </div>
</section>

<!-- Counting -->
<section class="Counting">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="Count">
                    <div class="icon">
                        <i class="fa fa-group cherry-icon center  icon-166"></i>
                    </div>
                    <h3>
                        المانحين
                        <br>
                        <span class="timer">@ViewBag.DontsNo</span>
                    </h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="Count">
                    <div class="icon">
                        <i class="fa fa-institution cherry-icon center  icon-123"></i>
                    </div>
                    <h3>
                        المشتركين
                        <br>
                        <span class="timer">@ViewBag.Subs</span>
                    </h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="Count">
                    <div class="icon">
                        <i class="fa fa-money cherry-icon center  icon-387"></i>
                    </div>
                    <h3>
                        الخصومات تصل الي
                        <br>
                        <span class="timer">%@ViewBag.Disc</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our-Partners Golden-->
<section class="Our-Partners">
    <div class="container">
        <div class="div-Title">
            <h3>
                الرعاه الذهبيين
            </h3>
            <p>
                تعرف على شركاء النجاح
            </p>
        </div>
        <div class="row">
            @foreach (var item in Model.GoldSponsors.OrderBy(x => x.Id).Take(4))
            {
                if (Model.GoldSponsors.Count() == 1)
                {
                    <div class="col-md-12 col-sm-12">
                        @*<a href="">*@
                        <div class="Partner">
                            <div class="Partner-Img">
                                @if (item.PhotoPath != null)
                                {
                                    <img src="@item.PhotoPath" alt="logo" class="Partner-logo">
                                }
                                else
                                {
                                    <img src="~/img/contact-placeholder.jpg" alt="logo" class="Partner-logo">
                                }

                            </div>
                        </div>
                        @*                    </a>*@
                    </div>
                }
                else if (Model.GoldSponsors.Count() == 2)
                {
                    <div class="col-md-6 col-sm-6">
                        @*<a href="">*@
                        <div class="Partner">
                            <div class="Partner-Img">
                                @if (item.PhotoPath != null)
                                {
                                    <img src="@item.PhotoPath" alt="logo" class="Partner-logo">
                                }
                                else
                                {
                                    <img src="~/img/contact-placeholder.jpg" alt="logo" class="Partner-logo">
                                }

                            </div>
                        </div>
                        @*                    </a>*@
                    </div>
                }

                else if (Model.GoldSponsors.Count() == 3)
                {
                    <div class="col-md-4 col-sm-6">
                        @*<a href="">*@
                        <div class="Partner">
                            <div class="Partner-Img">
                                @if (item.PhotoPath != null)
                                {
                                    <img src="@item.PhotoPath" alt="logo" class="Partner-logo">
                                }
                                else
                                {
                                    <img src="~/img/contact-placeholder.jpg" alt="logo" class="Partner-logo">
                                }

                            </div>
                        </div>
                        @*                    </a>*@
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-6">
                        @*<a href="">*@
                        <div class="Partner">
                            <div class="Partner-Img">
                                @if (item.PhotoPath != null)
                                {
                                    <img src="@item.PhotoPath" alt="logo" class="Partner-logo">
                                }
                                else
                                {
                                    <img src="~/img/contact-placeholder.jpg" alt="logo" class="Partner-logo">
                                }

                            </div>
                        </div>
                        @*                    </a>*@
                    </div>
                }

            }

        </div>
        <div class="row MorePartners">
            @foreach (var item in Model.GoldSponsors.OrderBy(x => x.Id).Skip(4))
            {
                <div class="col-md-3 col-sm-6">
                    @*<a href="">*@
                    <div class="Partner">
                        <div class="Partner-Img">
                            @if (item.PhotoPath != null)
                            {
                                <img src="@item.PhotoPath" alt="logo" class="Partner-logo">
                            }
                            else
                            {
                                <img src="~/img/contact-placeholder.jpg" alt="logo" class="Partner-logo">
                            }
                        </div>
                    </div>
                    @*</a>*@
                </div>
            }
            <a href="" class="MoreItems">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>


<!-- Subscripe -->
<section class="Subscripe">
    <h2>
        هل تحب ما نقدمه
    </h2>
    <p>
        إشترك الآن و إنضم لعامل غير محدود من التوفير مع كارت وفـرها
    </p>
    <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false" autocomplete="off">
        إشترك الان!
    </button>
</section>

<!-- Newsletter -->
<section class="Newsletter">
    <h2>
        تابع اجدد الاخبار و العروض من خلال بريدك الالكتروني
    </h2>
    <h3>
        انضم الى قائمة المراسلات البريدية
    </h3>

    <div class="container">
        <div class="row">
            <div class="col-12 forma">
                <form class="form">
                    <div class="form-row align-items-center foremail">
                        <div class="col-md-5 col-sm-8">
                            <label class="sr-only" for="inlineFormInput">
                                الايميل
                            </label>
                            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="البريد الالكترونى">
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <button type="submit" class="btn btn-primary mb-2">
                                إنضم الان
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

