﻿@model SaveIt.Models.HomePage
@{
    ViewBag.Title = " الصفحة الرئيسية";
}
<style>

    .home-4 .single-banner img {
        height: 200px;
    }

    .home-4 .single-banner-left.zoom img {
        height: 200px;
        min-height: 200px;
    }

    .home-4 .nivoSlider img {
        height: 600px;
    }

    .tab-content .pro-img img {
        height: 170px;
    }
</style>

<!-- Slider Area Start -->
الخوصومات المؤقتة



<div class="slider-area pb-50">
    <div class="container">
        <div class="row">
            <!--Banner part Start -->
            <div class="col-md-3 col-sm-12 pr-0">
                <!-- Slider Left Single Banner Start -->
                <div class="banner fix">
                    @foreach (var item in Model.Sliders.OrderBy(c => c.ID).Take(3))
                    {
                        <div class="single-banner-left zoom">
                            <a href="#">
                                <img src="@item.PhotoPath" alt="banner-image">


                            </a>
                        </div>
                    }
                </div>
                <!-- Slider Left Single Banner Start -->
            </div>
            <!--Banner part End -->
            <!-- Main Slider Area Start -->
            <div class="col-md-6 col-sm-12 plr-0">
                <div class="slider-wrapper theme-default">
                    <!-- Slider Background  Image Start-->
                    <div id="slider" class="nivoSlider">
                        @foreach (var item in Model.Sliders)
                        {
                            <img src="@item.PhotoPath" style=" height: 600px;" data-thumb="@item.PhotoPath" alt="" title="#htmlcaption-@item.ID" />
                        }
                    </div>
                    <!-- Slider Background  Image Start-->
                    <!-- Slider htmlcaption Start-->
                    @foreach (var item in Model.Sliders)
                    {
                        <div id="htmlcaption-@item.ID" class="nivo-html-caption slider-caption">
                            <!-- Slider Text Start -->
                            <div class="slider-text">
                                <h5 class="wow fadeInRight" data-wow-delay="1s">@item.Details</h5>
                                <h1 class="wow fadeInLeft" data-wow-delay="1s">@item.Title</h1>
                                <p class="wow bounceInDown" data-wow-delay="1s"></p>
                                <a class="wow bounceInDown" data-wow-delay="0.8s" href="#">أشترك الان</a>
                            </div>
                            <!-- Slider Text End -->
                        </div>
                    }
                </div>
            </div>
            <!-- Main Slider Area End -->
            <!--Banner part Start -->
            <div class="col-md-3 col-sm-12 pl-0">
                <!-- Slider Right Single Banner Start -->
                <div class="banner">
                    @foreach (var item in Model.Sliders.OrderByDescending(c => c.ID).Take(3))
                    {
                        <div class="single-banner zoom">
                            <a href="#"><img src="@item.PhotoPath" alt="banner-image"></a>
                        </div>
                    }
                </div>
                <!-- Slider Right Single Banner End -->
            </div>
            <!--Banner part End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>




<div class="second-featured-products pb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Featured Product List Item Start -->
                <ul class="product-list mb-30">

                    @{var tab = 0; }
                    @foreach (var item in Model.ListName)
                    {
                        tab++;
                        if (tab == 1)
                        {
                            <li class="active"><a data-toggle="tab" href="#@tab">@item.Name</a></li>
                        }
                        else
                        {
                            <li class=""><a data-toggle="tab" href="#@tab">@item.Name</a></li>
                        }

                    }

                    @*<li class="active"><a data-toggle="tab" href="#1">@Model.ListName.Select(a => a.Name).First()</a></li>
                        <li class=""><a data-toggle="tab" href="#2">@Model.ListName.OrderBy(a => a.ID).Skip(1).Select(a => a.Name).FirstOrDefault()</a></li>
                        <li class=""><a data-toggle="tab" href="#33">@Model.ListName.OrderBy(a => a.ID).Skip(2).Select(a => a.Name).FirstOrDefault()</a></li>*@








                </ul>
                <!-- Featured Product List Item End -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-content">
                    <div id="1" class="tab-pane fade in active">
                        <!-- Main Product Activation Start -->
                        <div class="related-main-pro owl-carousel fix-nav">

                            @foreach (var item in Model.Donators.Where(a => a.CatID == Model.ListName.Select(z => z.ID).FirstOrDefault()))
                            {
                                double total = 0;
                                var sum = item.EvaluationClients.Sum(c => c.Evaluate);
                                var count = item.EvaluationClients.Count;
                                if (count == 0) { count = 1; }
                                total = sum / count;
                                decimal? tempDiscount = 0;
                                var datetime = item.DiscountDate ?? DateTime.Now;
                                if (item.TempDiscountServices.Count(c => c.IsAccepted == true || c.IsOrder == false) > 0)
                                {
                                    var first = item.TempDiscountServices.OrderByDescending(c => c.DateTo).OrderByDescending(c => c.Discount).FirstOrDefault(c => c.IsAccepted == true || c.IsOrder == false);
                                    if (first != null)
                                    {
                                        datetime = first.DateForm ?? DateTime.Now;
                                        tempDiscount = first.Discount;
                                    }
                                }
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="#">
                                            <img class="primary-img" src="@item.Photo" alt="single-product">
                                            @*<img class="secondary-img" src="img/accessories/2_2.jpg" alt="single-product">*@
                                        </a>
                                        <div class="quick-view text-center">
                                            <a data-toggle="modal" data-target="#myModal" onclick="GetDontarById(@item.ID)">Quick View</a>
                                        </div>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="/Services/Details/@item.ID">@item.OrgName</a></h4>
                                        <div class="rating">
                                            @if (total > 4)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                            }
                                            else if (total > 3)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 2)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 1)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 0)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else
                                            {
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                        </div>
                                        <div class="pro-actions">
                                            <div class="actions-primary">
                                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                    <span class="sticker-sale pro-sticker">@tempDiscount %</span>
                                </div>
                            }



                        </div>
                        <!-- Main Product Activation Start -->
                    </div>
                    <!-- #onsale End -->
                    <!-- Featured Start -->
                    <div id="2" class="tab-pane fade">
                        <!-- Main Product Activation Start -->
                        <div class="related-main-pro owl-carousel fix-nav">

                            @foreach (var item in Model.Donators.Where(a => a.CatID == Model.ListName.OrderBy(y => y.ID).Skip(1).Select(z => z.ID).FirstOrDefault()))
                            {
                                double total = 0;
                                var sum = item.EvaluationClients.Sum(c => c.Evaluate);
                                var count = item.EvaluationClients.Count;
                                if (count == 0) { count = 1; }
                                total = sum / count;
                                decimal? tempDiscount = 0;
                                var datetime = item.DiscountDate ?? DateTime.Now;
                                if (item.TempDiscountServices.Count(c => c.IsAccepted == true || c.IsOrder == false) > 0)
                                {
                                    var first = item.TempDiscountServices.OrderByDescending(c => c.DateTo).OrderByDescending(c => c.Discount).FirstOrDefault(c => c.IsAccepted == true || c.IsOrder == false);
                                    if (first != null)
                                    {
                                        datetime = first.DateForm ?? DateTime.Now;
                                        tempDiscount = first.Discount;
                                    }
                                }
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="#">
                                            <img class="primary-img" src="@item.Photo" alt="single-product">
                                            @*<img class="secondary-img" src="img/accessories/2_2.jpg" alt="single-product">*@
                                        </a>
                                        @*<div class="quick-view text-center">
                                                <a href="#" data-toggle="modal" data-target="#myModal">Quick View</a>
                                            </div>*@
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="/Services/Details/@item.ID">@item.OrgName</a></h4>
                                        <div class="rating">
                                            @if (total > 4)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                            }
                                            else if (total > 3)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 2)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 1)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 0)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else
                                            {
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                        </div>
                                        <div class="pro-actions">
                                            <div class="actions-primary">
                                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                    <span class="sticker-sale pro-sticker">@tempDiscount %</span>
                                </div>
                            }



                        </div>
                        <!-- Main Product Activation Start -->
                    </div>
                    <!-- Featured End -->
                    <!-- Most Viewed Start -->
                    <div id="3" class="tab-pane fade">
                        <!-- Main Product Activation Start -->
                        <div class="related-main-pro owl-carousel fix-nav">

                            @foreach (var item in Model.Donators.Where(a => a.CatID == Model.ListName.OrderBy(y => y.ID).Skip(2).Select(z => z.ID).FirstOrDefault()))
                            {
                                double total = 0;
                                var sum = item.EvaluationClients.Sum(c => c.Evaluate);
                                var count = item.EvaluationClients.Count;
                                if (count == 0) { count = 1; }
                                total = sum / count;
                                decimal? tempDiscount = 0;
                                var datetime = item.DiscountDate ?? DateTime.Now;
                                if (item.TempDiscountServices.Count(c => c.IsAccepted == true || c.IsOrder == false) > 0)
                                {
                                    var first = item.TempDiscountServices.OrderByDescending(c => c.DateTo).OrderByDescending(c => c.Discount).FirstOrDefault(c => c.IsAccepted == true || c.IsOrder == false);
                                    if (first != null)
                                    {
                                        datetime = first.DateForm ?? DateTime.Now;
                                        tempDiscount = first.Discount;
                                    }
                                }
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="#">
                                            <img class="primary-img" src="@item.Photo" alt="single-product">
                                            @*<img class="secondary-img" src="img/accessories/2_2.jpg" alt="single-product">*@
                                        </a>
                                        @*<div class="quick-view text-center">
                                                <a href="#" data-toggle="modal" data-target="#myModal">Quick View</a>
                                            </div>*@
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="/Services/Details/@item.ID">@item.OrgName</a></h4>
                                        <div class="rating">
                                            @if (total > 4)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                            }
                                            else if (total > 3)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 2)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 1)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 0)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else
                                            {
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                        </div>
                                        <div class="pro-actions">
                                            <div class="actions-primary">
                                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                    <span class="sticker-sale pro-sticker">@tempDiscount %</span>
                                </div>
                            }



                        </div>
                        <!-- Main Product Activation Start -->
                    </div>

                    <div id="4" class="tab-pane fade">
                        <!-- Main Product Activation Start -->
                        <div class="related-main-pro owl-carousel fix-nav">

                            @foreach (var item in Model.Donators.Where(a => a.CatID == Model.ListName.OrderBy(y => y.ID).Skip(3).Select(z => z.ID).FirstOrDefault()))
                            {
                                double total = 0;
                                var sum = item.EvaluationClients.Sum(c => c.Evaluate);
                                var count = item.EvaluationClients.Count;
                                if (count == 0) { count = 1; }
                                total = sum / count;
                                decimal? tempDiscount = 0;
                                var datetime = item.DiscountDate ?? DateTime.Now;
                                if (item.TempDiscountServices.Count(c => c.IsAccepted == true || c.IsOrder == false) > 0)
                                {
                                    var first = item.TempDiscountServices.OrderByDescending(c => c.DateTo).OrderByDescending(c => c.Discount).FirstOrDefault(c => c.IsAccepted == true || c.IsOrder == false);
                                    if (first != null)
                                    {
                                        datetime = first.DateForm ?? DateTime.Now;
                                        tempDiscount = first.Discount;
                                    }
                                }
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="#">
                                            <img class="primary-img" src="@item.Photo" alt="single-product">
                                            @*<img class="secondary-img" src="img/accessories/2_2.jpg" alt="single-product">*@
                                        </a>
                                        @*<div class="quick-view text-center">
                                                <a href="#" data-toggle="modal" data-target="#myModal">Quick View</a>
                                            </div>*@
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="/Services/Details/@item.ID">@item.OrgName</a></h4>
                                        <div class="rating">
                                            @if (total > 4)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                            }
                                            else if (total > 3)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 2)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 1)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 0)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else
                                            {
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                        </div>
                                        <div class="pro-actions">
                                            <div class="actions-primary">
                                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                    <span class="sticker-sale pro-sticker">@tempDiscount %</span>
                                </div>
                            }



                        </div>
                        <!-- Main Product Activation Start -->
                    </div>



                    <div id="5" class="tab-pane fade">
                        <!-- Main Product Activation Start -->
                        <div class="related-main-pro owl-carousel fix-nav">

                            @foreach (var item in Model.Donators.Where(a => a.CatID == Model.ListName.OrderBy(y => y.ID).Skip(4).Select(z => z.ID).FirstOrDefault()))
                            {
                                double total = 0;
                                var sum = item.EvaluationClients.Sum(c => c.Evaluate);
                                var count = item.EvaluationClients.Count;
                                if (count == 0) { count = 1; }
                                total = sum / count;
                                decimal? tempDiscount = 0;
                                var datetime = item.DiscountDate ?? DateTime.Now;
                                if (item.TempDiscountServices.Count(c => c.IsAccepted == true || c.IsOrder == false) > 0)
                                {
                                    var first = item.TempDiscountServices.OrderByDescending(c => c.DateTo).OrderByDescending(c => c.Discount).FirstOrDefault(c => c.IsAccepted == true || c.IsOrder == false);
                                    if (first != null)
                                    {
                                        datetime = first.DateForm ?? DateTime.Now;
                                        tempDiscount = first.Discount;
                                    }
                                }
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="#">
                                            <img class="primary-img" src="@item.Photo" alt="single-product">
                                            @*<img class="secondary-img" src="img/accessories/2_2.jpg" alt="single-product">*@
                                        </a>
                                        @*<div class="quick-view text-center">
                                                <a href="#" data-toggle="modal" data-target="#myModal">Quick View</a>
                                            </div>*@
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="/Services/Details/@item.ID">@item.OrgName</a></h4>
                                        <div class="rating">
                                            @if (total > 4)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                            }
                                            else if (total > 3)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 2)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 1)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 0)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else
                                            {
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                        </div>
                                        <div class="pro-actions">
                                            <div class="actions-primary">
                                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                    <span class="sticker-sale pro-sticker">@tempDiscount %</span>
                                </div>
                            }



                        </div>
                        <!-- Main Product Activation Start -->
                    </div>



                    <div id="6" class="tab-pane fade">
                        <!-- Main Product Activation Start -->
                        <div class="related-main-pro owl-carousel fix-nav">

                            @foreach (var item in Model.Donators.Where(a => a.CatID == Model.ListName.OrderBy(y => y.ID).Skip(5).Select(z => z.ID).FirstOrDefault()))
                            {
                                double total = 0;
                                var sum = item.EvaluationClients.Sum(c => c.Evaluate);
                                var count = item.EvaluationClients.Count;
                                if (count == 0) { count = 1; }
                                total = sum / count;
                                decimal? tempDiscount = 0;
                                var datetime = item.DiscountDate ?? DateTime.Now;
                                if (item.TempDiscountServices.Count(c => c.IsAccepted == true || c.IsOrder == false) > 0)
                                {
                                    var first = item.TempDiscountServices.OrderByDescending(c => c.DateTo).OrderByDescending(c => c.Discount).FirstOrDefault(c => c.IsAccepted == true || c.IsOrder == false);
                                    if (first != null)
                                    {
                                        datetime = first.DateForm ?? DateTime.Now;
                                        tempDiscount = first.Discount;
                                    }
                                }
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="#">
                                            <img class="primary-img" src="@item.Photo" alt="single-product">
                                            @*<img class="secondary-img" src="img/accessories/2_2.jpg" alt="single-product">*@
                                        </a>
                                        @*<div class="quick-view text-center">
                                                <a href="#" data-toggle="modal" data-target="#myModal">Quick View</a>
                                            </div>*@
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="/Services/Details/@item.ID">@item.OrgName</a></h4>
                                        <div class="rating">
                                            @if (total > 4)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                            }
                                            else if (total > 3)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 2)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 1)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 0)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else
                                            {
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                        </div>
                                        <div class="pro-actions">
                                            <div class="actions-primary">
                                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                    <span class="sticker-sale pro-sticker">@tempDiscount %</span>
                                </div>
                            }



                        </div>
                        <!-- Main Product Activation Start -->
                    </div>

                    <!-- Mostviewd End -->
                </div>
                <!-- Tab-Content End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>








<div class="second-featured-products pb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Featured Product List Item Start -->
                <ul class="product-list mb-30">
                    <li class="active"><a data-toggle="tab" href="#event">المضاف حديثا</a></li>
                </ul>
                <!-- Featured Product List Item End -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-content">
                    <div id="event" class="tab-pane fade in active">
                        <!-- Main Product Activation Start -->
                        <div class="related-main-pro owl-carousel fix-nav">
                            @foreach (var item in Model.Donators.Where(c => c.IsActive == 1 || c.IsActive == 2).OrderByDescending(c => c.ID).Take(4))
                            {
                                double total = 0;
                                var sum = item.EvaluationClients.Sum(c => c.Evaluate);
                                var count = item.EvaluationClients.Count;
                                if (count == 0) { count = 1; }
                                total = sum / count;
                                decimal? tempDiscount = 0;
                                var datetime = item.DiscountDate ?? DateTime.Now;
                                if (item.TempDiscountServices.Count(c => c.IsAccepted == true || c.IsOrder == false) > 0)
                                {
                                    var first = item.TempDiscountServices.OrderByDescending(c => c.DateTo).OrderByDescending(c => c.Discount).FirstOrDefault(c => c.IsAccepted == true || c.IsOrder == false);
                                    if (first != null)
                                    {
                                        datetime = first.DateForm ?? DateTime.Now;
                                        tempDiscount = first.Discount;
                                    }
                                }
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="@Url.Action("Details","Services",new { id=item.ID})">
                                            <img class="primary-img" src="@item.Photo" alt="offer-pro">
                                            <img class="secondary-img" src="@item.Photo" alt="offer-pro">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="@Url.Action("Details","Services",new { id=item.ID})">@item.OrgName</a></h4>
                                        @{
                                            var first2 = item.DonatServices.OrderByDescending(c => c.ID).OrderByDescending(c => c.Discount).FirstOrDefault();
                                            if (first2 != null)
                                            {
                                                if (tempDiscount == 0)
                                                {
                                                    <p><span>-@first2.Discount %</span></p>
                                                }
                                                else
                                                {
                                                    <p><span>-@tempDiscount %</span><del>-@first2.Discount %</del></p>
                                                }
                                            }
                                            else
                                            {
                                                <p><span>-@tempDiscount %</span></p>
                                            }
                                        }
                                        <div class="rating">
                                            @if (total > 4)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                            }
                                            else if (total > 3)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 2)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 1)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else if (total > 0)
                                            {
                                                <i class="zmdi zmdi-star"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                            else
                                            {
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                                <i class="zmdi zmdi-star-outline"></i>
                                            }
                                        </div>
                                        @if (tempDiscount == 0)
                                        {
                                            if (first2 != null)
                                            {
                                                <span class="sticker-sale pro-sticker">-@first2.Discount %</span>
                                            }
                                            else
                                            {
                                                <span class="sticker-sale pro-sticker">-0 %</span>

                                            }

                                        }
                                        else
                                        {
                                            <span class="sticker-sale pro-sticker">-@tempDiscount %</span>
                                        }

                                    </div>
                                    <!-- Product Content End -->
                                </div>
                            }

                        </div>
                        <!-- Main Product Activation Start -->
                    </div>

                </div>
                <!-- Tab-Content End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>



<div class="catergorie-product pb-50">
    <div class="container">
        <!-- Group Title Start -->
        <div class="group-title">
            <h2>الاعلانات</h2>
        </div>
        <!-- Group Title End -->
        <div class="row">
            <!-- single Catergories Start -->

            @foreach (var item in Model.Advertisments.Where(a => a.FinishDate > DateTime.Now))
            {

                <div class="col-md-4 col-sm-6">
                    <!-- Single Products Start -->
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="#">
                                <img src="@item.PhotoPath" alt="categorie-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <h4><a href="#">@item.ClientName</a></h4>
                            <ul class="cat-list">
                                <li><a href="#">@item.FinishDate</a></li>

                            </ul>
                        </div>
                        <!-- Product Content End -->
                    </div>
                    <!-- Single Products End -->
                </div>
            }


            <!-- single Catergories End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>




<div class="catergorie-product pb-50">
    <div class="container">
        <!-- Group Title Start -->
        <div class="group-title">
            <h2>المانحين</h2>
        </div>
        <!-- Group Title End -->
        <div class="row">
            <!-- single Catergories Start -->

            @foreach (var item in Model.DontarTake)
            {
                <div class="col-md-4 col-sm-6">
                    <!-- Single Products Start -->
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="#">
                                <img src="@item.Photo" alt="categorie-product">
                            </a>
                        </div>

                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <h4><a href="~/Services/Details/@item.ID">@item.OrgName</a></h4>
                            <ul class="cat-list">
                                <li><a href="#">@item.Address</a></li>
                                <li><a href="#">@item.BookName</a></li>
                                <li><a href="#">@item.OwnName</a></li>
                            </ul>
                        </div>
                        <!-- Product Content End -->
                    </div>
                    <!-- Single Products End -->
                </div>
            }


            <!-- single Catergories End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>


<div class="post-logo pb-50">
    <div class="container">
        <div class="row">
            <!-- Logo Brands Start -->
            <div class="col-md-12">
                <!-- Group Title Start -->
                <div class="group-title title-border mts">
                    <h2>الرعاة الذهبيين</h2>
                </div>
                <!-- Group Title End -->
                <!-- Active Logo-Brands-two Start -->
                <div class="logo-brand-two  owl-carousel">
                    @foreach (var item in Model.GoldSponsors)
                    {
                        <div class="dual-img">
                            <img style="height: 100px;" src="@item.PhotoPath" alt="brand-image">
                            <h6>@item.Name</h6>
                        </div>
                    }
                </div>
                <!-- Active Logo Brands End -->
            </div>
            <!-- Logo Brands End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>

<div class="catergorie-product pb-50">
    <!-- Group Title Start -->
    <div class="group-title">
        <h2>الخوصومات المؤقتة</h2>
    </div>
    <!-- Group Title End -->
    <!-- HotDeal-Two Product Activation Start -->
    <div class="hotdeal-two owl-carousel pb-50">
        @foreach (var item in Model.Donators.Where(c => c.IsActive == 1 || c.IsActive == 2).Where(c => c.TempDiscountServices.Any(cx => cx.IsAccepted == true || cx.IsOrder == false)).Take(8))
        {
            double total = 0;
            var sum = item.EvaluationClients.Sum(c => c.Evaluate);
            var count = item.EvaluationClients.Count;
            if (count == 0) { count = 1; }
            total = sum / count;
            decimal? tempDiscount = 0;
            var datetime = item.DiscountDate ?? DateTime.Now;
            if (item.TempDiscountServices.Count(c => c.IsAccepted == true || c.IsOrder == false) > 0)
            {
                var first = item.TempDiscountServices.OrderByDescending(c => c.DateTo).OrderByDescending(c => c.Discount).FirstOrDefault(c => c.IsAccepted == true || c.IsOrder == false);
                if (first != null)
                {
                    datetime = first.DateForm ?? DateTime.Now;
                    tempDiscount = first.Discount;
                }
            }
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="pro-img">
                    <a href="#">
                        <img class="primary-img" src="@item.Photo" alt="offer-pro">
                        <img class="secondary-img" src="@item.Photo" alt="offer-pro">
                    </a>
                    <div id="countdown-@item.ID"></div>
                    <script>
                                        $("#countdown-@item.ID").countdown("@datetime.ToShortDateString()", function (event) {
                                            $(this).html(
                                                event.strftime('<div class="count">%D <span>Days</span></div><div class="count">%H <span>Hour</span></div><div class="count">%M <span>Mins</span></div><div class="count"> %S <span>Secs</span></div>') /* no space between two div!otherwise markup and script don't work*/
                                            );
                                        });
                    </script>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="pro-content">
                    <h4><a href="@Url.Action("Details","Services",new { id=item.ID})">@item.OrgName</a></h4>
                    @{
                        var first2 = item.DonatServices.OrderByDescending(c => c.ID).OrderByDescending(c => c.Discount).FirstOrDefault();
                        if (first2 != null)
                        {
                            <p><span>-@tempDiscount %</span><del>-@first2.Discount %</del></p>
                        }
                    }
                    <div class="rating">
                        @if (total > 4)
                        {
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                        }
                        else if (total > 3)
                        {
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                        }
                        else if (total > 2)
                        {
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                        }
                        else if (total > 1)
                        {
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                        }
                        else if (total > 0)
                        {
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                        }
                        else
                        {
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                            <i class="zmdi zmdi-star-outline"></i>
                        }
                    </div>
                    <span class="sticker-sale pro-sticker">-@tempDiscount %</span>
                </div>
                <!-- Product Content End -->
            </div>

        }
    </div>

</div>



<div class="modal fade" id="myModal" role="dialog">
    <!-- Modal Dialog Box Start -->
    <div class="modal-dialog max-width">
        <!-- Modal content Start -->
        <div class="modal-content" id="Test">

        </div>
    </div>
    <!-- Modal Dialog Box End -->
</div>
<script>
    function GetDontarById(Id) {
        $.ajax({
            url: "/Home/GetDontar",
            data: { Id: Id },
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'html',
            success: function (response) {

                $("#Test").html(response);

            },
            error: function () {

            }
        });

    }
</script>