﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="#">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                تسجيل الدخول
            </li>
        </ol>
    </nav>
</section>
<section>
    <div class="container login">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2>تسجيل الدخول</h2>

                <div class="form-group col-12 marginform">
                    <label style="color:red">@ViewBag.Error</label>
                </div>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "login-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-row">
                        <div class="form-group col-12 marginform">
                            <label for="inputEmail4">إسم المستخدم</label>
                            @Html.TextBox("Username", null, new { @class = "form-control", @Required = "Required", @placeholder = "اسم المستخدم..." })
                        </div>
                        <div class="form-group col-12 marginform">

                            <label for="inputPassword4">كلمة المرور</label>
                            @Html.TextBox("Password", null, new { @class = "form-control", @type = "password", @Required = "Required", @placeholder = "كلمة المرور..." })

                        </div>
                        <div class="col-12">
                            <button type="submit" class="forbtnstyle btn btn-light" style="text-align:center">دخول</button>
                            <p class="forget">هل نسيت كلمة المرور</p>
                        </div>
                    </div>
                }

            </div>


            <div class="col-md-6 col-sm-12">
                <h2>مستخدم جديد</h2>

                <p class="infoforuser">يتمتع إنشاء حساب بالعديد من المزايا: تحقق من ذلك بشكل أسرع ، واحتفظ بأكثر من عنوان واحد ، وتتبع الطلبات والمزيد.</p>
                <div class="col-12">
                    <a href="@Url.Action("DemondCard","Home")" class="forbtnstyle btn btn-dark" style="text-align:center">إنشاء حساب</a>
                </div>
            </div>
        </div>
    </div>
</section>


