﻿@model SaveIt.Entity.News
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Home","Home")">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">
                    الاخبار
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @Model.Name
            </li>
        </ol>
    </nav>
</section>

<section class="single-news">
    <div class="container">
        <div class="news">
            <h3>
                @Model.Name
            </h3>
            <p class="date">
                <i class="fa fa-calendar"></i>
                @Model.Date.Value.Date.ToShortDateString()
            </p>
            <img class="media-object img-fluid" src="@Model.PhotoPath" alt="">
            <p>
                @Model.Details
            </p>
        </div>
    </div>
</section>
