﻿@using SaveIt.Entity
@model IEnumerable<ProductsCategory>

@{
    ViewBag.Title = "Products";

}


<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Home","Home")">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">
                    المتجر
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                اسم المانح
            </li>
        </ol>
    </nav>
</section>

<!-- Products -->
<section class="Products">
    <p style="color:red">@Session["Error"]</p>
    <div class="container">
        <a href="">
            <div class="Partner">
                <div class="Partner-Img">
                    <img src="@ViewBag.DonatorImage" alt="logo" class="Partner-logo">
                </div>
                <div class="Partner-name">
                    <h3>
                        @ViewBag.DonatorName
                    </h3>
                </div>
            </div>
        </a>
        <div class="product-type text-center" id="Active">
            @foreach (var item in Model)
            {

                <a class="getProDetails" href="@Url.Action("_Products",new { Catid = item.ID })">
                    @item.Name
                </a>

            }

        </div>
        <div class="row" id="divProducts">
            @Html.Action("_Products", new { Catid = Model.Select(x => x.ID).FirstOrDefault() })

        </div>
    </div>
</section>
@section scr{
    <script>
        $(".getProDetails").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("href"),
                method: "get",
                data: {},
                success: function (data) {
                    $("#divProducts").html(data);
                }
            })
        });

        $("#Active li a").click(function () {
            $(this).closest("li").addClass("active");
            $(this).siblings().closest("li").removeClass("active");
        });

    </script>
}

