﻿
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<!--    Start Reset Password   -->
<div class="reset">
    <div class="container">
        <h3>تعديل كلمة المرور</h3>
        <div class="form-group col-12 marginform">
            <label style="color:red">@ViewBag.Error</label>
            <label style="color:red">@ViewBag.ErrorCompare</label>
            <label style="color:red">@ViewBag.Success</label>
        </div>
    </div>
    @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { @id = "ResetPassword-form", role = "form" }))
    {
        <div class="form-group">
            <label>كلمة المرور القديمة</label>
            <input class="form-control" type="password" name="oldPassword" placeholder="أكتب كلمة المرور القديمة">

            <label>كلمة المرور الجديدة</label>
            <input class="form-control" type="password" name="newPassword" placeholder="أكتب كلمة المرور الجديدة">

            <label>تأكيد كلمة المرور الجديدة</label>
            <input class="form-control" type="password" name="ComparePassword" placeholder="أكتب كلمة المرور الجديدة مرة أخري">

            <div class="confirm"><button>تأكيد</button></div>
        </div>
    }
</div>
</div>
<!--    End Reset Password   -->
