﻿@model IEnumerable<SaveIt.Entity.Donator>
@{
    ViewBag.Title = "Search";
}

<div class="accessories ptb-50">
    <div class="container">

        <div class="row">

            <div class="col-sm-12">
                <div class="main-categorie">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-1">
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img" style="width:100%;height:200px;">
                                        <a href="/Services/Details?id=@item.ID">
                                            <img class="primary-img" style="width:100%;height:200px;" src="@item.Photo" alt="single-product">
                                            <img class="secondary-img" style="width:100%;height:200px;" src="@item.Photo" alt="single-product">
                                        </a>
                                        <div class="quick-view text-center">
                                            <a href="/Services/Details?id=@item.ID">شاهد الان</a>
                                        </div>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="">
                                        <h5><a href="/Services/Details?id=@item.ID">@item.OrgName</a></h5>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>