﻿@using SaveIt.Entity
@using SaveIt.Infrastructure
@model IEnumerable<News>

@{
    ViewBag.Title = "ShowNews";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="#">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                ألاخبار
            </li>
        </ol>
    </nav>
</section>

<!--  -->
<section class="News">
    <div class="container-fluid">
        <div class="div-Title">
            <h3>
                الاخبار
            </h3>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-6">
                @*<a href="@Url.Action("News","Home",new { id = item.Id})">*@

                    <a>
                        @Html.EncodedActionLink("", "News", "Home", new { Area = "", id = item.Id }, new { @class = "btn btn-warning waves-effect waves-light m-b-5" })  

                        <div class="News-Block">
                            <div class="media">
                                <div class="media-right">
                                    <img class="media-object" src="@item.PhotoPath" alt="">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        @item.Name
                                    </h4>
                                    <p class="date">
                                        <i class="fa fa-calendar"></i>
                                        @item.Date.Value.Date.ToShortDateString()
                                    </p>
                                    <p>
                                        @item.Details
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
            </div>
            }
        </div>
    </div>
</section>
