﻿@using SaveIt.Entity
@model IEnumerable<Event>
@using System.Globalization
@using SaveIt.Infrastructure
@{
    ViewBag.Title = "ShowEvents";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Home","Home")">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                الفعاليات
            </li>
        </ol>
    </nav>
</section>

<!--  -->
<section class="events">
    <div class="container">
        <div class="div-Title">
            <h3>
                الفعاليات
            </h3>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-sm-6">
                    <div class="eventCard">
                        @*<a href="@Url.Action("Events","Home",new { id = item.Id})">*@
                        <a>
                            @Html.EncodedActionLink("", "Events", "Home", new { Area = "", id = item.Id }, new { @class = "btn btn-warning waves-effect waves-light m-b-5" })

                            <img class="img-fluid" src="@item.PhotoPath">
                            @*<div class="eventDate">
                <span>
                    @(DateTime.Parse(item.StartDate.ToString()).ToString("dd"))
                </span>
                @(DateTime.Parse(item.StartDate.ToString()).ToString("MMM", new CultureInfo("ar-AE")))
            </div>*@
                            <div class="eventtitle">
                                @item.Name
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>