﻿@model IEnumerable<SaveIt.Entity.Ws_SocialMedia>

    @foreach (var item in Model)
    {
        if (item.type == "FaceBook")
        {
          <li><a href="@item.Link" class="social-icon icon-facebook"></a></li>
        }
        if (item.type == "Twitter")
        {
            <li><a href="@item.Link" class="social-icon icon-twitter"></a></li>
        }
        if (item.type == "Instegram")
        {
            <li><a href="@item.Link" class="social-icon icon-instagram"></a></li>
        }
        if (item.type == "Linkedin")
        {
            <li><a href="@item.Link" class="social-icon icon-linkedin"></a></li>
        }
    }