﻿@model IEnumerable<SaveIt.Entity.Ws_SocialMedia>


    @foreach (var item in Model)
    {
        if (item.type == "FaceBook")
        {
            <li class="list-inline-item"><a href="@item.Link" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        }
        if (item.type == "Twitter")
        {
            <li class="list-inline-item"><a href="@item.Link" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        }
        if (item.type == "Instegram")
        {
            <li class="list-inline-item"><a href="@item.Link" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
        }
        if (item.type == "Linkedin")
        {
            <li class="list-inline-item"><a href="@item.Link" data-toggle="tooltip" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
        }
    }
