﻿@model IEnumerable<SaveIt.Entity.CardCategory>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">  مجموعات البطاقات</h4>
        </div>
    </div>
</div>

<button class="btn btn-info waves-effect waves-light m-b-5" data-toggle="modal" onclick="editform('', '');" data-target="#EditClients"> <i class="fa fa-plus m-r-5"></i> <span>اضافة مجموعة</span> </button>

<div id="EditClients" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة المجموعة</h4>
            </div>
            @using (Html.BeginForm("Edit", "CardCategory", FormMethod.Post))
            {
             
                @Html.Hidden("Id")
                <div class="modal-body">
                 

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">اسم المجموعة  </label>
                                <input class="form-control" type="text" required name="Name" id="Name" placeholder="اسم المجموعة  " /> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">كود المجموعة  </label>
                                <input class="form-control" type="text" required name="Code" id="Code" placeholder="كود المجموعة  " />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">بداية الترقيم  </label>
                                <input class="form-control" type="number" required name="StartCode" id="StartCode" placeholder="بداية الترقيم  " />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">نهاية الترقيم  </label>
                                <input class="form-control" type="number" required name="EndCode" id="EndCode" placeholder="نهاية الترقيم  " />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">قيمة البطاقة  </label>
                                <input class="form-control" type="number" required name="Value" id="Value" placeholder="قيمة البطاقة   " />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ المجموعة</button>
                </div>
            }

        </div>
    </div>
</div>



@Html.ValidationSummary(true)

<div class="card-box">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>اسم المجموعة</th>
            <th>كود المجموعة</th>
            <th>بداية الترقيم</th>
            <th>نهاية الترقيم</th>
            <th>قيمة البطاقة</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {

            <tr id="@item.Id">

                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Code</td>
                <td>@item.StartCode</td>
                <td>@item.EndCode</td>
                <td>@item.Value</td>

                <td>
                    <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editform(@item.Id,'@item.Name','@item.StartCode','@item.EndCode','@item.Value','@item.Code')" data-toggle="modal" data-target="#EditClients"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
             
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitem(@item.Id)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>

                </td>
            </tr>
        }

    </table>
</div>



@section Scripts{
    <script>
        function   editform(Id,Name,StartCode,EndCode,Value,Code) {
            $("#Id").val(Id);
            $("#Name").val(Name);
            $("#StartCode").val(StartCode);
            $("#EndCode").val(EndCode);
            $("#Value").val(Value);
            $("#Code").val(Code);

        }

        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذه المجموعة ؟')) {
                $.ajax({
                    url:  "/Admin/CardCategory/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف المجموعة</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه المجموعة  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>هذه المجموعة مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

    </script>
}