﻿@model IEnumerable<SaveIt.Entity.Donator>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> طلبات الخدمات</h4>
        </div>
    </div>
</div>
<div class="validation-summary-errors20"></div>
<div id="loader10" class="aletr" style="display:none">
    جاري التحميل  ...<img src="~/img/ajax-loader.gif" />
</div>
<div class="card-box">
    <table class="table table-hover">
        <tr>
           
            <th>اسم المالك</th>
            <th>اسم المنظمة </th>
            <th>طلبات الخدمات</th>
           
        </tr>
        @foreach (var item in Model)
        {
           
            <tr>
                <td>@item.OwnName</td>
                <td>@item.OrgName</td>
                <td>
                    <ol>
                        @foreach (var it in item.OrderServices.Where(c => c.Status == 0))
                        {
                            string id = "order" + it.ID;
                            <li  id="@id" style="margin-bottom: 8px;">
                                <span>@it.Service</span><label class="badge badge-warning" style="margin: 0 5px;">@it.Discount %</label>
                                <button class="btn btn-success"  onclick="ReplyRequest(@it.ID,1)"><i class="fa fa-check-circle fa-lg"></i></button>
                                <button class="btn btn-danger" onclick="ReplyRequest(@it.ID,-1)"><i class="fa fa-times-circle fa-lg" ></i></button>
                            </li>
                        }
                    </ol> 
                </td>
               
                    
            </tr>
        }

    </table>
</div>



@section Scripts{
    <script>
        function ReplyRequest(id, type) {
            $("#loader10").show();

            var text, message;
            if (type == 1) {
                text = 'هل تريد قبول الطلب ؟';
                message = '<ul><li>تم قبول الطلب بنجاح</li></ul>';
            } else {
                text = 'هل تريد رفض  الطلب ؟';
                message = '<ul><li>تم رفض  الطلب بنجاح</li></ul>';
            }
            if (confirm(text)) {
                $.ajax({
                    url: "/Employee/Orders/RequestReplay?id=" + id + "&type=" + type,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $("#loader10").hide();
                        if (result == 1) {
                            $("#order" + id).remove();
                            $(".validation-summary-errors20").html(message);

                        } else {
                            $(".validation-summary-errors20").html('<ul><li>الطلب غير موجود الان يرجي اعادة تحميل الصفحة</li></ul>');

                        }

                    },
                    error: function () {
                        $("#loader10").hide();
                        $(".validation-summary-errors20").html('<ul><li>خطا في الطلب</li></ul>');

                    }
                });

            }
        }
    </script>
}