﻿
@using (Ajax.BeginForm("_Cart2", "Services", new AjaxOptions { }, new { @id = "login-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-row">
        <div class="form-group col-md-7 marginform">
            <label for="inputEmail4">إسم المستخدم</label>
            @Html.TextBox("Username", null, new { @class = "form-control", @Required = "Required", @placeholder = "اسم المستخدم..." })
        </div>
        <div class="form-group col-md-7 marginform">
            <label for="inputPassword4">كلمة المرور</label>
            @Html.TextBox("Password", null, new { @class = "form-control", @type = "password", @Required = "Required", @placeholder = "كلمة المرور..." })

        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            تسجيل الدخول
        </button>
    </div>
}
