﻿@model SaveIt.Entity.CartUser


@using (Ajax.BeginForm("_Cart1", "Services", new AjaxOptions { }, new { enctype = "multipart/form-data" }))
{
    <div class="form-row">
        <div class="form-group col-md-7 marginform">
            <label for="inputEmail4">الاسم بالكامل</label>
            @Html.TextBoxFor(c => c.FullName, new { @class = "form-control", @placeholder = "اكتب اسمك" })
        </div>
        <div class="form-group col-md-7 marginform">
            <label for="inputEmail4">إسم المستخدم</label>
            @Html.TextBoxFor(c => c.UserName, new { @class = "form-control", @placeholder = "اكتب اسمك" })
        </div>
        <div class="form-group col-md-7 marginform">
            <label for="inputEmail4">رقم الجوال</label>
            @Html.TextBoxFor(c => c.Phone, new { @class = "form-control", @placeholder = "اكتب رقمك" })
        </div>
        <div class="form-group col-md-7 marginform">
            <label for="inputEmail4">البريد الالكترونى</label>
            @Html.TextBoxFor(c => c.Email, new { @class = "form-control", @placeholder = "اكتب البريد" })
        </div>
        <div class="form-group col-md-7 marginform">
            <label for="inputPassword4">كلمة المرور</label>
            @Html.TextBoxFor(c => c.Password, new { @class = "form-control", @type = "password", @placeholder = "أكتب كلمة المرور" })
        </div>
        <div class="form-group col-md-7 marginform">
            <label for="inputPassword4">تأكيد كلمة المرور</label>
            <input type="password" name="confPass" class="form-control" id="inputPassword4" placeholder="أكد كلمة المرور">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            تسجيل
        </button>
    </div>
}
