﻿@model IEnumerable<SaveIt.Entity.Region>
@using SaveIt.Entity
@{
    SaveItEntities db = new SaveItEntities();

    var objDonators = db.ProductsCategories.Select(x => x.DonatorID).ToList();
}
<div class="filter-items">
    <h3 style="font-weight: 600;">
        المناطق
    </h3>

    <ul class="list-group" id="Actice">
        @foreach (var item in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="@Url.Action("PrdDonts", "Services",new { id=item.ID,type="r"})" id="@item.ID" onclick="getDonators(this.id)">
                    @item.Name
                    <span class="badge badge-primary badge-pill">
                        @item.Donators.Where(x => objDonators.Contains(x.ID) && x.RegionId == item.ID).Count()
                    </span>
                </a>
            </li>
        }
    </ul>
</div>

@section src{
    <script>
        $("#Active li a").click(function () {
            $(this).closest("li").addClass("active");
            $(this).siblings().closest("li").removeClass("active");
        });
    </script>
}
