﻿@using SaveIt.Entity
@model IEnumerable<CartDetail>


<table class="table table-striped table-bordered table-responsive-sm">
    <thead>
        <tr>
            <th scope="col">
                &nbsp;
            </th>
            <th scope="col">
                صورة المنتج
            </th>
            <th scope="col">
                اسم المنتج
            </th>
            <th scope="col">
                السعر
            </th>
            <th scope="col">
                الكمية
            </th>
            <th scope="col">
                السعر الاجمالى
            </th>
            <th scope="col">
                &nbsp;
            </th>
            <th scope="col">
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody id="btnC">
        @foreach (var item in Model)
        {
            <tr id="@item.ProductID">
                <th scope="row">
                    @Html.Hidden("PID", item.ProductID)
                    @Html.Hidden("CID", item.CartID)
                    @item.ID
                </th>
                <td>
                    <img src="@item.Product.Photo" class="Cart-img img-fluid">
                </td>
                <td>
                    <h5>
                        @item.Product.Name
                    </h5>
                </td>
                <td>
                    <p>
                        <span class="old">
                            @item.Product.Price ريال
                        </span>
                        <span class="new">
                            @(item.Product.Price - (item.Product.Discount * item.Product.Price) / 100)
                        </span>
                    </p>
                </td>
                <td>
                    <p class="cart-count">
                        <a class="add" type="button" id="S1+@item.ID" onclick="UpdateCat(@item.ProductID)">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                        <input value="@item.Quantity" class="form-control" type="text" id="Count@(item.ProductID)">
                        <a class="sup" type="button" id="S+@item.ID" onclick="UpdateCat(@item.ProductID)">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </a>
                    </p>
                </td>
                <td id="refCount@(item.CartID)">
                    <p>
                        <span class="total">
                            @item.Price
                        </span>
                </td>
                <td>
                    <a href="" class="close" id="@item.ProductID" onclick="reload()">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a href="" class="close" id="@item.ProductID" onclick="Delete(@item.ProductID)">
                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }

        <tr>
            <th></th>
            <td colspan="4" class="text-center h3">
                الاجمالي :
            </td>
            <td>
                @ViewBag.Total
                ريال
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<script>
    function reload() {
        location.reload();
    }
      function UpdateCat(id) {
            $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("UpdateProducts", "Home")',
                type: "get",
                dataType: "json",
                data: { Pid: id, count: $('#Count' + id).val() },
                success: function (data) {
                   
                },
                error: function () {

                }
                });
            });
    }
    function Delete(id) {
        var x = parseInt($('#CID').val())
          $.ajax({
              url: '@Url.Action("DeleteCart", "Home")',
              type: "get",
              dataType: "json",
              data: { Pid: id, Cid:x },
              success: function (data) {

                  $('#' + id).slideUp(400);
              },
              error: function () {

              }
          });
      }


</script>