﻿@model SaveIt.Entity.Donator

@{
    ViewBag.Title = "AddDonator";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="#">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">

            </li>
        </ol>
    </nav>
</section>
<section>

    <div class="container login">
        <form>
            <div class="row">
                @using (Html.BeginForm("AddDonator", "Services", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="col-md-6 col-sm-12">
                        <div class="form-row">

                            <div class="form-group col-12">
                                <label>اسم المالك</label>
                                @Html.TextBoxFor(c => c.OwnName, new { @class = "form-control", @placeholder = "اكتب اسمك" })
                            </div>
                            <div class="form-group col-12">
                                <label>اسم المسؤل</label>
                                @Html.TextBoxFor(c => c.ResponsableName, new { @class = "form-control", @placeholder = "أكتب اسم المسؤل" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label>اسم المنظمة</label>
                                @Html.TextBoxFor(c => c.OrgName, new { @class = "form-control", @placeholder = "أكتب اسم المنظمة" })
                            </div>
                            <div class="form-group col-12">
                                <label>رقم السجل</label>
                                @Html.TextBoxFor(c => c.BookName, new { @class = "form-control", @placeholder = "أكتب رقم السجل" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label>القسم</label>
                                @Html.DropDownListFor(c => c.CatID, ViewData["CatName"] as SelectList, "--أختر نوع القسم--",
new { @class = "form-control", id = "ddlCategorys" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label>تاريخ الاصدار</label>
                                <div class="iConDate">
                                    <input type="date" class="form-control" placeholder="25-5-2018">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label>تاريخ بداية العقد</label>
                                <div class="iConDate">
                                    @Html.TextBoxFor(c => c.ContractDate, new { @class = "form-control", @type = "date" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label>تاريخ انتهاء العقد</label>
                                <div class="iConDate">
                                    @Html.TextBoxFor(c => c.finishDate, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label>تاريخ الزيارة</label>
                                <div class="iConDate">
                                    @Html.TextBoxFor(c => c.VisiteDate, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label>تاريخ الخصم</label>
                                <div class="iConDate">
                                    @Html.TextBoxFor(c => c.DiscountDate, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label>المنطقة</label>
                                @Html.DropDownListFor(c => c.CatID, ViewData["RegionName"] as SelectList, "--أختر اسم المنطقة--",
                                                                                                                                                             new { @class = "form-control", id = "ddlDonators" })
                            </div>
                            <div class="form-group col-12">
                                <label>رقم الجوال 1</label>
                                @Html.TextBoxFor(c => c.Phone1, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label>العنوان</label>
                                @Html.TextBoxFor(c => c.Address, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-12">
                                <label>رقم الجوال 2</label>
                                @Html.TextBoxFor(c => c.Phone2, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label>الايميل</label>
                                @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-12">
                                <label>التليفون</label>
                                @Html.TextBoxFor(c => c.Telephone, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label>النشاط التجاري</label>
                                @Html.TextAreaFor(c => c.TradeActivity, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" class="forbtnstyle btn btn-light text-center">
                            تسجيل
                        </button>
                    </div>
                }
            </div>
        </form>
    </div>
</section>
