﻿@model SaveIt.Entity.Cart
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">

        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Home","Home")">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                عربة الشراء
            </li>
        </ol>
    </nav>
</section>

<section class="MyCart">
    <div class="container">
        <div class="div-Title">
            <h3>

                @Html.Hidden("cartsID", Model.ID)
                عربة الشراء
            </h3>
            <p style="color:red">@Session["Error"]</p>
        </div>
      
        <div class="Cart-Block">
            @Html.Action("_ShowCarts")
            <div class="checkout text-center" id="ee" >

                <input type="button" class="button-Submit" id="c1" onclick="UpdateDeliver(1)" value="تسليم" />
                <input type="button" class="button-Submit" id="c12" onclick="UpdateDeliver(2)" value="تجهيز" />

                
            </div>
        </div>
    </div>
</section>


<script>
    function reload() {
        location.reload();
    }


    function UpdateDeliver(id) {
        $(document).ready(function () {
            var x = $('#cartsID').val();

            $.ajax({
                url: '@Url.Action("Deliver", "Services")',
                type: "get",
                dataType: "json",
                data: { cid: x, ID: id },
                success: function (data) {
             
                    alert("تمت العمليه بنجاح");
                    $('#btnC').hide();
                    $('#ee').hide();
                },
                error: function () {

                }
            });
        });
    }

</script>