﻿@model SaveIt.Entity.Donator
@{
    ViewBag.Title = "معلومات المانح";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="#">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @Model.OrgName
            </li>
        </ol>
    </nav>
</section>

<section class="Secion">
    <div class="container-fluid">
        <div class="row" style="background-color:#eae5e5;">
            <div class="col-lg-4 col-md-12 pd-0">
                <div class="O-image">
                    @if (Model.Photo != null)
                    {
                        <img src="@Model.Photo" class="img-fluid" alt="offer-logo">
                    }
                    else
                    {
                        <img src="~/img/contact-placeholder.jpg" class="img-fluid" alt="offer-logo">
                    }
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="offerst">
                    <h3 class="txtoffer"><span>@ViewBag.Discount%</span></h3>
                </div>
                <div class="containerpp">
                    <h2>@Model.OrgName</h2>
                    <h3><i class="fa fa-phone" aria-hidden="true"></i>@Model.Phone1</h3>

                    <span class="Trd">@Model.TradeActivity</span>

                    <p>
                        <label class="text-uppercase">تاريخ العرض : </label>
                        <span>
                            @(((DateTime)Model.ContractDate).ToShortDateString())
                        </span>
                    </p>
                    <p>
                        <label class="text-uppercase">تاريخ الانتهاء :</label>
                        <span>
                            @(((DateTime)Model.finishDate).ToShortDateString())
                        </span>
                    </p>
                    <p><label class="text-uppercase">العنوان :</label><span>@Model.Address</span></p>
                    <img src="~/SaveItNewDesign/images/card.png" style="width:70px;" />
                    <span>احصل على @ViewBag.Discount% خصم فوري عند استخدامك وفر كارد</span>
                </div>
            </div>
        </div>
    </div>
</section>

@if (Model.DonatServices.Where(x => x.DonatorID == Model.ID).Count() > 0)
{
    <section class="tempOffers">
        <div class="container">
            <h3>العروض المؤقتة لهذا المانح</h3>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">اسم الخدمة</th>
                            <th scope="col">قيمة الخصم</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DonatServices.Where(x => x.DonatorID == Model.ID))
                        {
                            <tr>
                                <td> @item.Service</td>
                                <td> @item.Discount %</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
}

@if (Model.DonatorImages.Where(x => x.DonatorID == Model.ID).Count() > 0)
{
    <section class="imageGallery">
        <div class="container">
            <div class="div-Title">
                <h3>
                    معرض الصور
                </h3>
            </div>
            <div id="jssor_1">
                <!-- Loading Screen -->
                <div data-u="loading" class="jssorl-009-spin">
                    <img src="~/SaveItNewDesign/images/img/spin.svg" />
                </div>
                <div data-u="slides" class="InSlider">
                    @foreach (var item in Model.DonatorImages.Where(x => x.DonatorID == Model.ID))
                    {
                        <div>
                            <img data-u="image" src="@item.Image" />
                            <div data-u="thumb">
                                <img data-u="thumb" src="@item.Image" />
                            </div>
                        </div>
                    }

                </div>
                <!-- Thumbnail Navigator -->
                <div data-u="thumbnavigator" class="jssort111" data-autocenter="1" data-scale-bottom="0.75">
                    <div data-u="slides">
                        <div data-u="prototype" class="p">
                            <div data-u="thumbnailtemplate" class="t"></div>
                        </div>
                    </div>
                </div>
                <!-- Arrow Navigator -->
                <div data-u="arrowleft" class="jssora051" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                    <svg viewBox="0 0 16000 16000">
                        <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
                    </svg>
                </div>
                <div data-u="arrowright" class="jssora051" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                    <svg viewBox="0 0 16000 16000">
                        <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
                    </svg>
                </div>
            </div>
        </div>
    </section>
}
@if (Model.DonatorBranches.Where(x => x.DonatorID == Model.ID).Count() > 0)
{
    <section class="section2">

        <div>
            <h3 class="ltext-103 cl5" style="text-align:center">
                الفروع
            </h3>
        </div>

        @foreach (var item in Model.DonatorBranches)
        {

            <div class="container occord">
                <div class="page">
                    <div class="page__demo">
                        <div class="accordion">
                            <div id="about" class="accordion__group">

                                <input type="checkbox" class="accordion__control" id='@item.ID'>

                                <label class="accordion__toggle" for='@item.ID'>@item.Name</label>
                                <div class="accordion__body">
                                    <iframe src="https://maps.google.com/maps?q=@item.Lat,@item.Lang&hl=es;z=14&amp;output=embed" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    <div class="info">
                                        <h4>العنوان:</h4>
                                        <p>@item.Address</p>
                                        @*<h4>مدينة:</h4>
                                            <p>الساحل الشمالى</p>*@
                                        <h4>تليفون:</h4>
                                        <p>@item.Phone</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        }
    </section>
}

@section scr{
    <script>
        $(".Trd").each(function () {
            $(this).html($(this).text());
        });
    </script>
}
