﻿@model IEnumerable<SaveIt.Entity.Category>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="#">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                القسم التجاري
            </li>
        </ol>
    </nav>
</section>

<section class="Togary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                @Html.Action("_PrdCategory")
                <div class="place-items">
                    @Html.Action("_PrdRegions")
                </div>
            </div>
            <div class="col-md-8">
                <div class="filter-result">
                    <div id="divDonators" class="filter-result">
                        @Html.Action("PrdDonts", new { id = ViewBag.Donts, type = "d" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function getDonators(id) {
        event.preventDefault();
        $.ajax({
            url: $("#" + id).attr("href"),
            method: "post",
            data: {},
            success: function (data) {
                $("#divDonators").html(data);
            }
        });
    }
</script>