﻿@model IEnumerable<SaveIt.Entity.Donator>
@using SaveIt.Infrastructure
<h3>
    المتجر
</h3>


<div class="row">
    <div class="col-12">
        <div class="Cat-Header">
            <h3>
                @ViewBag.DontName
                @ViewBag.RgnsName
            </h3>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6">
                <div class="Partner">
                    @*<a href="@Url.Action("Products","Home",new { id=item.ID,type="d"})"*@
                                        <a> @Html.EncodedActionLink("", "Products", "Home", new { Area = "", Id = item.ID }, new {      @class="btn btn-warning waves-effect waves-light m-b-5" })  >
                        <div class="Partner-Img">
                            @if (item.Photo != null)
                            {
                                <img src="@item.Photo" alt="logo" class="Partner-logo">
                            }
                            else
                            {
                                <img src="~/img/contact-placeholder.jpg" alt="logo" class="Partner-logo">

                            }
                            <div class="Discount">
                                <p>
                                    @item.DonatServices.Where(x => x.DonatorID == item.ID).Select(x => x.Discount).FirstOrDefault()%
                                </p>
                            </div>
                        </div>
                        <div class="Partner-name">
                            <h3>
                                @item.OrgName
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>

