﻿@model SaveIt.Entity.Card



<div id="ResetPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تغيير كلمة المرور</h4>
            </div>
            @using (Html.BeginForm("ResetPassword", "ClientControlPanel", FormMethod.Post))
            {
                @Html.Hidden("ClientID", Model.ClientID)
            
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">اسم المستخدم </label>
                                <input type="text" class="form-control" readonly name="UserName" value="@ViewBag.Username" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">كلمة المرور  </label>
                                <input type="password" class="form-control" required name="Password">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label"> تاكيد كلمة المرور  </label>
                                <input type="password" class="form-control" required name="ConfirmPassword">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
                </div>
            }

        </div>
    </div>
</div>



<div id="ResetUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تغيير اسم المستخدم</h4>
            </div>
            @using (Html.BeginForm("ResetUserName", "ClientControlPanel", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">اسم المستخدم القديم</label>
                                <input type="text" class="form-control" readonly name="oldUserName" value="@ViewBag.Username">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">اسم المستخدم الجديد </label>
                                <input type="text" required class="form-control" name="newUserName">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
                </div>
            }

        </div>
    </div>
</div>



<div class="row">
    <h3 class="page-title">لوحة تحكم العميل</h3>
    <div class="col-sm-6">

        @if (Model.UserID == null)
        {
            <div class="validation-summary-errors">
                <ul>
                    <li>
                        يرجي الانتظار وسيتم الرد عليك خلال 24 ساعة
                    </li>
                </ul>
            </div>
        }
    </div>
    <div class="col-sm-6">
        @Html.ValidationSummary(true)

    </div>

</div>

<div class="row">
    <div class="col-md-4 col-lg-3">
        <div class="text-center card-box">
            <div class="member-card">
             
              
                    <div class="text-left m-t-40">
                        <p class="text-muted font-13"><strong>اسم المستخدم :</strong> <span class="m-l-15">@ViewBag.Username</span></p>
                    </div>
                   <button type="button" class="btn btn-pink btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#ResetUser">تغيير اسم المستخدم</button>
                <br/>
                <button type="button" class="btn btn-purple btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#ResetPassword">تغيير كلمة المرور</button>
              
            </div>  
        </div>
    </div>
    <div class="col-md-8 col-lg-9">
        <div class="card-box">

            <div class="row ">
                <div class="col-md-6 col-sm-6 ">
                    


                    <div class="text-left m-t-40">
                        <p class="text-muted font-13">
                            <strong>تاريخ صلاحية العضوية :</strong> 
                            <span class="m-l-15">
                                @{
                                          if (Model.StartDate != null)
                                          {
                                              @Model.StartDate.Value.ToShortDateString()
                                          }
                                      }
                            </span>
                        </p>
                        <hr/>
                      
                        <p class="text-muted font-13"><strong>تاريخ نهاية العضوية : </strong>
                           
                            <span class="m-l-15">
                                @{
                                    if (Model.FinishDate != null)
                                    {
                                        @Model.FinishDate.Value.ToShortDateString()
                                    }
                                }
                            </span>

                        </p>
                        <hr />
                        <p class="text-muted font-13"><strong>اسم العميل : </strong> <span class="m-l-15">@Model.Name</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>العنوان :</strong> <span class="m-l-15">@Model.Address</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>الايميل : </strong> <span class="m-l-15">@Model.Email</span></p>
                        <hr />
                         <p class="text-muted font-13"><strong>الايميل : </strong> <span class="m-l-15">@Model.Phone</span></p>
                       
                    </div>
             
                </div>

                <div class="col-md-6 col-sm-6  ">
                    
                    <div class="text-left m-t-40">
                        <p class="text-muted font-13"><strong>القرية :  </strong> <span class="m-l-15">@Model.Villages</span></p>
                       
                           <hr />
                        <p class="text-muted font-13"><strong>عنوان الاستلام :</strong><span class="m-l-15">@Model.AddressReciving</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong> عمر المشترك :</strong> 
                        <span class="m-l-15">@Model.Age</span></p>
                        <hr />
                     
                        <p class="text-muted font-13"><strong>الثمن المدفوع : </strong> <span class="m-l-15">@Model.Paid</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>المدة :</strong> <span class="m-l-15">@Model.Peroud</span></p>
                        <hr />
           
                        <p class="text-muted font-13"><strong>عنوان العمل :  </strong> <span class="m-l-15">@Model.workAddress</span></p>

                    </div>

                    
                </div>

            </div>
          

        </div>

    </div>
</div>
  
