﻿@model IEnumerable<SaveIt.Entity.TempDiscountService>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">  طلابات الخصومات المؤقت  </h4>
            <button class="btn btn-success waves-effect waves-light m-b-5" data-toggle="modal" data-target="#Oders" onclick="getinfo(0,'','','','','','')">اضافة الطلب</button>
        </div>
    </div>
</div>



<div id="Oders" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"> اضافة خصم</h4>
            </div>
            @using (Html.BeginForm("Edit", "TempOrders", FormMethod.Post))
            {
                <input name="Id" value="0" id="Id" type="hidden" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label"> الخدمة  </label>
                                @Html.DropDownList("ServiceId",null,new { @class="form-control", @required="required"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">خصم المؤقت </label>
                                <input type="number" class="form-control" required name="Discount" id="Discount" placeholder="خصم الخدمة ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">تاريخ بداية الخصم  </label>
                                <input type="datetime" class="form-control mydate" name="DateForm" id="DateForm">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">وقت بداية الخصم</label>
                                <input type="time" class="form-control" name="TimeFrom" id="TimeFrom">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">تاريخ نهاية الخصم  </label>
                                <input type="datetime" class="form-control mydate" name="DateTo" id="DateTo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">وقت نهاية الخصم</label>
                                <input type="time" class="form-control" name="TimeTo" id="TimeTo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">الهدف من هذا الخصم  </label>
                                <input type="text" class="form-control" name="Notes" id="Notes">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التغييرات</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="validation-summary-errors"></div>
<div class="card-box">
    <table class="table table-hover">
        <tr>

            <th></th>
            <th>#</th>
            <th>الخدمة </th>
            <th>الخصم </th>
            <th>بداية الخصم </th>
            <th>نهاية الخصم </th>

            <th>الحالة</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            string datefrom = "", dateto = "";
            if (item.DateForm != null) { datefrom = item.DateForm.Value.ToShortDateString(); }
            if (item.DateTo != null) { dateto = item.DateTo.Value.ToShortDateString(); }
            <tr id="@item.Id">
                <td>
                    @if (item.IsAccepted==null)
                    {
                        <i class="fa fa-spinner fa-spin fa-2x "></i>
                    }
                    else if (item.IsAccepted == true)
                    {
                        <i class="fa fa-check fa-2x " style="color: green;"></i>
                    }
                    else
                    {
                        <i class="fa fa-times fa-2x " style="color: red;"></i>
                    }
                </td>
                <td>@item.Id</td>
                <td>@item.DonatService.Service</td>
                <td>@item.Discount</td>
                <td>@datefrom  @item.TimeFrom</td>
                <td>@dateto @item.TimeTo</td>
                <td>
                   @if (item.IsAccepted == null)
                   {
                        <span>في إنتظارالرد</span>
                   }
                   else if (item.IsAccepted == true)
                    {
                        <span>تم قبول الطلب</span>
                    }
                    else
                    {
                        <span>تم رفض الطلب</span>
                    }
                </td>
                <td>
                    @if (item.IsAccepted == null)
                    {
                        <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="orders('@item.Id')">حذف الطلب</button>
                        <button class="btn btn-success waves-effect waves-light m-b-5" data-toggle="modal" data-target="#Oders" onclick="getinfo('@item.Id','@item.Discount','@datefrom','@dateto','@item.TimeFrom','@item.TimeTo','@item.Notes')">تعديل الطلب</button>
                    }
                </td>
            </tr>
        }
    </table>
</div>



@section Scripts{
    <script>
        jQuery(document).ready(function () {
            jQuery('.mydate').datepicker({ format: 'dd/mm/yyyy' });
        });
        function orders(ID) {
            if (confirm('هل تريد حذف الطلب ؟')) {
                $.ajax({
                    url: "/Donators/TempOrders/Delete?id=" + ID,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + ID).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف الطلب </li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>حدث خطا في  حذف الطلب</li></ul>');
                        }
                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>حدث خطا في حذف الطلب</li></ul>');
                    }
                });
            }
        }

        function getinfo(Id, Discount, DateForm, DateTo,TimeFrom,TimeTo,Notes) {
            $("#Id").val(Id);
            $("#Discount").val(Discount);
            $("#DateForm").val(DateForm);
            $("#DateTo").val(DateTo);
            $("#TimeFrom").val(TimeFrom);
            $("#TimeTo").val(TimeTo);
            $("#Notes").val(Notes);
        }

    </script>
}