﻿@model SaveIt.Entity.DonatorBranch
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title"> اضافة معلومة</h4>
</div>
@using (Html.BeginForm("Edit", "Branches", FormMethod.Post))
{

    <input name="ID" value="@Model.ID" id="ID" type="hidden"  />
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label"> اسم الفرع  </label>
                                <input type="text" class="form-control" required name="Name" id="Name" placeholder="اسم الفرع  " value="@Model.Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">رقم الجوال </label>
                                <input type="number" class="form-control" required name="Phone" id="Phone" placeholder="رقم الجوال " value="@Model.Phone">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">عنوان الفرع </label>
                                <input type="text" class="form-control" required name="Address" id="Address" placeholder="عنوان الفرع " value="@Model.Address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <input id="pacinput" class="form-control" type="text" placeholder="اكتب اسم المنطقة" style="width:60%;">
                            <div class="col-sm-6">
                                <label>Latetude</label>
                                <input id="mylat" name="Lat" class="form-control" type="text" required value="@Model.Lat"/>
                            </div>
                            <div class="col-sm-6">
                                <label>Langtude</label>
                                <input id="mylang" name="Lang" class="form-control" type="text" required value="@Model.Lang"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="mapxmap" style="width: 100%; height: 200px; margin: 0 auto;"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التغييرات</button>
                </div>
}





@{
    string lang, lat, ff;
}
@if (Model.Lang == null || Model.Lat == null)
{
    lat = "24.774265";
    lang = "46.738586";
    ff = "false";
}
else
{
    lang = Model.Lang;
    lat = Model.Lat;
    ff = "true";
}



<script>

    var myf="@ff";
    var map,
        mLat,
        mLng,
        marker = [],
        loc,
        mnum = 0;

    function initialize() {



        var mylocate = new google.maps.LatLng(@lat,@lang);
                var mapOptions = {
                    zoom: 7,
                    center: mylocate,
                    mapTypeIds: ["hybrid", "roadmap", "satellite", "terrain", "osm", "cloudmade"]
                };
                map = new google.maps.Map(document.getElementById('mapxmap'),
                    mapOptions
                );
                if (myf == "true") {
                    marker[mnum] = new google.maps.Marker({
                        position: mylocate,
                        animation: google.maps.Animation.BOUNCE
                    });
                    marker[mnum].setMap(map);
                }
                var input = document.getElementById('pacinput');
                var searchBox = new google.maps.places.SearchBox(input);
                map.controls[google.maps.ControlPosition.TOP_RIGHT].push(input);
                map.addListener('bounds_changed', function() {
                    searchBox.setBounds(map.getBounds());
                });
                searchBox.addListener('places_changed', function() {
                    var places = searchBox.getPlaces();
                    if (places.length == 0) {
                        return;
                    }
                    // For each place, get the icon, name and location.
                    var bounds = new google.maps.LatLngBounds();
                    places.forEach(function(place) {
                        if (!place.geometry) {
                            console.log("Returned place contains no geometry");
                            return;
                        }
                        if (place.geometry.viewport) {
                            // Only geocodes have viewport.
                            bounds.union(place.geometry.viewport);
                        } else {
                            bounds.extend(place.geometry.location);
                        }
                    });
                    map.fitBounds(bounds);
                });
                // add a click event listener to
                // get the lat/lng from click event of map
                google.maps.event.addListener(map, 'click', function (event) {
                    mLat = event.latLng.lat();
                    mLng = event.latLng.lng();
                    document.getElementById('mylat').value = mLat;
                    document.getElementById('mylang').value = mLng;
                    //--------------------------------------marker ---------------
                    //remove marker----
                    for (var i = 0; i < marker.length; i++) {
                        marker[i].setMap(null);
                        mnum = marker.length;
                    }
                    //create marker----
                    loc = new google.maps.LatLng(mLat, mLng);
                    marker[mnum] = new google.maps.Marker({
                        position: loc,
                        animation: google.maps.Animation.BOUNCE
                    });
                    marker[mnum].setMap(map);
                });
            }
           // google.maps.event.addDomListener(window, 'load', initialize);
        
</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAovNTHug4egjHWj2p1_iE0lUNEEwgsQZo&language=ar&libraries=places&callback=initialize" async defer></script>

