﻿@model IEnumerable<SaveIt.Entity.Donator>

@{
    ViewBag.Title = "title";
  }

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> العقود المعتمدة</h4>
        </div>
    </div>
</div>


<div class="card-box">
    <table class="table table-hover">
        <tr>
            <th>الرقم المتسلسل</th>
            <th>اسم المالك</th>
            <th>اسم المنظمة </th>
            <th>اسم المسؤول</th>
            <th>رقم السجل</th>
            <th></th>
        </tr>
        @foreach (var item in Model.OrderByDescending(c=>c.ID))
        {
            <tr id="@item.ID">
                <td>@item.ID</td>
                <td class="OwnName">@item.OwnName</td>
                <td class="OrgName">@item.OrgName</td>
                <td class="ResponsableName">@item.ResponsableName</td>
                <td class="BookName">@item.BookName</td>
                <td>
                    <a class="btn btn-primary waves-effect waves-light m-b-5" href="/Employee/Donators/Details/@item.ID"> التفاصيل</a>
                </td>
            </tr>
        }

    </table>
</div>