﻿@model IEnumerable<SaveIt.Entity.Donator>
<link rel="stylesheet" href="/Scripts/magnific-popup/dist/magnific-popup.css" />

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h3 class="page-title"> معرض الصور</h3>
        </div>
    </div>
</div>
<div id="loader10" class="aletr" style="display:none">
    جاري معالجة الطلب ...<img src="~/img/ajax-loader.gif" />
</div>
<div class="validation-summary-errors"></div>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title"> @item.OrgName</h4>
                <hr />
            </div>
        </div>
    </div>
    <div class="row port m-b-20">
        <div class="portfolioContainer">
            @foreach (var it in item.DonatorImages)
            {
                <div class="col-sm-6 col-lg-3 col-md-4 " id="@it.ID">
                    <div class="gal-detail thumb">
                        <a href="@it.Image" class="image-popup" title="image">
                            <img src="@it.Image" class="thumb-img" alt="work-thumbnail">
                        </a>
                        <div class="ga-border"></div>
                        <p class="text-muted text-center">
                            <button class="btn btn-success waves-effect waves-light m-b-5" onclick="accept(@it.ID,1)"> <i class="fa fa-pencil m-r-5"></i> <span>قبول الطلب</span> </button>
                            <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="accept(@it.ID,-1)"> <i class="fa fa-trash m-r-5"></i> <span>رفض الطلب</span> </button>
                        </p>
                    </div>
                </div>
            }



        </div>
    </div> <!-- End row -->
}

@section Scripts{

    <script>
        function accept(id, type) {
            $("#loader10").show();
            var text="";
            if(type==-1){
                text='هل تريد رفض الطلب ؟';
            }else{
                text='هل تريد قبول الطلب ؟';
            }
            if (confirm(text)) {
                $.ajax({
                    url:  "/Admin/AcceptImages/Edit?id=" + id+"&type="+type,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم قبول الطلب</li></ul>');
                            $("#loader10").hide();
                        } else {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم رفض الطلب</li></ul>');
                            $("#loader10").hide();
                        }
                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>هذه الصورة مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');
                        $("#loader10").hide();
                    }
                });

            } else {
                $("#loader10").hide();
            }
           
        }

    </script>
    <script type="text/javascript" src="/Scripts/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.image-popup').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                mainClass: 'mfp-fade',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                }
            });
        });
    </script>




}