﻿@model IEnumerable<SaveIt.Entity.EventPhoto>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> ادارة  صور المعالم</h4>
        </div>
    </div>
</div>

<button class="btn btn-info waves-effect waves-light m-b-5" data-toggle="modal" onclick="editformPhoto('0', '');" data-target="#EditClients"> <i class="fa fa-plus m-r-5"></i> <span>اضافة صوره </span> </button>

<div id="EditClients" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة صوره</h4>
            </div>
            @using (Html.BeginForm("Edit", "EventPhoto", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                
            <div class="modal-body">
                <input type="text" id="IdPhoto" name="IdPhoto" hidden />
                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">الفاعليه   </label>
                            @Html.DropDownList("EventId", ViewBag.EventId as SelectList, "اخنر الفاعليه", new { @class = "form-control select5", @Required = "Required", @id = "EventId", @name = "EventId" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">المنطقه   </label>
                            @Html.DropDownList("CardId", ViewBag.Cards as SelectList, "اخنر البطاقه", new { @class = "form-control select5", @Required = "Required", @id = "CardId", @name = "CardId" })
                        </div>
                    </div>
                </div>






                <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.TextBox("file", null, new { @id = "input-1700", @type = "file", @class = "file-loading", @accept = "image/*" })
                    <script>
                        $("#input-1700").fileinput({
                            maxFileCount: 1,
                            allowedFileExtensions: ["jpg", "png", "gif"],
                            browseLabel: " إضغط لإختيار صورة ..",
                            browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                            browseClass: "btn btn-primary btn-block",
                            showCaption: false,
                            showRemove: false,
                            showUpload: false
                        });
                    </script>
                </div>
            </div>
        </div>


            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ المعلم</button>
                </div>
            }

        </div>
    </div>
</div>



@Html.ValidationSummary(true)

<div class="card-box">
    <table class="table table-hover">
        <tr>
            <th>الكود</th>
            <th>اسم المعلم</th>
            <th>اسم البطاقه </th>
            
            <th>صوره المعلم </th>

            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">

                <td>@item.Id</td>
                <td>@item.Event.Name</td>
                <td>@item.Card.Name</td>
                

                <td>
                    <a  download="@item.PhotoPath">  <img src="@item.PhotoPath" alt="لا يوجد صورة" style="width:50px; height:50px;" /></a>
                </td>
                <td>
                    <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editformPhoto(@item.Id,'@item.EventId','@item.CardId')" data-toggle="modal" data-target="#EditClients"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitemPhoto(@item.Id)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>

                </td>
            </tr>
        }

    </table>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $('form').ajaxForm(function () {
                alert("Uploaded SuccessFully");
            });
        });

        function preview_image() {
            var total_file = document.getElementById("upload_file").files.length;
            for (var i = 0; i < total_file; i++) {
                $('#image_preview').append("<img src='" + URL.createObjectURL(event.target.files[i]) + "'>");
            }
        }
    </script>



    <link href="~/WebsiteAssets/Multfile1.css" rel="stylesheet" />


    <script>
        function editformPhoto(Id, LandmarkId, CardId) {
            $("#IdPhoto").val(Id);
            $("#LandmarkId").val(LandmarkId);
            $("#CardId").val(CardId);

           

           

        }

        function deleteitemPhoto(id) {
            if (confirm('هل تريد حذف  هذه الصوره ؟')) {
                $.ajax({
                    url: "/Admin/EventPhoto/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف الصوره</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه الصوره  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه المعلم مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

    </script>
}