﻿@model IEnumerable<SaveIt.Entity.Card>
@{
    ViewBag.Title = "Complete";
}


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> جدول المشتركين المعتمدين</h4>
        </div>
    </div>
</div>




<div class="card-box">
    <div class="row">
        <label class="control-label col-sm-3">
            فلتر المجموعة
        </label>
        <div class="col-sm-9">
            @Html.DropDownList("CategoryId", null, "الكل", new { @class = "form-control" , @onchange = "UpdateList();" })
        </div>
    </div>
</div>
<script>
    function UpdateList() {
        var id = $("#CategoryId").val();
            $("#preholder").show();
            $.ajax({
                url: "/Employee/CompleteCards/Completed/" + id,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $("#list").html(result);
                    $("#preholder").hide();
                },
                error: function () {
                    alert("لقد حدث خطا يرجي اعادة تحديث للصفحة!");
                    $("#preholder").hide();
                }
            });
    }
</script>
<br />
<img id="preholder" style="display:none" src="~/img/ajax-loader.gif"  />
<div class="card-box" id="list">
    @Html.Partial("list3", Model)
</div>
<script>
    function GetDeleteCard(id) {
            $("#preholder").show();
            $.ajax({
                url: "/Employee/CompleteCards/DeleteCard/" + id,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    if (result > 0) {
                        $("#" + id).remove();
                        alert("تم الحذف بنجاح!");
                    } else {
                        alert("لقد حدث خطا في حذف المشترك يرجي اعادة تحديث للصفحة!");
                    }
                    $("#preholder").hide();
                },
                error: function () {
                    alert("لقد حدث خطا يرجي اعادة تحديث للصفحة!");
                    $("#preholder").hide();
                }
            });
    }
</script>