﻿@model IEnumerable<SaveIt.Entity.Card>
<table class="table table-hover table-bordered">
    <tr>
        <th>الرقم المتسلسل</th>
        <th>كود البطاقة</th>
        <th>اسم العميل</th>
        <th>رقم الجوال </th>
        <th>البريد الاليكتروني</th>
        <th>نوع البطاقة</th>
        <th>الحالة</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="@item.ClientID">
            <td>@item.ClientID</td>
            <td>@item.SubCode-@item.Code</td>
            <td class="OwnName">@item.Name</td>
            <td class="OrgName">@item.Phone</td>
            <td class="ResponsableName">@item.Email</td>
            <td>
                @if (item.CardCategory != null)
                {
                    @item.CardCategory.Name
                }
            </td>
            <td>
                @if (item.Status == 0)
                {
                    <span>في انتظار التاكيد</span>
                }
                else if (item.Status == 1)
                {
                    <span>تم تاكيد الاشتراك</span>
                }
                else if (item.Status == -1)
                {
                    <span>تم الغاء الاشتراك</span>
                }
                else if (item.Status == 2)
                {
                    <span>تم تاكيد التسليم</span>
                }
            </td>
            <td>
                <a class="btn btn-success waves-effect waves-light m-b-5" href="@Url.Action("CompleteAccept",new {id=item.ClientID,type=2})">  تاكيد التسليم</a>
                @*<a class="btn btn-danger waves-effect waves-light m-b-5" href="@Url.Action("CompleteAccept",new {id=item.ClientID,type=-1})" >  الغاء الاشتراك</a>*@
                <a class="btn btn-danger waves-effect waves-light m-b-5" href="javascript:GetDeleteCard(@item.ClientID)">  حذف المشترك</a>

            </td>
        </tr>
    }

</table>