﻿@model IEnumerable<SaveIt.Entity.EventSocialMedia>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> ادارة   حسابات التواصل التنظيم</h4>
        </div>
    </div>
</div>

<button class="btn btn-info waves-effect waves-light m-b-5" data-toggle="modal" onclick="editformSoc('0', '');" data-target="#EditClients"> <i class="fa fa-plus m-r-5"></i> <span>اضافة حساب </span> </button>

<div id="EditClients" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة حساب</h4>
            </div>
            @using (Html.BeginForm("Edit", "EventSocialMedia", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {


            <div class="modal-body">
                <input type="text" id="EvSoId" name="EvSoId" hidden />

                <input type="text" id="EventId" name="EventId" value="@ViewBag.EventId" hidden />










                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">نوع الاكونت  </label>
                            <select class="form-control" id="type" name="type" required>
                                <option value="">يرجي تحديد الموقع</option>
                                <option value="FaceBook">فيس بوك</option>
                                <option value="Twitter">تويتر</option>
                                <option value="Instegram">انستجرام</option>
                                <option value="Linkedin">لينكدا ان</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">رابط الاكونت  </label>
                            <input class="form-control" type="text" required name="Link" id="Link" placeholder="رابط الاكونت  " />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">العرض  </label>
                            <select class="form-control" id="Isactive" name="Isactive" required>
                                <option value="true">يعرض</option>
                                <option value="false">لا يعرض</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ المعلم</button>
                </div>
            }

        </div>
    </div>
</div>



@Html.ValidationSummary(true)
<div class="card-box">
    <table class="table table-hover">
        <tr>
            <th>الكود</th>
            <th>النوع</th>
            <th>اللينك  </th>

            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">

                <td>@item.Id</td>
                <td>@item.type</td>
                <td>@item.Link</td>


                <td>
                    <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editformSoc(@item.Id,'@item.Link','@item.type')" data-toggle="modal" data-target="#EditClients"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitemSoc(@item.Id)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>

                </td>
            </tr>
        }

    </table>
</div>



@section Scripts{





    <script>
        function editformSoc(Id, Link, type) {
            $("#EvSoId").val(Id);
            $("#Link").val(Link);
            $("#type").val(type);





        }

        function deleteitemSoc(EvSoId) {

            if (confirm('هل تريد حذف  هذا التنظيم ؟')) {
                $.ajax({
                    url: "/Admin/EventSocialMedia/Delete/" + EvSoId,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + EvSoId).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف التنظيم</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه التنظيم  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه التنظيم مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

    </script>
}