﻿@model IEnumerable<SaveIt.Entity.OrderService>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> طلابات الخصومات  </h4>
            <button class="btn btn-success waves-effect waves-light m-b-5" data-toggle="modal" data-target="#Oders" onclick="getinfo(0,'','')">اضافة الطلب</button>

        </div>
    </div>
</div>



<div id="Oders" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"> اضافة خصم</h4>
            </div>
            @using (Html.BeginForm("Edit", "Orders", FormMethod.Post))
            {

                <input name="ID" value="0" id="ID" type="hidden" />
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label"> الخدمة  </label>
                                <input type="text" class="form-control" required name="Service" id="Service" placeholder="اكتب  الخدمة ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">خصم الخدمة </label>
                                <input type="number" class="form-control" required name="Discount" id="Discount" placeholder="خصم الخدمة ">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التغييرات</button>
                </div>
            }

        </div>
    </div>
</div>


<div class="validation-summary-errors"></div>

<div class="card-box">
    <table class="table table-hover">
        <tr>

            <th></th>
            <th>#</th>
            <th>الخدمة </th>
            <th>الخصم </th>

            <th>الحالة</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="@item.ID">

                <td>
                    @if (item.Status == 0)
                    {
                        <i class="fa fa-spinner fa-spin fa-2x "></i>
                    }
                    else if (item.Status == 1)
                    {
                        <i class="fa fa-check fa-2x " style="color: green;"></i>
                    }
                    else
                    {
                        <i class="fa fa-times fa-2x " style="color: red;"></i>
                    }
                </td>
                <td>@item.ID</td>
                <td>@item.Service</td>
                <td>@item.Discount</td>
                <td>
                    @if (item.Status == 0)
                    {
                        <span>في إنتظارالرد</span>
                    }
                    else if (item.Status == 1)
                    {
                        <span>تم قبول الطلب</span>
                    }
                    else
                    {
                        <span>تم رفض الطلب</span>
                    }
                </td>
                <td>
                    @if (item.Status == 0)
                    {
                        <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="orders('@item.ID')">حذف الطلب</button>
                        <button class="btn btn-success waves-effect waves-light m-b-5" data-toggle="modal" data-target="#Oders" onclick="getinfo('@item.ID','@item.Service','@item.Discount')">تعديل الطلب</button>
                    }
                </td>
            </tr>
        }

    </table>
</div>



@section Scripts{
    <script>

        function orders(ID) {

            if (confirm('هل تريد حذف الطلب ؟')) {
                $.ajax({
                    url: "/Donators/Orders/Delete?id=" + ID,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + ID).remove();

                            $(".validation-summary-errors").html('<ul><li>تم حذف الطلب </li></ul>');


                        } else {
                            $(".validation-summary-errors").html('<ul><li>حدث خطا في  حذف الطلب</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>حدث خطا في حذف الطلب</li></ul>');
                    }
                });

            }
        }

        function getinfo(ID, Service, Discount) {
            $("#ID").val(ID);
            $("#Service").val(Service);
            $("#Discount").val(Discount);
        }

    </script>
}