﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">لوحة التحكم</h4>
        </div>
    </div>
</div>

<div class="row">


    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/Donators">
                <i class="md md-settings text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">المانحين</p>
                    <h4 class="m-t-0 m-b-5 counter">#</h4>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/CompleteDonatorInfo">
                <i class="md md-videocam text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">العقود المعتمدة </p>
                    <h4 class="m-t-0 m-b-5 counter">@@</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/CompleteCards/Create">
                <i class="md md-colorize text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">اضافة بطاقة </p>
                    <h4 class="m-t-0 m-b-5 counter">@@</h4>
                </div>
            </a>
        </div>
    </div>
 <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/CompleteCards">
                <i class="md md-colorize text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">استكمال البطاقات </p>
                    <h4 class="m-t-0 m-b-5 counter">@@</h4>
                </div>
            </a>
        </div>
    </div>
 <div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/CompleteCards/Complete">
                <i class="md md-camera-rear text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">اصدار البطاقات </p>
                    <h4 class="m-t-0 m-b-5 counter">@@</h4>
                </div>
            </a>
        </div>
    </div>
<div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/CompleteCards/Completing">
                <i class="md md-camera-front text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">جدول العملاء </p>
                    <h4 class="m-t-0 m-b-5 counter">@@</h4>
                </div>
            </a>
        </div>
    </div>

<div class="col-sm-6 col-lg-3">
        <div class="card-box widget-icon">
            <a href="/Employee/CompleteCards/Completed">
                <i class="md md-camera-rear text-primary"></i>
                <div class="wid-icon-info">
                    <p class="text-muted m-b-5  text-uppercase" style="font-size: 18px;">المشتركين المعتمدين </p>
                    <h4 class="m-t-0 m-b-5 counter">@@</h4>
                </div>
            </a>
        </div>
    </div>


</div>


