﻿@model IEnumerable<SaveIt.Entity.Ws_Photos>
<link rel="stylesheet" href="/Scripts/magnific-popup/dist/magnific-popup.css" />

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> معرض الصور</h4>
        </div>
    </div>
</div>

<button class="btn btn-info waves-effect waves-light m-b-5" data-toggle="modal" onclick="editform(0, '','','');" data-target="#EditClients"> <i class="fa fa-plus m-r-5"></i> <span>اضافة صورة</span> </button>

<div id="EditClients" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة الصورة</h4>
            </div>
            @using (Html.BeginForm("Edit", "ImageWebSite", FormMethod.Post, new { enctype = "multipart/form-data"}))
            {
             @Html.Hidden("PhotoPath")
                <input type="hidden" id="ID" name="ID" value="0"/>
                <div class="modal-body">
                   
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">اسم الصورة  </label>
                                <input type="text" class="form-control" required name="Title" id="Title" placeholder="اسم الصورة ">
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">إظهار الصورة </label>
                                <select class="form-control" id="Isactive" name="Isactive" required>
                                    <option value="true">نعم</option>
                                    <option value="false">لا</option>
                                </select>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">اختر الصورة  </label>
                                <input type="file" class="form-control"  name="Photo" >
                            </div>
                        </div>
                    </div>
                  

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الصورة</button>
                </div>
            }

        </div>
    </div>
</div>


<div class="row">
   
    <div class="col-sm-6 col-sm-offset-3">@Html.ValidationSummary(true)</div>
</div>


<div class="row port m-b-20">
    <div class="portfolioContainer">
        @foreach (var item in Model)
        {
            string visable = item.Isactive ? "true" : "false";
                 <div class="col-sm-6 col-lg-3 col-md-4 "  id="@item.ID">
            <div class="gal-detail thumb">
                <a href="@item.PhotoPath" class="image-popup" title="@item.Title">
                    <img src="@item.PhotoPath" class="thumb-img" alt="work-thumbnail">
                </a>
                <h4 class="text-center">@item.Title</h4>
                <div class="ga-border"></div>
                <p class="text-muted text-center">
                    <button class="btn btn-success waves-effect waves-light m-b-5" data-toggle="modal" onclick="editform(@item.ID, '@item.Title','@item.PhotoPath','@visable');" data-target="#EditClients"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitem(@item.ID)"> <i class="fa fa-trash m-r-5"></i> <span>حذف</span> </button>
                   
                </p>
            </div>
        </div>
        }
   


    </div>
</div> <!-- End row -->


@section Scripts{
    
    <script>
        
        function editform(ID, Title, PhotoPath, Isactive) {
            $("#ID").val(ID);
         
            $("#Title").val(Title);
            $("#PhotoPath").val(PhotoPath);
            $("#Isactive").val(Isactive);

        }

        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذه الصورة ؟')) {
                $.ajax({
                    url:  "/Admin/ImageWebSite/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف الصورة</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه الصورة  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>هذه الصورة مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

    </script>
    
    <!-- Gallery js -->
@*<script type="text/javascript" src="/Scripts/isotope/dist/isotope.pkgd.min.js"></script>*@
<script type="text/javascript" src="/Scripts/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">
    //$(window).load(function () {
    //    var $container = $('.portfolioContainer');
    //    $container.isotope({
    //        filter: '*',
    //        animationOptions: {
    //            duration: 750,
    //            easing: 'linear',
    //            queue: false
    //        }
    //    });

    //    $('.portfolioFilter a').click(function () {
    //        $('.portfolioFilter .current').removeClass('current');
    //        $(this).addClass('current');

    //        var selector = $(this).attr('data-filter');
    //        $container.isotope({
    //            filter: selector,
    //            animationOptions: {
    //                duration: 750,
    //                easing: 'linear',
    //                queue: false
    //            }
    //        });
    //        return false;
    //    });
    //});
    $(document).ready(function () {
        $('.image-popup').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            mainClass: 'mfp-fade',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            }
        });
    });
</script>




}