﻿@model IEnumerable<SaveIt.Entity.Category>
<div class="filter-items">
    <h3>
        التصنيفات
    </h3>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center active">
                <a href="@Url.Action("Donts", "Services",new { id=item.ID,type="d"})" id="@item.ID" onclick="getDonators(this.id)">
                    <img src="@item.Icon" class="Cat-Filter-Item">
                    @item.Name
                    <span class="badge badge-primary badge-pill">
                        @item.Donators.Count()
                    </span>
                </a>
            </li>
        }
    </ul>
</div>