﻿@model IEnumerable<SaveIt.Entity.Region>
<div class="filter-items">
    <h3>
        المناطق
    </h3>

    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center active">
                <a href="@Url.Action("Donts", "Services",new { id=item.ID,type="r"})" id="@item.ID" onclick="getDonators(this.id)">
                    @item.Name
                    <span class="badge badge-primary badge-pill">
                        @item.Donators.Count()
                    </span>
                </a>
            </li>
        }
    </ul>
</div>