﻿@model SaveIt.Entity.Donator
@{
    ViewBag.Title = "معلومات المانح";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="#">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @Model.OrgName
            </li>
        </ol>
    </nav>
</section>

<section class="Secion">
    <div class="container-fluid">
        <div class="row" style="background-color:#eae5e5;  ">
            <div class="col-lg-4 col-md-12 pd-0">
                <div class="O-image">
                    @if (Model.Photo != null)
                    {
                        <img src="@Model.Photo" class="img-fluid" alt="offer-logo">
                    }
                    else
                    {
                        <img src="~/img/contact-placeholder.jpg" class="img-fluid" alt="offer-logo">
                    }
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="offerst">
                    <h3 class="txtoffer"><span>@ViewBag.Discount%</span></h3>
                </div>
                <div class="containerpp">
                    <h2>@Model.OrgName</h2>
                    <h3><i class="fa fa-phone" aria-hidden="true"></i>@Model.Phone1</h3>
                    @Model.TradeActivity.Replace("<p>", "").Replace("</p>", "")
                    <p>
                        <label class="text-uppercase">تاريخ العرض : </label>
                        <span>
                            @(((DateTime)Model.ContractDate).ToShortDateString())
                        </span>
                    </p>
                    <p>
                        <label class="text-uppercase">تاريخ الانتهاء :</label>
                        <span>
                            @(((DateTime)Model.finishDate).ToShortDateString())
                        </span>
                    </p>
                    <p><label class="text-uppercase">العنوان :</label><span>@Model.Address</span></p>
                    <img src="~/SaveItNewDesign/images/card.png" style="width:70px;" />
                    <span>احصل على @ViewBag.Discount% خصم فوري عند استخدامك وفر كارد</span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="tempOffers">
    <div class="container">
        <h3>العروض المؤقتة لهذا المانح</h3>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">اسم الخدمة</th>
                        <th scope="col">قيمة الخصم</th>
                        <th scope="col">من</th>
                        <th scope="col">الي</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TempDiscountServices.Where(x => x.DonatorId == Model.ID))
                    {
                        if (((DateTime)item.DateTo) >= DateTime.Now.Date)

                        {
                            < tr >
                            < td > @item.DonatService.Service </ td >
                            < td > @item.Discount </ td >
                            < td >@(((DateTime)item.DateForm)).ToShortDateString())</ td >
                            < td >@(((DateTime)item.DateTo)).ToShortDateString())</ td >
                            </ tr >
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>


<section class="section2">

    <div>
        <h3 class="ltext-103 cl5" style="text-align:center">
            الفروع
        </h3>
    </div>

    @foreach (var item in Model.DonatorBranches)
    {

        <div class="container occord">
            <div class="page">
                <div class="page__demo">
                    <div class="accordion">
                        <div id="about" class="accordion__group">

                            <input type="checkbox" class="accordion__control" id='@item.ID'>

                            <label class="accordion__toggle" for='@item.ID'>@item.Name</label>
                            <div class="accordion__body">
                                <iframe src="https://maps.google.com/maps?q=@item.Lat,@item.Lang&hl=es;z=14&amp;output=embed" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                <div class="info">
                                    <h4>العنوان:</h4>
                                    <p>@item.Address</p>
                                    @*<h4>مدينة:</h4>
                                        <p>الساحل الشمالى</p>*@
                                    <h4>تليفون:</h4>
                                    <p>@item.Phone</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    }
</section>
