﻿@model IEnumerable<SaveIt.Entity.Region>

<ul class="pt-5">
    @foreach (var item in Model)
    {
        <li><a href="@Url.Action("Donators",new { id=item.ID,type="r"})">@item.Name <span>(@item.Donators.Count())</span></a></li>
    }
</ul>

