﻿@model IEnumerable<SaveIt.ModelView.DemondChating>
    @foreach (var item in Model)
    {
        <div class="wid-u-info">
            <h4 class="m-t-0 m-b-5">@item.UserName</h4>
            <p class="text-muted m-b-5 font-13">@item.Create</p>
            <small class="text-warning"><b>@item.Type</b></small>
        </div>
        <hr/>
    }
