﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Donators/Views/Shared/_Layout.cshtml";
}
@*<style type="text/css" id="notify-metro">.notifyjs-metro-default {
     color: #fafafa !important;
     background-color: #3bafda;
     border: 1px solid #3bafda;
 }
 .notifyjs-metro-error {
     color: #fafafa !important;
     background-color: #ef5350;
     border: 1px solid #ef5350;
 }
 .notifyjs-metro-custom {
     color: #fafafa !important;
     background-color: #5fbeaa;
     border: 1px solid #5fbeaa;
 }
 .notifyjs-metro-success {
     color: #fafafa !important;
     background-color: #81c868;
     border: 1px solid #33b86c;
 }
 .notifyjs-metro-info {
     color: #fafafa !important;
     background-color: #3ddcf7;
     border: 1px solid #3ddcf7;
 }
 .notifyjs-metro-warning {
     color: #fafafa !important;
     background-color: #ffbd4a;
     border: 1px solid #ffd740;
 }
 .notifyjs-metro-black {
     color: #fafafa !important;
     background-color: #4c5667;
     border: 1px solid #212121;
 }
 .notifyjs-metro-white {
     background-color: #e6eaed;
     border: 1px solid #ddd;
 }
</style>
<style type="text/css" id="core-notify">.notifyjs-corner {
      position: fixed;
      margin: 5px;
      z-index: 1050;
  }

  .notifyjs-corner .notifyjs-wrapper,
  .notifyjs-corner .notifyjs-container {
      position: relative;
      display: block;
      height: inherit;
      width: inherit;
      margin: 3px;
  }

  .notifyjs-wrapper {
      z-index: 1;
      position: absolute;
      display: inline-block;
      height: 0;
      width: 0;
  }

  .notifyjs-container {
      display: none;
      z-index: 1;
      position: absolute;
  }

  .notifyjs-hidable {
      cursor: pointer;
  }

  [data-notify-text],[data-notify-html] {
      position: relative;
  }

  .notifyjs-arrow {
      position: absolute;
      z-index: 2;
      width: 0;
      height: 0;
  }</style>*@
<h2>Chat Room</h2>
<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="card-box" id="mychatdemond">
           
        </div>
    </div>
    <div class="col-sm-8 col-md-9">
        <div class="card-box">
            <div class="chat">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel Primary</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="panel-footer">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    
    
@*<script src="~/Scripts/notifyjs/dist/notify.min.js"></script>
    <script src="~/Scripts/notifications/notify-metro.js"></script>
    
    <script>
       // $.Notification.confirm('warning', 'top left', 'Are you nuts?!')
    </script>*@
    <script src="/signalr/hubs"></script>

    <script type="text/javascript">
        //-------------------Recieve Message Hub ------------------------------
        $(function () {
            // Declare a proxy to reference the hub.
            var noty = $.connection.notifiyHub;

            //debugger;
            // Create a function that the hub can call to broadcast messages.
            noty.client.updateNotify = function () {
                getAllMessageNotification();
            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                getAllMessageNotification();
            }).fail(function (e) {

            });
        });
    </script>
    <script type="text/javascript">

        function getAllMessageNotification() {
            $.ajax({
                url: '/Employee/ChatRoom/GetAllNotifications',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $("#mychatdemond").html(result);
                },
                error: function () {

                }
            });
        }
        //-----End Recieve Message Hub------------------------------------------------

    </script>
    
    
    @*<script type="text/javascript">
        //-------------------Recieve Message Hub ------------------------------
        $(function () {
            // Declare a proxy to reference the hub.
            var message = $.connection.messageHub;

            //debugger;
            // Create a function that the hub can call to broadcast messages.
            message.client.updateMessages = function () {
                //getAllMessages();
                // getAllMessageNotification();
            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                // getAllMessageNotification();
            }).fail(function (e) {

            });
        });
        function getAllMessages() {
            $.ajax({
                url: '/AppChat/GetMessages',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    document.getElementById("chatbox").innerHTML = result;
                    onsucss();
                },
                error: function () {

                }
            });
        }
        function getAllMessageNotification() {
            $.ajax({
                url: '/Employee/ChatRoom/GetAllNotifications',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    document.getElementById("mychatdemond").innerHTML = result;
                },
                error: function () {

                }
            });
        }
        //-----End Recieve Message Hub------------------------------------------------

    </script>*@

}