﻿
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <script>
                window.onload = function () {

                    var chart = new CanvasJS.Chart("chartContainer", {
                        animationEnabled: true,
                        title: {
                            text: "أحصائيات المبيعات"
                        },
                        axisX: {
                            minimum: new Date(2017, 01, 01),
                            maximum: new Date(2020, 01, 01),
                            valueFormatString: "MMM YY"
                        },
                        axisY: {
                            title: "عدد المبيعات",
                            titleFontColor: "#4F81BC",
                            suffix: "LE"
                        },
                        data: [{
                            indexLabelFontColor: "darkSlateGray",
                            name: "views",
                            type: "area",
                            yValueFormatString: "#,##0.0LE",
                         @Html.Raw(ViewBag.Stats)
                        }]
                    });
                    chart.render();
                }
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>