﻿@model IEnumerable<SaveIt.Entity.withdrawal>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> ادارة السحب</h4>
        </div>
    </div>
</div>

<div class="validation-summary-errors"></div>
<div class="card-box">
    <table class="table table-hover">
        <tr>
       
            <th>الاسم  </th>
            <th>الجوال  </th>
            <th>البريد الاليكتروني  </th>

            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="@item.ID">

                <td>@item.Name</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
       

                <td>
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitem(@item.ID)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>

                </td>
            </tr>
        }

    </table>
</div>



@section Scripts{
    <script>

        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذه المشترك ؟')) {
                $.ajax({
                    url:  "/Admin/Withdrawals/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف المشترك</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه المشترك  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>هذه المشترك مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

    </script>
}