﻿@model IEnumerable<SaveIt.Entity.Donator>
@using SaveIt.Infrastructure

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">   المانحين</h4>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-4">
            <div class="card-box">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="txt">اسم المالك</th>
                        <th class="txt">@item.OwnName</th>
                    </tr>
                    <tr>
                        <th class="txt">اسم المنظمة</th>
                        <th class="txt">@item.OrgName</th>
                    </tr>
                    <tr>
                        <th class="txt">اسم المسؤول</th>
                        <th class="txt">@item.ResponsableName</th>
                    </tr>
                    <tr>
                        <th class="txt">رقم السجل</th>
                        <th class="txt">@item.BookName</th>
                    </tr>
                    <tr>
                        <th>التقييم</th>
                        <th class="">
                            @{
                                double total = 0;
                                var sum = item.EvaluationClients.Sum(c => c.Evaluate);
                                var count = item.EvaluationClients.Count;
                                if (count == 0) { count = 1; }
                                total = sum / count;
                            }
                            @total
                        </th>
                    </tr>
                 
                        @if (!item.EvaluationClients.Any(c => c.ClientId == ViewBag.userid))
                        {
                            <tr>
                                <th colspan="2" class="text-center">
                                    @Html.EncodedActionLink(" اضافة تقييم", "Test", "EvaulationDonators", new { Area = "Clients", id = item.ID }, new { @class = "btn btn-success" })

                                    @*<a href="@Url.Action("Test",new { id=item.ID})" class="btn btn-success">اضافة تقييم</a>*@
                                </th>
                            </tr>
                        }
                   
                </table>
            </div>
        </div>
     }
</div>
<style>
    .txt{
        font-size:14px;
    }
</style>