﻿@model IEnumerable<SaveIt.Entity.EvaluationQuestion>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> أضافة تقييم ل @ViewBag.name</h4>
        </div>
    </div>
</div>


@Html.ValidationSummary(true)
@using (Html.BeginForm())
{
    @Html.Hidden("DonatorId",(int)ViewBag.DonatorId)
<div class="card-box">
    <table class="table table-hover table-bordered">
        <tr>
            <th rowspan="2">الكود</th>
            <th rowspan="2">اسم السؤال </th>
            <th colspan="5">التقييم</th>
        </tr>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
        </tr>
        @{ 
            int i = 0;
        }
        @foreach (var item in Model.OrderBy(c => c.Id))
        {
            <tr>
                
                <td>
                <input name="id" value="@item.Id" type="hidden" />
                @item.Id
                </td>
                <td>@item.Question</td>

                <td>
                   <input type="radio" name="Evalution[@i]"  value="1" />
                </td>
                <td>
                    <input type="radio" name="Evalution[@i]"  value="2" />
                </td>
                <td>
                    <input type="radio" name="Evalution[@i]" required value="3" />
                </td>
                <td>
                    <input type="radio" name="Evalution[@i]"  value="4" />
                </td>
                <td>
                    <input type="radio" name="Evalution[@i]"  value="5" />
                </td>
            </tr>
            i++;
        }
        <tr>
            <th colspan="7">
                <button type="submit">حفظ التقييم</button>
            </th>
        </tr>
    </table>
</div>
 }


@section Scripts{
    <script>
        function   editform(Id,Question) {
            $("#Id").val(Id);
         
            $("#Question").val(Question);

        }

        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذه السؤال ؟')) {
                $.ajax({
                    url:  "/Admin/EvaluationQuestions/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف السؤال</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه السؤال  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');
                        }
                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>هذه السؤال مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');
                    }
                });

            }
        }

    </script>
}