﻿@model SaveIt.Entity.OldCard
@{ 
    ViewBag.title = "حجز البطاقة";
    
}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> اضافة بطاقات</h4>
        </div>
    </div>
</div>

@Html.ValidationSummary(true)
<div class="card-box">
    @using (Html.BeginForm("Edit", "OldCard", FormMethod.Post, new { @class = "reservation-form mt-20", @id = "reservation_form", name = "reservation_form", role = "form" }))
    {
        @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group mb-20">
                <label for="Name" class="control-label">أسم العميل</label>
                @Html.TextBoxFor(c => c.Name, null, new { @class = "form-control", @placeholder = "اسم بالكامل..." })
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group mb-20">
                <label for="Name" class="control-label">رقم الهاتف</label>
                @Html.TextBoxFor(c => c.Phone, null, new { @class = "form-control", @type = "number", @placeholder = "رقم الجوال ..." })
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group mb-20">
                <label for="Name" class="control-label">البريد الاليكتروني</label>
                @Html.TextBoxFor(c => c.Email, null, new { @class = "form-control", @type = "email", @placeholder = "البريد الاليكتروني ..." })
            </div>
        </div>






        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Name" class="control-label">قيمة البطاقة </label>
                    <input type="number" class="form-control" name="Price" id="Price" placeholder="قيمة البطاقة ">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Name" class="control-label">رقم البطاقة  </label>
                    <input type="number" class="form-control" name="CardNumber" id="CardNumber" placeholder="رقم البطاقة  ">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Name" class="control-label">مجموعة البطاقة   </label>
                    <input type="number" class="form-control" name="CardCat" id="CardCat" placeholder="مجموعة البطاقة   ">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Name" class="control-label">عمر المشترك</label>
                    <input type="number" class="form-control" name="Age" id="Age" placeholder="عمر المشترك">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name" class="control-label">تاريخ بداية الاشتراك</label>
                    <input type="date" class="form-control mydate"  name="CardStartDate" id="CardStartDate" placeholder="تاريخ بداية الاشتراك ">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name" class="control-label">تاريخ نهاية الاشتراك</label>
                    <input type="date" class="form-control mydate"  name="CardEndate" id="CardEndate" placeholder="تاريخ نهاية الاشتراك ">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Name" class="control-label">مقر العمل</label>
                    <input type="text" class="form-control" name="WorkAddress" id="WorkAddress" placeholder="مقر العمل">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name" class="control-label">العنوان</label>
                    <input type="text" class="form-control" name="Address" id="Address" placeholder="العنوان">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name" class="control-label">الحي</label>
                    <input type="text" class="form-control" name="Region" id="Region" placeholder="الحي">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Name" class="control-label">عنوان استلام البطاقة بالتفصيل</label>
                    <textarea class="form-control" name="AddresCardReceve" id="AddresCardReceve" rows="3" placeholder="عنوان استلام البطاقة بالتفصيل"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Name" class="control-label">أسم المندوب</label>
                    <input type="text" class="form-control" name="ClientName" id="ClientName" placeholder="المندوب">
                </div>
            </div>
        </div>


        <div class="col-sm-12">
            <div class="form-group mb-0 mt-10">
                <button type="submit" class="btn btn-success  btn-lg btn-block">اضافة بطاقة</button>
            </div>
        </div>
    </div>
    }
</div>
@section Scripts{
    @*<script>

    jQuery(document).ready(function () {
        jQuery('.mydate').datepicker({ format: 'dd/mm/yyyy' });
    });

    function GetCcode() {
        var id = $("#CardCategoryId").val();
        if (id != "" && id != undefined) {
            $("#preholder").show();
            $.ajax({
                url: "/Employee/CompleteCards/GetCode/" + id,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $("#CardCode").html(result);
                    $("#preholder").hide();
                },
                error: function () {
                    alert("لقد حدث خطا يرجي اعادة تحديث للصفحة!");
                    $("#preholder").hide();
                }
            });
        }

    }

    </script>*@
}
