﻿@model IEnumerable<SaveIt.Entity.OldCard>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> ادارة  البطاقات</h4>
        </div>
    </div>
</div>

<a class="btn btn-info waves-effect waves-light m-b-5" data-toggle="modal" href="@Url.Action("Create")" > <i class="fa fa-plus m-r-5"></i> <span>اضافة بطاقة</span> </a>

@*<div id="EditClients" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة الاخبار</h4>
            </div>
            @using (Html.BeginForm("Edit", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @Html.Hidden("ID")
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">عنوان الخبر  </label>
                                <input type="text" class="form-control" required name="Name" id="Name" placeholder=" عنوان الخبر ">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">تفاصيل الخبر  </label>
                                <textarea class="form-control" required name="Details" id="Details" placeholder=" تفاصيل الخبر " ></textarea>
                            </div>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.TextBox("file", null, new { @id = "input-1700", @type = "file", @class = "file-loading", @accept = "image/*" })
                                <script>
                                $("#input-1700").fileinput({
                                    maxFileCount: 1,
                                    allowedFileExtensions: ["jpg", "png", "gif"],
                                    browseLabel: " إضغط لإختيار صورة ..",
                                    browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                    browseClass: "btn btn-primary btn-block",
                                    showCaption: false,
                                    showRemove: false,
                                    showUpload: false
                                });
                                </script>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الخبر</button>
                </div>
            }

        </div>
    </div>
</div>*@



@Html.ValidationSummary(true)

<div class="card-box">
    <table class="table table-hover">
        <tr>
            <th>الكود</th>
            <th> اسم العميل  </th>
            <th>رقم الهاتف  </th>
            <th>البريد الالكترونى   </th>
            <th>تاريخ بداية الاشتراك   </th>
            <th>تاريخ نهاية الاشتراك   </th>
            <th>اسم المندوب   </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
        <tr id="@item.Id">

            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Phone</td>
            <td>@item.Email</td>
            <td>@item.CardStartDate</td>
            <td>@item.CardEndate</td>
            <td>@item.ClientName</td>
            

            <td>
                <a class="btn btn-danger waves-effect waves-light m-b-5"  href=" @Url.Action("Delete",new { Id=item.Id})" > <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </a>

            </td>
        </tr>
        }

    </table>
</div>



@section Scripts{
    @*<script>
        function editform(ID, Name, Details) {
            $("#ID").val(ID);

            $("#Name").val(Name);
            $("#Details").val(Details);
        }

        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذه الخبر ؟')) {
                $.ajax({
                    url:  "/Admin/News/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف الخبر</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه الخبر  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>هذه الخبر مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

    </script>*@
}