﻿@model IEnumerable<SaveIt.Entity.EventType>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> ادارة  الفاعليات</h4>
        </div>
    </div>
</div>

<button class="btn btn-info waves-effect waves-light m-b-5" data-toggle="modal" onclick="editform('', '');" data-target="#EditClients"> <i class="fa fa-plus m-r-5"></i> <span>اضافة فاعليه</span> </button>

<div id="EditClients" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة فاعليه</h4>
            </div>
            @using (Html.BeginForm("Edit", "EventType", FormMethod.Post))
            {
             
                @Html.Hidden("Id")
                <div class="modal-body">
                   
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">اسم الفاعليه  </label>
                                <input type="text" class="form-control" required name="Name" id="Name" placeholder="اسم القسم ">
                            </div>
                        </div>
                    </div>
                   

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الفاعليه</button>
                </div>
            }

        </div>
    </div>
</div>



@Html.ValidationSummary(true)

<div class="card-box">
    <table class="table table-hover">
        <tr>
            <th>الكود</th>
            <th>اسم الفاعليه </th>
            

            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">

                <td>@item.Id</td>
                <td>@item.Name</td>
               

                <td>
                    <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editform(@item.Id,'@item.Name')" data-toggle="modal" data-target="#EditClients"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitem(@item.Id)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>

                </td>
            </tr>
        }

    </table>
</div>



@section Scripts{
    <script>
        function   editform(ID,Name) {
            $("#Id").val(ID);
         
            $("#Name").val(Name);

        }

        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذه الفاعليه ؟')) {
                $.ajax({
                    url:  "/Admin/EventType/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف الفاعليه</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه الفاعليه  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>هذه الفاعليه مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

    </script>
}