﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="/Content/images/favicon_1.ico">

    <title>وفرها</title>
    
    <!-- DataTables -->

    <link href="/Content/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/core.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link href="~/Content/custom-rtl.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <style>
        #topnav .topbar-main .logo span {
            font-family: "fontaa" !important;
        }
            #topnav .topbar-main .logo {
            color: #ffffff !important;
            font-size: 25px;
            font-weight: 700;
            letter-spacing: 0;
          
        }
        .form-control {
            font-size: 16px;
            height: 45px;
        }
        span.field-validation-error {
            color: red;
            font-size: 16px;
        }
            #topnav .topbar-main .nav > li > a i {
                font-size: 2em;
            }
        .single-line {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            -moz-border-radius: 2px;
            -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            -webkit-border-radius: 2px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            background-color: #fafafa;
            border-radius: 2px;
            border: 1px solid #eeeeee;
            box-shadow: none;
            color: rgba(0, 0, 0, 0.6);
        }

        .validation-summary-errors20,.validation-summary-errors2, .validation-summary-errors3, .validation-summary-errors4, .validation-summary-errors {
            text-align: center;
            color: green;
            font-size: 18px;
            padding: 5px;
       
            border: 1px solid transparent;
            border-radius: 4px;
            background-color: rgba(255, 170, 0, 0.2) !important;
            border-color: rgba(255, 170, 0, 0.5) !important;
        }
            .validation-summary-errors20 ul, .validation-summary-errors2 ul, .validation-summary-errors3 ul, .validation-summary-errors4 ul, .validation-summary-errors ul {
                list-style: none;
            }
            .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    text-align: center;
}
    </style>

    <script src="/Content/js/modernizr.min.js"></script>
    <!-- jQuery  -->
    <script src="/Content/js/jquery.min.js"></script>
    <script src="/Content/js/bootstrap-rtl.min.js"></script>
    <script src="/Content/js/detect.js"></script>
    <script src="/Content/js/fastclick.js"></script>
    <script src="/Content/js/jquery.blockUI.js"></script>
    <script src="/Content/js/waves.js"></script>
    <script src="/Content/js/wow.min.js"></script>
    <script src="/Content/js/jquery.nicescroll.js"></script>
    <script src="/Content/js/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/bootstrap-fileinput/js/fileinput.min.js"></script>
    <!-- Page js  -->
    <script src="/Scripts/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="/Content/pages/jquery.dashboard.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.0.js"></script>
    <!-- Custom main Js -->
    <script src="/Content/js/jquery.core.js"></script>
    <script src="/Content/js/jquery.app.js"></script>
    <script src="~/Scripts/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Scripts/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <link href="~/Scripts/datetime/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/datetime/js/bootstrap-datetimepicker.min.js"></script>
    @RenderSection("scripts", required: false)

</head>


<body>


    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container">

                <!-- Logo container-->
                <div class="logo">
                    <a href="/" class="logo">
                        @*<i class="md md-equalizer"></i> <span> وفرها</span>*@ 
                        <img src="/img/logo1.PNG" alt="وفرها" style="  width: 100px; height: 50px;" />

                    </a>
                </div>
                <!-- End Logo container-->
                <div class="menu-extras">

                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li>

                            <a class=" waves-effect waves-light red" href="/">
                                <i class=" fa fa-language fa-3x" style="color: white;"></i>
                            </a>

                        </li>
                      
                    </ul>

                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>
            </div>
        </div>
        <!-- End topbar -->
        <!-- Navbar Start -->
        <div class="navbar-custom">
            <div class="container">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li><a href="@Url.Action("Index","Orders")">أدارة طلابات الخصومات</a></li>
                        <li><a href="/Donators/TempOrders/Index"> طلبات الخصومات المؤقتة</a></li>
                        
                        <li><a href="@Url.Action("Index","ClientRegister")">تسجيل زيارات المشتركين</a></li>      
                        <li><a href="@Url.Action("Index","Images")">البوم الصور</a></li>           
                        <li><a href="@Url.Action("Index","Branches")">اتصالات الفروع</a></li> 
                        <li><a href="@Url.Action("Index","PrdCategory")">اتصالات الفروع</a></li> 
                        <li><a href="@Url.Action("Index","DontsProdcuts")">اتصالات الفروع</a></li>                
                        @if (Request.IsAuthenticated)
                        {
                            <li>
                                @if (HttpContext.Current.User.IsInRole("Donator"))
                                {
                                    <a href="@Url.Action("Index", "cpanel")"><i class="md md-dashboard"></i>لوحة التحكم</a>
                                }

                            </li>

                            <li><a href="javascript:document.getElementById('logoutForm').submit()">تسجيل الخروج</a></li>

                        }
                  
                      
                    </ul>
                    <!-- End navigation menu -->
                </div> <!-- end #navigation -->
            </div> <!-- end container -->
        </div> <!-- end navbar-custom -->
    </header>
    <!-- End Navigation Bar-->
    <!-- =======================
         ===== START PAGE ======
         ======================= -->
    
    <form action="/Home/LogOff" class="navbar-right" id="logoutForm" method="post">
        @Html.AntiForgeryToken()
    </form>

    <div class="wrapper">
        <div class="container">

            @RenderBody()


            <!-- Footer -->
            <footer class="footer text-right">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            2017 © SaveIt
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->

        </div> <!-- end container -->
    </div>
    <!-- End wrapper -->
  
</body>
</html>