﻿@model IEnumerable<SaveIt.Entity.DonatorBranch>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">معلومات اتصال الفروع </h4>
            <button class="btn btn-success waves-effect waves-light m-b-5" data-toggle="modal" data-target="#Oders" onclick="EditMap(0)">اضافة معلومة</button>

        </div>
    </div>
</div>



<div id="Oders" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" id="GetEdit">

        </div>
    </div>
</div>


<div class="validation-summary-errors"></div>

<div class="card-box">
    <table class="table table-hover">
        <tr>

            <th>#</th>
            <th>اسم الفرع </th>
            <th>التليفون </th>
            <th>العنوان</th>
            <th></th>
        </tr>
        @{ 
            int i = 0;
            string langs= "var langs = [";
            string lats = "var lats = [";
            string title = "var title = [";
            }
        @foreach (var item in Model)
        {
            if (item.Lat != null && item.Lang != null)
            {
                lats += "\""+item.Lat+"\",";
                langs += "\"" + item.Lang + "\",";
                title += "\""+item.Name+"\",";
            }
            i++;
            <tr id="@item.ID">
                <td>
                    @i
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="orders('@item.ID')">حذف المعلومة</button>
                    <button class="btn btn-success waves-effect waves-light m-b-5" data-toggle="modal" data-target="#Oders" onclick="EditMap('@item.ID')">تعديل المعلومة</button>
                </td>
            </tr>
        }
        @{ 
            langs = langs.Substring(0, langs.Length - 1);
            lats = lats.Substring(0, lats.Length - 1);
            title = title.Substring(0, title.Length - 1);
            langs += "];";
            lats += "];";
            title += "];";
        }
    </table>
</div>

<div class="card-box">
    <div class="row">
        <div class="col-sm-12">
            <div id="allmap" style="width: 100%; height: 400px; margin: 0 auto;"></div>
        </div>
    </div>
</div>

<script>
    
    var map,
        marker = [];
    function initialize() {
        var mylocate = new google.maps.LatLng("24.774265", "46.738586");
        
        @Html.Raw(langs)
        @Html.Raw(lats)
        @Html.Raw(title)

        var mapOptions = {
            zoom: 7,
            center: mylocate,
            mapTypeIds: ["hybrid", "roadmap", "satellite", "terrain", "osm", "cloudmade"]
        };
        map = new google.maps.Map(document.getElementById('allmap'),
            mapOptions
        );
        for (var i = 0; i < langs.length; i++) {
            marker[i] = new google.maps.Marker({
                position: new google.maps.LatLng(lats[i], langs[i]),
                title: title[i],
                label: title[i]
            });
            marker[i].setMap(map);
        }
       
    }
</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAovNTHug4egjHWj2p1_iE0lUNEEwgsQZo&language=ar&libraries=places&callback=initialize" async defer></script>



@section Scripts{

    <script>

            function EditMap(id) {
                $("#GetEdit").html('');
                $.ajax({
                    url: "/Employee/DonatorsBranches/Edit?id=" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $("#GetEdit").html(result);
                        $("#DonatorID").val(@ViewBag.DonatorID);
                    },
                    error: function () {
                    }
                });
            }
            function orders(ID) {

                if (confirm('هل تريد حذف المعلومة ؟')) {
                    $.ajax({
                        url: "/Employee/DonatorsBranches/Delete?id=" + ID,
                        contentType: 'application/html ; charset:utf-8',
                        type: 'GET',
                        dataType: 'html',
                        success: function (result) {
                            if (result == 1) {
                                $("#" + ID).remove();

                                $(".validation-summary-errors").html('<ul><li>تم حذف المعلومة </li></ul>');


                            } else {
                                $(".validation-summary-errors").html('<ul><li>حدث خطا في  حذف المعلومة</li></ul>');

                            }

                        },
                        error: function () {
                            $(".validation-summary-errors").html('<ul><li>حدث خطا في حذف المعلومة</li></ul>');
                        }
                    });

                }
            }

    </script>
}
