﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}

<h2>Chat Room</h2>
<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="card-box" >
           <button class="btn btn-success" onclick="SetDemond()"> getDemondchat</button>
        </div>
    </div>
    <div class="col-sm-8 col-md-9">
        <div class="card-box">
            <div class="chat">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel Primary</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="panel-footer">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function SetDemond() {
            $.ajax({
                url: '/Donators/ChatRooms/SetDemond',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    alert("success");
                },
                error: function () {
                    alert("error");
                }
            });
        }
    </script>
    
@*<script src="~/Scripts/notifyjs/dist/notify.min.js"></script>
    <script src="~/Scripts/notifications/notify-metro.js"></script>
    
    <script>
       $.Notification.confirm('warning', 'top left', 'Are you nuts?!')
    </script>*@
    @*<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>

    <script type="text/javascript">
        //-------------------Recieve Message Hub ------------------------------
        $(function () {
            // Declare a proxy to reference the hub.
            var noty = $.connection.notifiyHub;

            //debugger;
            // Create a function that the hub can call to broadcast messages.
            noty.client.updateNotify = function () {
             
                getAllMessageNotification();
            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                getAllMessageNotification();
            }).fail(function (e) {

            });
        });
        function getAllMessageNotification() {
            $.ajax({
                url: '/Employee/ChatRoom/GetAllNotifications',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    document.getElementById("mychatdemond").innerHTML = result;
                },
                error: function () {

                }
            });
        }
        //-----End Recieve Message Hub------------------------------------------------

    </script>*@
    
    
    @*<script type="text/javascript">
        //-------------------Recieve Message Hub ------------------------------
        $(function () {
            // Declare a proxy to reference the hub.
            var message = $.connection.messageHub;

            //debugger;
            // Create a function that the hub can call to broadcast messages.
            message.client.updateMessages = function () {
                //getAllMessages();
                // getAllMessageNotification();
            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                // getAllMessageNotification();
            }).fail(function (e) {

            });
        });
        function getAllMessages() {
            $.ajax({
                url: '/AppChat/GetMessages',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    document.getElementById("chatbox").innerHTML = result;
                    onsucss();
                },
                error: function () {

                }
            });
        }
        function getAllMessageNotification() {
            $.ajax({
                url: '/Employee/ChatRoom/GetAllNotifications',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    document.getElementById("mychatdemond").innerHTML = result;
                },
                error: function () {

                }
            });
        }
        //-----End Recieve Message Hub------------------------------------------------

    </script>*@

}