﻿@model SaveIt.Entity.Donator


<div class="modal fade " id="changephoto" tabindex="-1" role="dialog" aria-labelledby="PhotoDataModelLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="PhotoDataModelLabel">تغيير صورة الطالب</h4>
            </div>
            <div class="modal-body ">
                @using (Html.BeginForm("updatePhoto", "cpanel", FormMethod.Post, new { enctype = "multipart/form-data", @Class = "form-horizontal ", id = "frmModelData" }))
                {
                    @Html.ValidationSummary(true)
                    // this antiforgreyToken used for prevent attack
                    @Html.AntiForgeryToken()
                    @Html.Hidden("PID", Model.ID)
                    <div class="form-group">
                        <label for="input-700" class="control-label col-md-2">
                            إختر صوره
                        </label>
                        <div class="col-md-10">
                            @Html.TextBox("uploadfile", null, new { @id = "input-1700", @type = "file", @class = "file-loading", @accept = "image/*" })
                            <script>
                                $("#input-1700").fileinput({
                                    maxFileCount: 1,
                                    allowedFileExtensions: ["jpg", "png", "gif"],
                                    browseLabel: " إضغط لإختيار صورة ..",
                                    browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                    browseClass: "btn btn-primary btn-block",
                                    showCaption: false,
                                    showRemove: false,
                                    showUpload: false
                                });
                            </script>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="حفظ التغييرات" class="btn btn-primary" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">اغـلاق</button>
                    </div>
                }
            </div>

        </div>
    </div>
</div>


<div id="ResetPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تغيير كلمة المرور</h4>
            </div>
            @using (Html.BeginForm("ResetPassword", "Donators", FormMethod.Post))
            {
                @Html.Hidden("DonatorID",Model.ID)
            
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">اسم المستخدم </label>
                                <input type="text" class="form-control" readonly name="UserName" value="@Model.Username" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">كلمة المرور  </label>
                                <input type="password" class="form-control" required name="Password">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label"> تاكيد كلمة المرور  </label>
                                <input type="password" class="form-control" required name="ConfirmPassword">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
                </div>
            }

        </div>
    </div>
</div>



<div id="ResetUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تغيير اسم المستخدم</h4>
            </div>
            @using (Html.BeginForm("ResetUserName", "Donators", FormMethod.Post))
            {
                @Html.Hidden("DonatorID",Model.ID)
            
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">اسم المستخدم القديم</label>
                                <input type="text" class="form-control" readonly name="oldUserName" value="@Model.Username">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">اسم المستخدم الجديد </label>
                                <input type="text" required class="form-control" name="newUserName">
                            </div>
                        </div>
                    </div>

                 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
                </div>
            }

        </div>
    </div>
</div>


<div id="setSocial" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">اضافة او تعديل موقع التواصل</h4>
            </div>
            @using (Html.BeginForm("SetSocialMedia", "cpanel", FormMethod.Post))
            {
                @Html.Hidden("DonatorID", Model.ID)
                @Html.Hidden("ID", 0, new { id = "ID20" })
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">اسم الاكونت </label>
                                <input type="text" id="Name20" class="form-control" name="Name">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">نوع الاكونت </label>
                                <select class="form-control" id="Type20" name="Type" required>
                                    <option value=""> اختر النوع</option>
                                    <option value="facebook">فيس بوك</option>
                                    <option value="twitter">تويتر</option>
                                    <option value="instgram">انستجرام</option>
                                    <option value="mail">الايميل</option>
                                    <option value="linkedin">لنكدان</option>
                                    <option value="snapchat">سناب شات</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="OwnName" class="control-label">الرابط </label>
                                <input type="text" id="Url20" class="form-control" name="Url">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ التعديل</button>
                </div>
            }

        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <h3 class="page-title">تفاصيل المانح</h3>
    </div>
    <div class="col-sm-6">
        @Html.ValidationSummary(true)
    </div>
   
</div>

<div class="row">
    <div class="col-md-4 col-lg-3">
        <div class="text-center card-box">
            <div class="member-card">
                <div class="thumb-xl member-thumb m-b-10 center-block">
                    @if (Model.Photo != null)
                    {
                        <img src="@Url.Content("~"+Model.Photo)" class="img-circle img-thumbnail" alt="profile-image">

                    }
                    else
                    {
                        <img src="/img/image_placeholder.jpg" class="img-circle img-thumbnail" alt="profile-image">

                    }
                </div>
                <button type="button" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#changephoto" style="width: 100%;">تغيير الصورة</button>
            
                    <div class="text-left m-t-40">
                        <p class="text-muted font-13"><strong>اسم المستخدم :</strong> <span class="m-l-15">@Model.Username</span></p>
                    </div>
    <button type="button" class="btn btn-pink btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#ResetUser">تغيير اسم المستخدم</button>
    <button type="button" class="btn btn-purple btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#ResetPassword">تغيير كلمة المرور</button>
              <hr />
                  @foreach (var item in Model.DonatorContacts)
                {

                    string ids = "mycontacts" + item.ID;
                    <div class="text-left " id="@ids">

                        <p class="text-muted font-13">
                            <a href="@item.Url" target="_blank">
                                <strong style="color:#0094ff">

                                    @if (item.Type == "facebook")
                                    {
                                        <i class="fa fa-2x fa-facebook-square"></i>
                                    }
                                    else if (item.Type == "twitter")
                                    {
                                        <i class="fa fa-2x fa-twitter-square"></i>
                                    }
                                    else if (item.Type == "instgram")
                                    {
                                        <i class="fa fa-2x fa-instagram"></i>
                                    }
                                    else if (item.Type == "snapchat")
                                    {
                                        <i class="fa fa-2x fa-snapchat"></i>
                                    }
                                    else if (item.Type == "linkedin")
                                    {
                                        <i class="fa fa-2x fa-linkedin-square"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-2x fa-envelope"></i>
                                    }

                                </strong>
                                <span class="m-l-15">@item.Name</span>
                            </a>
                            <span onclick="getsocial(@item.ID,'@item.Name','@item.Url','@item.Type')" data-toggle="modal" data-target="#setSocial" style="margin-right: 10px;">
                                <i class="fa fa-2x fa-pencil" style="color:#00ff21"></i>
                            </span>
                            <span style="margin-right: 10px;" onclick="DeleteSocial(@item.ID)">
                                <i class="fa fa-2x fa-trash-o" style="color:#ff0000"></i>
                            </span>
                        </p>

                    </div>


                }
                <button type="button" onclick="getsocial(0,'','','')" class="btn btn-info btn-sm w-sm waves-effect m-t-10 waves-light" data-toggle="modal" data-target="#setSocial" style="width: 100%;">اضافةاكونت تواصل اجتماعي</button>

              
            </div>  
        </div>
    </div>
    <div class="col-md-8 col-lg-9">
        <div class="card-box">

            <div class="row">
                <div class="col-md-12">
                  
                    @*<button class="btn btn-success waves-effect waves-light m-b-5" onclick="editform()" data-toggle="modal" data-target="#EditClients"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>*@
                 
                </div>
            </div>

            <div class="row ">
                <div class="col-md-6 col-sm-6 ">
                    


                    <div class="text-left m-t-40">
                        <p class="text-muted font-13">
                            <strong>تاريخ العقد :</strong> 
                            <span class="m-l-15">
                                @{
                                          if (Model.ContractDate != null)
                                          {
                                              @Model.ContractDate.Value.ToShortDateString()
                                          }
                                      }
                            </span>
                        </p>
                        <hr/>
                        <p class="text-muted font-13"><strong>اسم المؤسسة :</strong><span class="m-l-15">@Model.OrgName</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong> التخصص :</strong> <span class="m-l-15">@Model.Category.Name</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>تاريخ الاصدار : </strong>
                           
                            <span class="m-l-15">
                                @{
                                    if (Model.Versiondate != null)
                                    {
                                        @Model.Versiondate.Value.ToShortDateString()
                                    }
                                }
                            </span>

                        </p>
                        <hr />
                        <p class="text-muted font-13"><strong>اسم المالك : </strong> <span class="m-l-15">@Model.OwnName</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>العنوان :</strong> <span class="m-l-15">@Model.Address</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>الايميل : </strong> <span class="m-l-15">@Model.Email</span></p>
                       
                    </div>
             
                </div>

                <div class="col-md-6 col-sm-6  ">
                    
                    <div class="text-left m-t-40">
                        <p class="text-muted font-13"><strong>التسلسل:</strong> <span class="m-l-15">@Model.ID</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>رقم السجل :</strong><span class="m-l-15">@Model.BookName</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong> مدة العقد :</strong> 
                        <span class="m-l-15">@Model.Peroid</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>تاريخ الانتهاء : </strong> 
                           
                            <span class="m-l-15">
                                @{
                                    if (Model.finishDate != null)
                                    {
                                        @Model.finishDate.Value.ToShortDateString()
                                    }
                                }
                            </span>

                        </p>
                        <hr />
                        <p class="text-muted font-13"><strong>رقم الجوال : </strong> <span class="m-l-15">@Model.Phone1</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>رقم الجوال :</strong> <span class="m-l-15">@Model.Phone2</span></p>
                        <hr />
                        <p class="text-muted font-13"><strong>رقم التليفون :  </strong> <span class="m-l-15">@Model.Telephone</span></p>

                    </div>

                    
                </div>

            </div>
            <div class="row ">
                <div class="col-sm-12">
                    
                    <div class="text-left m-t-40">
                        <hr/>
                        <p class="text-muted font-13"><strong>النشاط التجاري :</strong> <span class="m-l-15">
                                                                                            @Html.Raw(Model.TradeActivity)
                            </span></p>
                      
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
  


<div class="row">
    <div class="col-md-12">

        <div class="card-box">
            <h4>
                الخصم الممنوح للخدمات
                @*<a class="btn btn-primary waves-effect waves-light m-b-5 pull-right" data-toggle="modal" onclick="edit('','','')" data-target="#createservice" href="#">اضافة خصم</a>*@

            </h4>
            <div style="display: none;" class="validation-summary-errors2"></div>
            <table class="table table-hover">
                <tr>
                    <th rowspan="2">كود الخدمة</th>
                    <th rowspan="2">اسم الخدمة</th>
                    <th rowspan="2">الخصم </th>
                    <th colspan="4">الخصم المؤقت </th>

                </tr>
                <tr>
                    <th>الخصم</th>
                    <th> بداية الخصم</th>
                    <th>نهاية الخصم</th>
                    <th>الهدف من الخصم</th>
                </tr>
                @foreach (var item in Model.DonatServices)
                {
                    <tr id="@item.ID">
                        <td>@item.ID</td>
                        <td>@item.Service</td>
                        <td>@item.Discount %</td>
                        @if (item.TempDiscountServices.Any())
                        {
                            foreach (var it in item.TempDiscountServices)
                            {
                                <td>
                                    <span>@it.Discount</span>
                                </td>
                                <td>
                                    @if (it.DateForm != null)
                                    { @it.DateForm.Value.ToShortDateString()}
                                    @it.TimeFrom
                                </td>
                                <td>
                                    @if (it.DateTo != null)
                                    { @it.DateTo.Value.ToShortDateString()}
                                    @it.TimeTo
                                </td>
                                <td>@it.Notes</td>
                            }
                        }
                        else
                        {
                            <td> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        }

                       
                    </tr>
                }

            </table>
        </div>

    </div> 
    <div class="col-md-12">

        <div class="card-box">
            <h4>
                الخصم الخاص من المانح للخدمات
                @*<a class="btn btn-primary waves-effect waves-light m-b-5 pull-right" data-toggle="modal" onclick="edit2('','','')" data-target="#createservice2" href="#">اضافة خصم</a>*@

            </h4>
            <div style="display: none;" class="validation-summary-errors4"></div>
            <table class="table table-hover">
                <tr>
                    <th>كود الخدمة</th>
                    <th>اسم الخدمة</th>
                    <th>الخصم </th>

                    <th></th>
                </tr>
                @foreach (var item in Model.DonatedServices)
                {
                    string id = "ed" + item.ID;
                    <tr id="@id">
                        <td>@item.ID</td>
                        <td>@item.Service</td>
                        <td>@item.Discount</td>

                        <td>
                            @*<button class="btn btn-primary waves-effect waves-light m-b-5" onclick="edit2(@item.ID,'@item.Service','@item.Discount')" data-toggle="modal" data-target="#createservice">تعديل </button>
                            <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteserv2(@item.ID)">حذف</button>*@

                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    
</div>

<div class="card-box">
    <table class="table table-hover">
        <tr>

            <th> الشروط الخدمات</th>
            <th>مميزات الخدمات</th>
            <th>اوقات العمل</th>

        </tr>
        <tr>
            <td>
                @*<div>
                    <i class="btn-info fa fa-plus-square-o" data-toggle="modal" data-target="#CreateCodition" onclick="getcondtion(0,'')"></i>
                </div>*@
                @if (Model.CondetionServices != null)
                {
                    <ol>
                        @foreach (var condetionService in Model.CondetionServices)
                        {
                            string idcon = "con" + condetionService.ID;
                            <li id="@idcon">
                                @*<i class="btn-success fa fa-pencil-square-o" data-toggle="modal" data-target="#CreateCodition" onclick="getcondtion(@condetionService.ID,'@condetionService.Condition')"></i>
                                <i class="btn-danger fa fa-trash-o" onclick="deletecondition(@condetionService.ID)"></i>*@
                                <span>@condetionService.Condition</span>
                            </li>
                        }
                    </ol>
                }
            </td>
            <td>
                @*<div>
                    <i class="btn-info fa fa-plus-square-o" data-toggle="modal" data-target="#Createfeature" onclick="getfeature( 0, '')"></i>
                </div>*@
                @if (Model.FeatureServices != null)
                {
                    <ol>
                        @foreach (var feature in Model.FeatureServices)
                        {
                            string idcon = "fet" + feature.ID;
                            <li id="@idcon">
                                @*<i class="btn-success fa fa-pencil-square-o" data-toggle="modal" data-target="#Createfeature" onclick="getfeature(@feature.ID,'@feature.Feature')"></i>
                                <i class="btn-danger fa fa-trash-o" onclick="deletefeature(@feature.ID)"></i>*@
                                <span>@feature.Feature</span>
                            </li>
                        }
                    </ol>
                }
            </td>
            <td>
                @*<div>
                    <i class="btn-info fa fa-plus-square-o" data-toggle="modal" data-target="#Creatework" onclick="getwork( 0, '','')"></i>
                </div>*@
                @if (Model.WorkCalenders != null)
                {
                    <ol>
                        @foreach (var work in Model.WorkCalenders)
                        {
                            string idcon = "work" + work.ID;
                            <li id="@idcon">
                                @*<i class="btn-success fa fa-pencil-square-o" data-toggle="modal" data-target="#Creatework" onclick="getwork(@work.ID,'@work.ValidFrom','@work.validto')"></i>
                                <i class="btn-danger fa fa-trash-o" onclick="deletework(@work.ID)"></i>*@
                                <span>@work.ValidFrom => @work.validto</span>
                            </li>
                        }
                    </ol>

                }
            </td>

        </tr>


    </table>
</div>




@section Scripts{
    <script>

        function getsocial(ID, Name, Url, Type) {
            $("#ID20").val(ID);
            $("#Name20").val(Name);
            $("#Url20").val(Url);
            $("#Type20").val(Type);
        }
        function DeleteSocial(id) {
            if (confirm('هل تريد حذف  موقع التواصل  ؟')) {
                $.ajax({
                    url: "/Donators/cpanel/DeleteSocial/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $(".validation-summary-errors").html('<ul><li>تم حذف موقع التواصل</li></ul>');
                        $("#mycontacts" + id).remove();
                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه الموقع مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }
        function acept(id, va) {
            var text = "";
            if (va == 1)
                text = "هل تريد تاكيد الطلب مؤقتا";
            else if (va == 2)
                text = "هل تريد تاكيد الطلب نهائيا";
            else
                text = "هل تريد رفض الطلب ";
            if (confirm(text)) {
                $.ajax({
                    url: "/Admin/AcceptDonators/Accept?id=" + id + "&va=" + va,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#ddd").remove();
                            if (va == 1) {
                                $(".validation-summary-errors").html('<ul><li>تم قبول الطلب مؤقتا</li></ul>');
                            }
                            else if (va == 2) {
                                $(".validation-summary-errors").html('<ul><li>تم قبول الطلب نهائيا</li></ul>');
                            }
                            else {
                                $(".validation-summary-errors").html('<ul><li>تم رفض الطلب </li></ul>');
                            }

                        } else {
                            $(".validation-summary-errors").html('<ul><li>حدث خطا في الطلب</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>حدث خطا في الطلب</li></ul>');
                    }
                });

            }
        }



        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذه المانح ؟')) {
                $.ajax({
                    url: "/Employee/Donators/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            document.location.herf = '@Url.Action("Index")';
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه المانح  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذه المانح مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }
        function edit(ID, Service, Discount) {
            $("#ID2").val(ID);
            $("#Service2").val(Service);
            $("#Discount2").val(Discount);

        }
        function deleteserv(id) {
            if (confirm('هل تريد حذف  هذا الخصم ؟')) {

                $.ajax({
                    url: "/Employee/Donators/DeleteDonserv/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors2").show();
                            $(".validation-summary-errors2").html('<ul><li>تم حذف هذا الخصم</li></ul>');

                        } else {
                            $(".validation-summary-errors2").show();
                            $(".validation-summary-errors2").html('<ul><li>هذا الخصم  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors2").show();
                        $(".validation-summary-errors2").html('<ul><li>هذا الخصم مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }
  function edit2(ID, Service, Discount) {
            $("#ID3").val(ID);
            $("#Service3").val(Service);
            $("#Discount3").val(Discount);

        }
        function deleteserv2(id) {
            if (confirm('هل تريد حذف  هذا الخصم ؟')) {

                $.ajax({
                    url: "/Employee/Donators/DeleteDonedserv/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#ed" + id).remove();
                            $(".validation-summary-errors4").show();
                            $(".validation-summary-errors4").html('<ul><li>تم حذف هذا الخصم</li></ul>');

                        } else {
                            $(".validation-summary-errors4").show();
                            $(".validation-summary-errors4").html('<ul><li>هذا الخصم  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function () {
                        $(".validation-summary-errors4").show();
                        $(".validation-summary-errors4").html('<ul><li>هذا الخصم مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

    </script>
}