﻿@model IEnumerable<SaveIt.Entity.Advertisment>
<link rel="stylesheet" href="/Scripts/magnific-popup/dist/magnific-popup.css" />

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">ادارة الاعلانات</h4>
        </div>
    </div>
</div>

<button class="btn btn-info waves-effect waves-light m-b-5" data-toggle="modal" onclick="editform(0, '','','');" data-target="#EditClients"> <i class="fa fa-plus m-r-5"></i> <span>اضافة اعلان</span> </button>

<div id="EditClients" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة اعلان</h4>
            </div>
            @using (Html.BeginForm("Edit", "Advertisment", FormMethod.Post, new { enctype = "multipart/form-data"}))
            {
             @Html.Hidden("PhotoPath")
                <input type="hidden" id="Id" name="Id" value="0"/>
                <div class="modal-body">
                   
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">اسم الاعلان  </label>
                                <input type="text" class="form-control" required name="ClientName" id="ClientName" placeholder="اسم الاعلان ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">تاريخ الانتهاء</label>
                                <input type="text" class="form-control date" required name="FinishDate" id="FinishDate" placeholder="تاريخ الانتهاء ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">اختر الصورة  </label>
                                <input type="file" class="form-control"  name="Photo" >
                            </div>
                        </div>
                    </div>
                  

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الاعلان</button>
                </div>
            }

        </div>
    </div>
</div>


<div class="row">
   
    <div class="col-sm-6 col-sm-offset-3">@Html.ValidationSummary(true)</div>
</div>


<div class="row port m-b-20">
    <div class="portfolioContainer">
        @foreach (var item in Model)
        {
                 <div class="col-sm-6 col-lg-3 col-md-4 "  id="@item.Id">
            <div class="gal-detail thumb">
                <a href="@item.PhotoPath" class="image-popup" title="@item.ClientName">
                    <img src="@item.PhotoPath" style="height:250px;" class="thumb-img" alt="work-thumbnail">
                </a>
                <h4 class="text-center">@item.ClientName</h4>
                <p class="text-center"><i class="fa fa-calendar"></i> @item.FinishDate.Value.ToShortDateString() 
                @if (DateTime.Now > item.FinishDate)
                {
                    <i class="fa fa-warning" style="color:firebrick;"></i>
                }
                </p>
                <p class="text-center">@item.Period</p>
                <div class="ga-border"></div>
                <p class="text-muted text-center">
                    <button class="btn btn-success waves-effect waves-light m-b-5" data-toggle="modal" onclick="editform(@item.Id, '@item.ClientName','@item.PhotoPath','@item.FinishDate');" data-target="#EditClients"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitem(@item.Id)"> <i class="fa fa-trash m-r-5"></i> <span>حذف</span> </button>
                </p>
            </div>
        </div>
        }
   


    </div>
</div> <!-- End row -->


@section Scripts{
<script src="~/Scripts/bootstrap-datepicker/js/locales/bootstrap-datepicker.ar.js"></script>
<script>
            jQuery(document).ready(function() {
                jQuery('#FinishDate').datepicker({
                    autoclose: true,
                    todayBtn: true,
                    format: 'dd/mm/yyyy'
                });
            });
</script>
    <script>

        function editform(ID, ClientName, PhotoPath, FinishDate) {
            $("#Id").val(ID);

            $("#ClientName").val(ClientName);
            $("#PhotoPath").val(PhotoPath);
            $("#FinishDate").val(FinishDate);

        }

        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذه الاعلان ؟')) {
                $.ajax({
                    url:  "/Admin/Advertisment/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف الاعلان</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه الاعلان  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>هذه الاعلان مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

</script>
    
    <!-- Gallery js -->
<script type="text/javascript" src="/Scripts/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        $('.image-popup').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            mainClass: 'mfp-fade',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            }
        });
    });
</script>




}