﻿@model IEnumerable<SaveIt.Entity.WebsiteStatistic>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">  الاحصائيات</h4>
        </div>
    </div>
</div>

<button class="btn btn-info waves-effect waves-light m-b-5" data-toggle="modal" onclick="editform('', '','');" data-target="#EditClients"> <i class="fa fa-plus m-r-5"></i> <span>اضافة احصائية</span> </button>

<div id="EditClients" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة الاحصائية</h4>
            </div>
            @using (Html.BeginForm("Edit", "WebsiteStatistics", FormMethod.Post))
            {
             
                @Html.Hidden("Id")
                <div class="modal-body">
                 

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">اسم الاحصائية  </label>
                                <input class="form-control" type="text" required name="Title" id="Title" placeholder="اسم الاحصائية  " /> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">العدد   </label>
                                <input class="form-control" type="number" required name="Count" id="Count" placeholder="العدد  " />
                            </div>
                        </div>
                    </div>
                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الاحصائية</button>
                </div>
            }

        </div>
    </div>
</div>



@Html.ValidationSummary(true)

<div class="card-box">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>اسم الاحصائية</th>
            <th>العدد</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {

            <tr id="@item.Id">

                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Count</td>
              

                <td>
                    <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editform(@item.Id,'@item.Title','@item.Count')" data-toggle="modal" data-target="#EditClients"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitem(@item.Id)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>
                </td>
            </tr>
        }

    </table>
</div>



@section Scripts{
    <script>
        function   editform(Id,Title,Count) {
            $("#Id").val(Id);
            $("#Title").val(Title);
            $("#Count").val(Count);
        }

        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذه الاحصائية ؟')) {
                $.ajax({
                    url:  "/Admin/WebsiteStatistics/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف الاحصائية</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه الاحصائية  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');
                        }
                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>هذه الاحصائية مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

    </script>
}