﻿@model IEnumerable<SaveIt.Entity.Event>
@using  SaveIt.Infrastructure

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> ادارة  الفاعليات</h4>
        </div>
    </div>
</div>

<button class="btn btn-info waves-effect waves-light m-b-5" data-toggle="modal" onclick="editformEv('0', '');" data-target="#EditClients"> <i class="fa fa-plus m-r-5"></i> <span>اضافة فاعليه</span> </button>

<div id="EditClients" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة فاعليه</h4>
            </div>
            @using (Html.BeginForm("Edit", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
             
              
            <div class="modal-body">

                <input type="text" id="EvId" name="EvId" hidden />
                @*<div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">المنطقه   </label>
                            @Html.DropDownList("RegionId", ViewBag.Regions as SelectList, "اخنر المنطقه", new { @class = "form-control select5", @Required = "Required", @id = "RegionId", @name = "RegionId" })
                        </div>
                    </div>
                </div>*@

                @*<div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">المعالم   </label>

                            @Html.DropDownList("EventTypeId", ViewBag.Eventtype as SelectList, "اخنر النوع", new { @class = "form-control select5", @Required = "Required", @id = "EventTypeId", @name = "EventTypeId" })
                        </div>
                    </div>
                </div>*@

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">اسم الفاعليه  </label>
                            <input type="text" class="form-control" required name="Name" id="Name" placeholder="اسم الفاعليه ">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group ">
                            <label for="Name" class="control-label">التفاصيل   </label>
                            <input type="text" class="form-control" name="Details" id="Details" placeholder="التفاصيل   ">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group ">
                            <label for="Name" class="control-label">تاريخ البدايه   </label>
                            <input type="text" class="form-control datepicker" required name="StartDate" id="StartDate" placeholder=" تاريخ البدايه   ">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">تاريخ النهايه  </label>
                            <input type="text" class="form-control datepicker" required name="EndDate" id="EndDate" placeholder="تاريخ النهايه  ">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Name" class="control-label">العنوان   </label>
                            <input type="text" class="form-control" required name="Address" id="Address" placeholder="العنوان   ">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.TextBox("file", null, new { @id = "input-1700", @type = "file", @class = "file-loading", @accept = "image/*" })
                            <script>
                                $("#input-1700").fileinput({
                                    maxFileCount: 1,

                                    browseLabel: " إضغط لإختيار صورة ..",
                                    browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                    browseClass: "btn btn-primary btn-block",
                                    showCaption: false,
                                    showRemove: false,
                                    showUpload: false
                                });
                            </script>
                        </div>
                    </div>
                </div>

               


            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الفاعليه</button>
                </div>
            }

        </div>
    </div>
</div>



@Html.ValidationSummary(true)

<div class="card-box">
    <table class="table table-hover">
        <tr>
            <th>الكود</th>
            <th>الاسم</th>
            <th>النوع </th>
            <th> تاريخ البدايه </th>
            <th>تاريخ النهايه  </th>
            <td>صوره الفاعليه</td>

            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">

                <td>@item.Id</td>
                <td>@item.Name</td>
               
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
               

                <td>
                    <a download="@item.PhotoPath">   <img src="@item.PhotoPath" alt="لا يوجد صورة" style="width:50px; height:50px;" /></a>
                </td>
                <td>
                    <div class="btn btn-primary  waves-effect waves-light m-b-5"> @Html.EncodedActionLink("تفاصيل ", "Details", "Event", new { Area = "Admin", Id = item.Id }, new { @class = "btn btn-primary  waves-effect waves-light m-b-5" })</div>
                       @*<a class="btn btn-primary  waves-effect waves-light m-b-5" href="/Admin/Event/Details/@item.Id">تفاصيل </a>*@
                    <div class="btn btn-info waves-effect waves-light m-b-5" > @Html.EncodedActionLink("صور الفاعليه ", "GetPhotoById", "EventPhoto", new { Area = "Admin", Id = item.Id }, new { @class = "btn btn-info waves-effect waves-light m-b-5" }) </div>
                       @*<a class="btn btn-info waves-effect waves-light m-b-5" href="/Admin/EventPhoto/GetPhotoById/@item.Id">صور الفاعليه</a>*@
                    <div class="btn btn-info waves-effect waves-light m-b-5"> @Html.EncodedActionLink(" حسابات التواصل ", "GetSocialById", "EventSocialMedia", new { Area = "Admin", Id = item.Id }, new { @class = "btn btn-info waves-effect waves-light m-b-5" })</div>
                       @*<a class="btn btn-info waves-effect waves-light m-b-5" href="/Admin/EventSocialMedia/GetSocialById/@item.Id">حسابات التواصل </a>*@
                    <div class="btn btn-info waves-effect waves-light m-b-5"> @Html.EncodedActionLink("  المنظمون ", "GetSponsorById", "EventSponsor", new { Area = "Admin", Id = item.Id }, new { @class = "btn btn-info waves-effect waves-light m-b-5" })</div>
                       @*<a class="btn btn-info waves-effect waves-light m-b-5" href="/Admin/EventSponsor/GetSponsorById/@item.Id"> المنظمون </a>*@
                       @*<button class="btn btn-success waves-effect waves-light m-b-5" onclick="editform(@item.Id,'@item.Name','@item.Id','@item.Email','@item.Details','@item.LandmarkId','@item.LatX','@item.LongX','@item.Owner')" data-toggle="modal" data-target="#EditClients"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>*@
                       @*<button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitemEv(@item.Id)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>*@
                </td>
            </tr>
        }

    </table>
</div>



@section Scripts{
    <script>

                                $('.datepicker').datepicker();
                                function editformEv(Id, Name, RegionName, Email, Details, LandmarkId, LatX, longx, Owner) {
            $("#EvId").val(Id);
            $("#RegionName").val(RegionName);
            $("#Email").val(Email);
            $("#Details").val(Details);
            $("#LandmarkId").val(LandmarkId);
            $("#LatX").val(LatX);
            $("#Longx").val(longx);
            $("#Owner").val(Owner);
         
            $("#Name").val(Name);

        }

        function deleteitemEv(id) {
            if (confirm('هل تريد حذف  هذه الفاعليه ؟')) {
                $.ajax({
                    url:  "/Admin/Event/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف الفاعليه</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه الفاعليه  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>هذه الفاعليه مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

    </script>
}