﻿
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<!-- BreadCrumb -->
<section class="BreadCrumb text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="#">
                    الرئيسية
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                عن وفر
            </li>
        </ol>
    </nav>
</section>

<!-- Banner -->
<section class="Banner text-center">
    <div class="Banner-Box">
        <p>
            عن وفر
        </p>
        <h2>
            اعرف المزيد عن وفر
        </h2>
    </div>
</section>

<!-- About -->
<section class="About">
    <div class="container-fluid p-0">
        <div class="row no-gutters m-0">
            <div class="col-sm-6">
                <div class="AboutImage h-100">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="AboutContent">
                    <h3>
                        تعرف على وفر
                    </h3>
                    <p>
                        هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial -->
<section class="Testimonial">
    <div class="container">
        <div class="div-Title">
            <h3>
                انضم الي اكثر من 500,000 عميل
            </h3>
            <p>
                انضم الي اكثر من 500,000 عميل
            </p>
        </div>
        <div class="testimonialCarosal">
            <div class="Custmer-testimonial">
                <div class="Custmer-testimonial-Info">
                    <h5>
                        اسم العميل
                    </h5>
                    <p>
                        الوظيفة
                    </p>
                    <ul class="list-inline Rating">
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                </div>
                <div class="d-block Custmer-testimonial-Comment">
                    خدمة عملاء وفر كارد خدمة ممتازة… شكرا وفر كارد على هذه التجربه الرائعه
                </div>
            </div>
            <div class="Custmer-testimonial">
                <div class="Custmer-testimonial-Info">
                    <h5>
                        اسم العميل
                    </h5>
                    <p>
                        الوظيفة
                    </p>
                    <ul class="list-inline Rating">
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                </div>
                <div class="d-block Custmer-testimonial-Comment">
                    خدمة عملاء وفر كارد خدمة ممتازة… شكرا وفر كارد على هذه التجربه الرائعه
                </div>
            </div>
            <div class="Custmer-testimonial">
                <div class="Custmer-testimonial-Info">
                    <h5>
                        اسم العميل
                    </h5>
                    <p>
                        الوظيفة
                    </p>
                    <ul class="list-inline Rating">
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                </div>
                <div class="d-block Custmer-testimonial-Comment">
                    خدمة عملاء وفر كارد خدمة ممتازة… شكرا وفر كارد على هذه التجربه الرائعه
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Counting -->
<section class="Counting">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="Count">
                    <div class="icon">
                        <i class="fa fa-group cherry-icon center  icon-166"></i>
                    </div>
                    <h3>
                        <span class="timer">1000</span>
                        <br>
                        عميل
                    </h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="Count">
                    <div class="icon">
                        <i class="fa fa-institution cherry-icon center  icon-123"></i>
                    </div>
                    <h3>
                        <span class="timer">500</span>
                        <br>
                        متجر
                    </h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="Count">
                    <div class="icon">
                        <i class="fa fa-money cherry-icon center  icon-387"></i>
                    </div>
                    <h3>
                        <span class="timer">100</span>
                        <br>
                        قسائم إستردادية
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
