﻿
@{
    ViewBag.Title = "ContactUs";
}
<style>

    .validation-summary-errors li {
        color: red;
        font-size: 18px;
        text-align: center;
    }
</style>
<!-- Contact Us Area Start -->
<div class="contact-us ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-header">
                    <h3 class="mb-30">اتصل بنا</h3>
                    <p class="mb-20">اشترك معنا الان عبر التواصل بالايميل </p>
                </div>
                <div class="contact-form">
                    <p class="form-messege mt-20">
                        @Html.ValidationSummary(true)
                    </p>
                    <form action="/Home/Contactus" method="post" id="contact-form">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="req" for="name">الاسم بالكامل</label>
                            <input type="text" class="form-control" id="name" name="Name" required="required">
                        </div>
                        <div class="form-group">
                            <label class="req" for="email">البريد الاليكتروني</label>
                            <input type="text" class="form-control" id="email" name="Email" required="required">
                        </div>
                        <div class="form-group">
                            <label class="req" for="number">رقم التليفون</label>
                            <input type="text" class="form-control" id="number" name="Phone" required="required">
                        </div>
                        <div class="form-group">
                            <label class="req" for="number">العنوان</label>
                            <input type="text" class="form-control" id="Address" name="Address" required="required">
                        </div>
                        <div class="form-group">
                            <label class="req" for="message">الرسالة</label>
                            <textarea class="form-control" rows="5" id="comments" name="Messages" required="required"></textarea>
                        </div>
                        <button type="submit" id="sign-in">ارسال</button>
                    </form>

                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Contact Us Area End -->
