﻿
@{
    ViewBag.Title = "DonatorSearch";
}
<div id="breadcrumb-container">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html"></a></li>
            <li class="active">البحث عن</li>
            <li class="active">@Request.QueryString["search"]</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="~/img/page-not-found.png" class="img-responsive" style="height: auto;" alt="Alternate Text" />
            <h2 class="text-center" style="color: #b0b0ab; background-color: #e3e3df;padding-bottom: 15px;">هذا المانح ليس موجود علي النظام</h2>
        </div><!-- End .col-md-12 -->
    </div><!-- End .row -->
</div><!-- End .container -->
