﻿@model SaveIt.Models.HomePage
@{
    ViewBag.Title = "الصفحة الرئيسية";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    .ImageHieght {
        height: 250px;
    }
</style>


<section class="p-t-23 p-b-130">
    <div class="container">


        <!-- Product -->
        <section class="p-t-23 p-b-130">
            <div class="container">
                <div class="p-b-10">
                    <h3 class="ltext-103 cl5">
                        خدمات وفر
                    </h3>
                </div>

                <div class="flex-w flex-sb-m p-b-52">
                    <div class="flex-w flex-l-m filter-tope-group m-tb-10">

                        @{var tab = 0; }
                        @foreach (var item in Model.ListName)
                        {
                            tab++;
                            if (tab == 1)
                            {
                                <a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-toggle="tab" href="#@tab">@item.Name</a>

                            }
                            else
                            {
                                <a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-toggle="tab" href="#@tab">@item.Name</a>

                            }

                        }
                    </div>
                </div>


                <div class="row isotope-grid">

                    <!-- Block2 -->

                    @foreach (var item in Model.Donators.Where(a => a.CatID == Model.ListName.Select(z => z.ID).FirstOrDefault()))
                    {
                        double total = 0;
                        var sum = item.EvaluationClients.Sum(c => c.Evaluate);
                        var count = item.EvaluationClients.Count;
                        if (count == 0) { count = 1; }
                        total = sum / count;
                        decimal? tempDiscount = 0;
                        var datetime = item.DiscountDate ?? DateTime.Now;
                        if (item.TempDiscountServices.Count(c => c.IsAccepted == true || c.IsOrder == false) > 0)
                        {
                            var first = item.TempDiscountServices.OrderByDescending(c => c.DateTo).OrderByDescending(c => c.Discount).FirstOrDefault(c => c.IsAccepted == true || c.IsOrder == false);
                            if (first != null)
                            {
                                datetime = first.DateForm ?? DateTime.Now;
                                tempDiscount = first.Discount;
                            }
                        }
                        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                            <div class="block2">
                                <div class="block2-pic hov-img0 label-new" data-label="@tempDiscount %">
                                    @if (item.Photo != null)
                                    {
                                        <img class="ImageHieght" src="@item.Photo" alt="IMG-PRODUCT">
                                    }
                                    else
                                    {
                                        <img class="ImageHieght" src="~/img/contact-placeholder.jpg" alt="IMG-PRODUCT">

                                    }

                                    <a data-toggle="modal" data-target="#myModal" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1" onclick="GetDontarById(@item.ID)">
                                        شاهد الان
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="/Services/Details/@item.ID" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                            @item.OrgName
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </section>
    </div>

</section>
<div class="modal fade" id="myModal" role="dialog">
    <!-- Modal Dialog Box Start -->
    <div class="modal-dialog max-width">
        <!-- Modal content Start -->
        <div class="modal-content" id="Test">

        </div>
    </div>
    <!-- Modal Dialog Box End -->
</div>
<script>
    function GetDontarById(Id) {
        $.ajax({
            url: "/Home/GetDontar",
            data: { Id: Id },
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'html',
            success: function (response) {

                $("#Test").html(response);

            },
            error: function () {

            }
        });

    }
</script>