﻿@{
    ViewBag.Title = "تسجيل الدخول";
}
<div class="sign-up main-signin ptb-50">
    <div class="container">
        <!-- Section Title Start -->
        @*<div class="section-title mb-50">
            
        </div>*@
        <!-- Section Title Start End -->
        <div class="row">
            <!-- Sign-in Start -->
            <div class="col-sm-6">
                <div class="create-account riview-field">
                    <!-- Sign-in Information Start -->
                    <div class="sign-in">
                        <h3 class="mb-15 pb-15">تسجيل الدخول</h3>
                        <p class="mb-30">تسجيل الدخول بواسطه البريد الالكترونى</p>
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "login-form", role = "form" }))
                        {
                    @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="req" for="email2"> اسم المستخدم</label>
                            @Html.TextBox("Username", null, new { @class = "form-control", @Required = "Required", @placeholder = "اسم المستخدم..." })

                            @*<input type="email" class="form-control" id="email2" required="required">*@
                        </div>
                        <div class="form-group">
                            <label class="req" for="password">كلمه السر</label>
                            @Html.TextBox("Password", null, new { @class = "form-control", @type = "password", @Required = "Required", @placeholder = "كلمة المرور..." })
                        </div>
                    <button type="submit" id="sign-in">دخول</button>
                    <a class="text-capitalize f-right mt-5" href="#">هل نسيت كلمه السر</a>
                        }
                    </div>
                    <!-- Sign-in Information End -->
                </div>
            </div>
            <!-- Sign-in End -->
            <!-- New Customer Start -->
            <div class="col-sm-6">
                <div class="new-customer create-account">
                    <h3 class="mb-15 pb-15">مستخدم جديد</h3>
                    <p class="mb-30">يتمتع إنشاء حساب بالعديد من المزايا: تحقق من ذلك بشكل أسرع ، واحتفظ بأكثر من عنوان واحد ، وتتبع الطلبات والمزيد.</p>
                    <div class="mt-10">
                        <a class="btn-account" href="register.html">انشاء حساب</a>
                    </div>
                </div>
            </div>
            <!-- New Customer End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>

    @*<div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">لوحة التحكم</a></li>
                <li class="active">تسجيل الدخول</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-sm-offset-3 col-md-offset-3">
                        <header class="content-title">
                            <h2 class="title text-center">تسجيل الدخول</h2>
                           <br />
                        </header>
                        <p>@Html.ValidationSummary(true)</p>
                        <div class="xs-margin"></div>
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "login-form", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="input-group">
                                <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">اسم المستخدم&#42;</span></span>
                                @Html.TextBox("Username", null, new { @class = "form-control input-lg", @Required = "Required", @placeholder = "اسم المستخدم..." })
                            </div><!-- End .input-group -->
                            <br />
                            <div class="input-group xs-margin">
                                <span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">كلمة المرور&#42;</span></span>
                                @Html.TextBox("Password", null, new { @class = "form-control input-lg", @type = "password", @Required = "Required", @placeholder = "كلمة المرور..." })
                            </div><!-- End .input-group -->
                            <br />
                            <span class="help-block ">
                                <label style="font-size:18px;" class="pull-left">
                                    <input type="checkbox" style="width: 18px;height: 18px;" name="RememberMe"> تذكرني
                                </label>
                                <button class="btn btn-success pull-right" style="height:auto;font-size:18px;">تسجيل الدخول</button>
                            </span>
                            <br />
                           
                        }
                        <div class="sm-margin"></div><!-- space -->
                    </div><!-- End .col-md-6 -->

                </div><!-- End.row -->

            </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
<br />*@