﻿@model IEnumerable<SaveIt.Entity.Ws_SocialMedia>

<ul class="fixed-icon-list">
    @foreach (var item in Model)
    {
        if (item.type == "FaceBook")
        {
            <li><a href="@item.Link" data-toggle="tooltip" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>
        }
        if (item.type == "Twitter")
        {
            <li><a href="@item.Link" data-toggle="tooltip" title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
        }
        if (item.type == "Instegram")
        {
            <li><a href="@item.Link" data-toggle="tooltip" title="Instagram"><i class="zmdi zmdi-instagram"></i></a></li>
        }
        if (item.type == "Linkedin")
        {
            <li><a href="@item.Link" data-toggle="tooltip" title="linkedin"><i class="zmdi zmdi-linkedin"></i></a></li>
        }
    }
</ul>