﻿@model SaveIt.Entity.ClientRegisteration

 <tr id="@Model.ID">
     <td>@Model.ClientID</td>
     <td>@Model.Card.Name</td>
     <td>@Model.DonatService.Service</td>
     <td>@Model.Totalpaid</td>
     <td>@Model.DiscountPercentage %</td>
     <td>@Model.DiscountValue</td>
     <td>@Model.TempDiscount</td>
     <td>@Model.Paid</td>
     <td>
         <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="paid('@Model.ID')">حذف الفاتورة</button>
     </td>
 </tr>