﻿@model SaveIt.Entity.Card
<div class="col-sm-12">
    <div class="form-group">
        <label for="Name" class="control-label"> اسم المشترك  </label>
        <input type="text" class="form-control" readonly value="@Model.Name">
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        <label for="Name" class="control-label">قيمة الفاتورة  </label>
        <input type="number" class="form-control" required id="Totalpaid" name="Totalpaid">
    </div>
</div>
<div class="col-sm-9">
    <div class="form-group">
        <label for="Name" class="control-label">اختر الخدمة  </label>
        @Html.DropDownList("ServiceID",null,"اختر الخدمة",new {@class="form-control",@required= "required",@onchange= "getDiscount()" })
    </div>
</div>
<div class="col-sm-3">
    <button type="button" class="btn btn-success" style="margin-top: 28px;" onclick="getDiscount()">حسابة قيمة الخصم</button>
</div>
<div  id="getallvalue"></div>
