﻿@model SaveIt.Areas.Donators.Models.Discounts
<div class="col-sm-12">
    <div class="form-group">
        <label for="Name" class="control-label">قيمة الخصم %  </label>
        <input type="number" class="form-control" readonly id="DiscountPercentage" name="DiscountPercentage" value="@Model.DiscountPercentage">
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        <label for="Name" class="control-label">قيمة الخصم  </label>
        <input type="number" class="form-control" readonly id="DiscountValue" name="DiscountValue" value="@Model.Discountvalue">
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        <label for="Name" class="control-label">قيمة الخصم  المؤقت</label>
        <input type="number" class="form-control" readonly id="TempDiscount" name="TempDiscount" value="@Model.TempDiscount">
    </div>
</div>

<div class="col-sm-12">
    <div class="form-group">
        <label for="Name" class="control-label">المبلغ المدفوع </label>
        <input type="number" class="form-control" readonly id="Paid" name="Paid" value="@Model.Paid">
    </div>
</div>
<div class="col-sm-12">
    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الزيارة</button>
</div>

