﻿@model IEnumerable<SaveIt.Entity.ClientRegisteration>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> تسجيل زيارة المشتركين </h4>
            <button class="btn btn-success waves-effect waves-light m-b-5" onclick="Register()">اضافة زيارة</button>

        </div>
    </div>
</div>



<div id="Register" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="unRegister()"  aria-hidden="true">×</button>
                <h4 class="modal-title"> اضافة خصم</h4>
                <div id="loader10" class="aletr" style="display:none">
                    جاري التحميل  ...<img src="~/img/ajax-loader.gif" />
                </div>
            </div>
            @using (Ajax.BeginForm("Edit", "ClientRegister", new AjaxOptions
            {
                OnSuccess = "unRegister()",
                LoadingElementId = "loader10",
                HttpMethod = "POST",
                InsertionMode = InsertionMode.InsertAfter,
                UpdateTargetId = "mybodyAppend",
                OnFailure = "fail()"
            }))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="validation-summary-errors2"></div>
                        </div>
                    </div> 
                     <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="Name" class="control-label"> ادخل رقم البطاقة  </label>
                                <input type="number" class="form-control" required name="ClientID" id="ClientID" placeholder="اكتب  رقم البطاقة ">
                            </div>
                         </div> 
                         <div class="col-md-3">
                         <button type="button" class="btn btn-success" style="margin-top: 28px;" onclick="getCardData()">بحث</button>
                        </div>
                    </div>
                    <div class="row" id="carddetails">
                       
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" onclick="unRegister()" >غلق</button>
                </div>
            }

        </div>
    </div>
</div>


<div class="validation-summary-errors"></div>

<div class="card-box">
    <table class="table table-hover">
        <thead>
        <tr>

            <th>رقم العضوية </th>
            <th>اسم المشترك </th>
            <th>اسم الخدمة </th>
            <th>الفاتورة </th>
            <th>قيمة الخصم % </th>
            <th>قيمة الخصم </th>
            <th>قيمة الخصم المؤقت </th>
            <th>المدفوع </th>

            <th></th>
        </tr>
        </thead>
      
        <tbody id="mybodyAppend">
        @foreach (var item in Model.OrderByDescending(c => c.ID))
        {
            <tr id="@item.ID">
                <td>@item.ClientID</td>
                <td>@item.Card.Name</td>
                <td>@item.DonatService.Service</td>
                <td>@item.Totalpaid</td>
                <td>@item.DiscountPercentage %</td>
                <td>@item.DiscountValue</td>
                <td>@item.TempDiscount </td>
                <td>@item.Paid</td>
              
                <td>
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="paid('@item.ID')">حذف الفاتورة</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>



@section Scripts{
    <script>

        function paid(id) {
            if (confirm('هل تريد حذف الفاتورة ؟')) {
                $.ajax({
                    url: "/Donators/ClientRegister/Delete?id=" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف الفاتورة </li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>حدث خطا في  حذف الفاتورة</li></ul>');

                        }
                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>حدث خطا في حذف الفاتورة</li></ul>');
                    }
                });
            }
        }

        function unRegister() {
            $('#Register').modal('toggle');
        };
        function Register() {
            $("#carddetails").html('');
            $('#Register').modal('show');
        }
        function fail() {
            $('.validation-summary-errors2').html("<ul><li>حدث خطا في الاضافة يرجي مراجعة البيانات</li></ul>");
        }

        function getCardData() {
            var clientId = $("#ClientID").val();
            if (clientId != "" && clientId != 0) {
                $("#loader10").show();
                $.ajax({
                    url: '/Donators/ClientRegister/Getcarddetails?id=' + clientId,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == "0") {
                            $('.validation-summary-errors2').html("<ul><li>البطاقة منتهية يرجي تجديدها</li></ul>");
                        } else {
                            $("#carddetails").html(result);
                        }
                      
                        $("#loader10").hide();
                    },
                    error: function () {
                        $("#loader10").hide();
                        $('.validation-summary-errors2').html("<ul><li>يرجي كتابة رقم البطاقة الصحيحة</li></ul>");
                    }
                });
            }
        }
        function getDiscount() {
            var servid = $("#ServiceID").val();
            var total = $("#Totalpaid").val();
                $("#loader10").show();
                $.ajax({
                    url: '/Donators/ClientRegister/getDiscount?id=' + servid+"&tot="+total,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $("#getallvalue").html(result);
                        $("#loader10").hide();
                    },
                    error: function () {
                        $("#loader10").hide();
                        $('.validation-summary-errors2').html("<ul><li>يرجي اختيار الخدمة وادخال الفاتورة اولا</li></ul>");
                    }
                });
            }
        
    </script>
}