﻿@model IEnumerable<SaveIt.Entity.OrderService>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> طلابات الخصومات الخاصة ب @ViewBag.name</h4>
        </div>
    </div>
</div>


<div class="validation-summary-errors"></div>

<div class="card-box">
    <table class="table table-hover">
        <tr>

            <th>#</th>
            <th>الخدمة </th>
            <th>الخصم </th>

            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="@item.ID">

                <td>@item.ID</td>
                <td>@item.Service</td>
                <td>@item.Discount</td>
   
                <td>
                    <button class="btn btn-success waves-effect waves-light m-b-5" onclick="orders('@item.ID','@item.DonatorID',1)" >قبول</button>
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="orders('@item.ID','@item.DonatorID',-1)">رفض</button>
                </td>
            </tr>
        }

    </table>
</div>



@section Scripts{
    <script>
        
        function orders(ID,DonatorID,Status) {
            var text = "";
            if (Status == 1)
                text = "هل تريد تاكيد الطلب ";
         
            else
                text = "هل تريد رفض الطلب ";
            if (confirm(text)) {
                $.ajax({
                    url: "/Admin/OrdersServices/Edit?ID=" + ID+"&DonatorID="+DonatorID+"&Status="+Status,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + ID).remove();
                            if (Status == 1) {
                                $(".validation-summary-errors").html('<ul><li>تم قبول الطلب </li></ul>');
                            }
                          
                            else {
                                $(".validation-summary-errors").html('<ul><li>تم رفض الطلب </li></ul>');
                            }
                         
                        } else {
                            $(".validation-summary-errors").html('<ul><li>حدث خطا في الطلب</li></ul>');

                        }

                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>حدث خطا في الطلب</li></ul>');
                    }
                });

            }
            }
        

    </script>
}