﻿@model IEnumerable<SaveIt.Entity.Donator>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> ادارة  المانحين</h4>
        </div>
    </div>
</div>


<div class="validation-summary-errors"></div>

<div class="card-box">
    <table class="table table-hover">
        <tr>

            <th>اسم المالك</th>
            <th>اسم المنظمة </th>
            <th>اسم المسؤول</th>
            <th>رقم السجل</th>
            <th>عدد الطلبات</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="@item.ID">

                <td>@item.OwnName</td>
                <td>@item.OrgName</td>
                <td>@item.ResponsableName</td>
                <td>@item.BookName</td>
                <td>@item.OrderServices.Count(c=>c.Status==0)</td>
                <td>
                    <a class="btn btn-primary waves-effect waves-light m-b-5" href="@Url.Action("Details",new{id=item.ID})">عرض الطلبات</a>
                </td>
            </tr>
        }

    </table>
</div>



@section Scripts{
    <script>
        
        function orders(ID,DonatorID,Status) {
            var text = "";
            if (Status == 1)
                text = "هل تريد تاكيد الطلب ";
         
            else
                text = "هل تريد رفض الطلب ";
            if (confirm(text)) {
                $.ajax({
                    url: "/Admin/OrdersServices/Edit?ID=" + ID+"&DonatorID="+DonatorID+"&Status="+Status,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            if (Status == 1) {
                                $(".validation-summary-errors").html('<ul><li>تم قبول الطلب </li></ul>');
                            }
                          
                            else {
                                $(".validation-summary-errors").html('<ul><li>تم رفض الطلب </li></ul>');
                            }
                         
                        } else {
                            $(".validation-summary-errors").html('<ul><li>حدث خطا في الطلب</li></ul>');

                        }

                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>حدث خطا في الطلب</li></ul>');
                    }
                });

            }
            }
        

    </script>
}