﻿@model IEnumerable<SaveIt.Entity.Donator>
@using SaveIt.Infrastructure

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> ادارة  المانحين</h4>
        </div>
    </div>
</div>


<div class="validation-summary-errors"></div>

<div class="card-box">
    <table class="table table-hover">
        <tr>

            <th>اسم المالك</th>
            <th>اسم المنظمة </th>
            <th>اسم المسؤول</th>
            <th>رقم السجل</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="@item.ID">

                <td class="OwnName">@item.OwnName</td>
                <td class="OrgName">@item.OrgName</td>
                <td class="ResponsableName">@item.ResponsableName</td>
                <td class="BookName">@item.BookName</td>
                <td>


                    @Html.EncodedActionLink("تفاصيل المانح", "Details", "Donators", new { Area = "Employee", id = item.ID   }, new { @class= "btn btn-primary waves-effect waves-light m-b-5" })


                    @*<a class="btn btn-primary waves-effect waves-light m-b-5" href="/Employee/Donators/Details/@item.ID">تفاصيل المانح</a>*@
                    <button class="btn btn-success waves-effect waves-light m-b-5" onclick="deleteitem(@item.ID,2)">  <span>قبول الطلب نهائيا</span> </button>
                    <button class="btn btn-info waves-effect waves-light m-b-5" onclick="deleteitem(@item.ID,1)"> <span>قبول الطلب مؤقتا</span> </button>
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitem(@item.ID,-1)"> <i class="fa fa-trash-o m-r-5"></i> <span>رفض الطلب</span> </button>

                </td>
            </tr>
        }

    </table>
</div>



@section Scripts{
    <script>
        
        function deleteitem(id,va) {
            var text = "";
            if (va == 1)
                text = "هل تريد تاكيد الطلب مؤقتا";
            else if (va == 2)
                text = "هل تريد تاكيد الطلب نهائيا";
            else
                text = "هل تريد رفض الطلب ";
            if (confirm(text)) {
                $.ajax({
                    url: "/Admin/AcceptDonators/Accept?id=" + id+"&va="+va,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            if (va == 1) {
                                $(".validation-summary-errors").html('<ul><li>تم قبول الطلب مؤقتا</li></ul>');
                            }
                            else if(va==2)
                            {
                                $(".validation-summary-errors").html('<ul><li>تم قبول الطلب نهائيا</li></ul>');
                            }
                            else {
                                $(".validation-summary-errors").html('<ul><li>تم رفض الطلب </li></ul>');
                            }
                         
                        } else {
                            $(".validation-summary-errors").html('<ul><li>حدث خطا في الطلب</li></ul>');

                        }

                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>حدث خطا في الطلب</li></ul>');
                    }
                });

            }
            }
        

    </script>
}