﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Waffer</title>
    <meta charset="UTF-8">
    <!--IE Comatibility Meta-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--First Mobile Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/SaveItNewDesign/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/SaveItNewDesign/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/SaveItNewDesign/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/SaveItNewDesign/vendor/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/SaveItNewDesign/css/mai.css">
</head>
<body>

    <!--    Start Navbar   -->
    <section class="navBar fixed-top">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#"><img src="~/SaveItNewDesign/images/icons/logo-nav.png" alt="..."></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">

                            <a class="nav-link" href="@Url.Action("Home","Home")">الصفحه الرئسية <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("AboutUs","Home")">عن وفر</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Categorys","Services")">القسم التجاري</a>
                        </li>
                        <li class="nav-item now">
                            <a class="nav-link" href="@Url.Action("DemondCard","Home")">إحجز بطاقتك</a>
                            <span>الآن</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ContactUs","Home")">اتصل بنا</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                حسابي
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="login.html"><i class="fa fa-sign-in"></i>تسجيل دخول</a>
                                <a class="dropdown-item" href="login.html"><i class="fa fa-user-plus"></i>إنشاء حساب</a>
                                <a class="dropdown-item" href="about.html"><i class="fa fa-edit"></i>تغيير كلمة المرور</a>
                                <a class="dropdown-item" href="about.html"><i class="fa fa-edit"></i>إعادة تعيين كلمة المرور</a>
                                <a class="dropdown-item" href="profile.html"><i class="fa fa-user"></i>حسابي</a>
                                <a class="dropdown-item" href="about.html"><i class="fa fa-sign-out"></i>تسجيل الخروج</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="form-group search">
                                <input class="form-control" type="search" placeholder="ابحث">
                                <button type="submit" class="fa fa-search"></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <!--    End Navbar   -->



    @RenderBody()


    <!--    Start Footer   -->
    <section class="footer">
        <div class="container">
            <div class="row top-footer">
                <div class="col-lg-3 col-md-6">
                    <img class="img-fluid" src="~/SaveItNewDesign/images/icons/logofooter.png" alt="...">
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            رقم الجوال : 920009813
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            رقم الجوال : 0148493111
                        </li>
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            العنوان : المدينة المنورة- مخطط العنزي- تقاطع كبري الرياض
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>الفروع</h3>
                    <ul>
                        <li>
                            الحزام
                        </li>
                        <li>
                            شارع الامير عبدالمجيد
                        </li>
                        <li>
                            قربان
                        </li>
                        <li>
                            سلطانه
                        </li>
                        <li>
                            السبع المساجد
                        </li>
                        <li>
                            العزيزيه
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>المناطق</h3>
                    <ul>
                        <li>
                            <i class="fa fa-map"></i>
                            المدينة المنورة
                            <span>
                                (113)
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-map"></i>
                            ينبع
                            <span>
                                (1)
                            </span>
                        </li>
                    </ul>
                    <h3>احصل علي التطبيق</h3>
                    <ul>
                        <li>
                            <a href="">
                                <img src="~/SaveItNewDesign/images/icons/apple-store.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="~/SaveItNewDesign/images/icons/google-store.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>الخدمات المستقبلية</h3>
                    <ul>
                        <li>
                            <i class="fa fa-paint-brush"></i>
                            تصميم الهوية التجارية
                        </li>
                        <li>
                            <i class="fa fa-adjust"></i>
                            تصاميم داخلية وخارجية
                        </li>
                        <li>
                            <i class="fa fa-clone"></i>
                            المطبوعات الورقية بكافة أنواعها
                        </li>
                        <li>
                            <i class="fa fa-picture-o"></i>
                            لوحات داخلية وخارجية
                        </li>
                        <li>
                            <i class="fa fa-id-badge"></i>
                            الإستكرات
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row Bottom-footer text-center">
                <div class="col-12">
                    <p>جميع الحقوق محفوظة وفر <span>&copy;</span> 2018</p>
                </div>
            </div>
        </div>
    </section>
    <!--    End Footer   -->



    <script src="~/SaveItNewDesign/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/SaveItNewDesign/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/SaveItNewDesign/vendor/bootstrap/js/popper.min.js"></script>
    <script src="~/SaveItNewDesign/vendor/slick/slick.min.js"></script>
    <script src="~/SaveItNewDesign/js/jquery.countTo.js"></script>
    <script src="~/SaveItNewDesign/js/main.js"></script>
</body>
</html>
