﻿@model IEnumerable<SaveIt.Entity.Ws_SocialMedia>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">   اكونتات التواصل الاجتماعي</h4>
        </div>
    </div>
</div>

<button class="btn btn-info waves-effect waves-light m-b-5" data-toggle="modal" onclick="editform('', '');" data-target="#EditClients"> <i class="fa fa-plus m-r-5"></i> <span>اضافة اكونت</span> </button>

<div id="EditClients" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة الاكونت</h4>
            </div>
            @using (Html.BeginForm("Edit", "SocialWebSite", FormMethod.Post))
            {
             
                @Html.Hidden("ID")
                <div class="modal-body">
                   
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">نوع الاكونت  </label>
                                <select class="form-control" id="type" name="type" required>
                                    <option value="">يرجي تحديد الموقع</option>
                                    <option value="FaceBook">FaceBook</option>
                                    <option value="Twitter">Twitter</option>
                                    <option value="Instegram">Instegram</option>
                                    <option value="Linkedin">Linkedin</option>
                                </select>
                            </div>
                        </div>
                    </div>
                  

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">رابط الاكونت  </label>
                                <input class="form-control" type="text" required name="Link" id="Link" placeholder="رابط الاكونت  " /> 
                            </div>
                        </div>
                    </div>
                  
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">العرض  </label>
                                <select class="form-control" id="Isactive" name="Isactive" required>
                                    <option value="true">يعرض</option>
                                    <option value="false">لا يعرض</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الاكونت</button>
                </div>
            }

        </div>
    </div>
</div>



@Html.ValidationSummary(true)

<div class="card-box">
    <table class="table table-hover">
        <tr>
            <th>الكود</th>
            <th>نوع الموقع</th>

            <th>الرابط</th>
            <th>العرض</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            string st = item.Isactive ? "true" : "false";
            string std = item.Isactive ? "يعرض" : "لا يعرض";
            <tr id="@item.ID">

                <td>@item.ID</td>
                <td>@item.type</td>
                <td>@item.Link</td>
                <td>@std</td>

                <td>
                    <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editform(@item.ID,'@item.Link','@item.type','@st')" data-toggle="modal" data-target="#EditClients"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                </td>

                <td>
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitem(@item.ID)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>

                </td>
            </tr>
        }

    </table>
</div>



@section Scripts{
    <script>
        function   editform(ID,Link,type,Isactive) {
            $("#ID").val(ID);
         
            $("#Link").val(Link);
            $("#type").val(type);
            $("#Isactive").val(Isactive);

        }

        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذه الاكونت ؟')) {
                $.ajax({
                    url:  "/Admin/SocialWebSite/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function(result) {
                        if (result == 1) {
                            $("#" + id).remove();
                            $(".validation-summary-errors").html('<ul><li>تم حذف الاكونت</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذه الاكونت  مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }

                    },
                    error: function() {
                        $(".validation-summary-errors").html('<ul><li>هذه الاكونت مرتبطة بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }

    </script>
}