@font-face {
    font-family: Noto-R;
    src: url('../fonts/noto/NotoKufiArabic-Regular.ttf');
}

@font-face {
    font-family: Noto-B;
    src: url('../fonts/noto/NotoKufiArabic-Bold.ttf');
}

body {
    font-family: Noto-R;
    direction: rtl;
}

* a {
    color: inherit;
}

    * a:hover {
        text-decoration: none;
    }

/**********************

	div-Title

**********************/
.div-Title {
    padding-bottom: 30px;
    text-align: center;
}

    .div-Title h3 {
        font-size: 2.4em;
        line-height: 1.5em
    }

    .div-Title p {
        font-size: 1.8em;
        ;
        color: #251b60
    }

/**********************

	Partner

**********************/
.Partner {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
    transition: all 0.5s ease-in-out
}

    .Partner .Partner-Img {
        position: relative;
        width: 150px;
        height: 150px;
        margin: auto
    }

        .Partner .Partner-Img .Partner-logo {
            background: #fff;
            border: 1px solid #251b60;
            box-shadow: 0 0 5px #251b60;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            margin: 0 auto;
            display: block;
        }

        .Partner .Partner-Img .Discount {
            position: absolute;
            top: 5%;
            left: 3%
        }

            .Partner .Partner-Img .Discount p {
                position: relative;
                background: #00948b;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 1.3em;
                color: #fff;
                font-weight: bold;
                border-radius: 5px 5px 0 0
            }

                .Partner .Partner-Img .Discount p:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 0;
                    height: 0;
                    border-bottom: 15px solid transparent;
                    border-left: 25px solid #00948b;
                    border-right: 25px solid #00948b;
                }

    .Partner .Partner-name {
        margin-top: -5px;
        padding: 20px 10px;
        text-align: center;
        color: #251b60
    }

        .Partner .Partner-name h3 {
            font-size: 1.4em;
            transition: all 0.5s ease-in-out
        }

    .Partner:hover .Partner-Img .Discount {
        animation-name: DIS;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

@keyframes DIS {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-13px);
    }

    100% {
        transform: translateY(0px);
    }
}

}

/**********************

	slick-Carosal

**********************/
.slick-dots {
    bottom: -60px;
}

    .slick-dots li button:before {
        content: "";
        background-color: #251b60;
        border-radius: 50%;
        line-height: 200px;
    }

.slick-prev,
.slick-next {
    width: 60px;
    height: 60px;
    z-index: 5
}

.slick-prev {
    left: 0
}

.slick-next {
    right: 0
}

    .slick-prev::before,
    .slick-next::before {
        font-size: 50px;
        color: #251b60
    }


@media all and (max-width: 575px) {
    .slick-prev,
    .slick-next {
        display: none !important;
    }
}


/***** Start Navbar *****/
.navBar {
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 3px 2px #e0e0e0;
}

    .navBar .navbar {
        padding: 0;
    }

        .navBar .navbar .navbar-brand img {
            width: 80%
        }

        .navBar .navbar .navbar-toggler {
            color: #00948b;
            font-size: 30px;
            outline: none;
            cursor: pointer
        }

    .navBar .navbar-expand-lg .navbar-nav {
        margin: auto;
        width: 100%;
        padding-top: 15px
    }

        .navBar .navbar-expand-lg .navbar-nav .nav-item:last-of-type {
            margin-left: 0;
            margin-right: auto;
        }

        .navBar .navbar-expand-lg .navbar-nav .nav-link {
            color: #251b60;
            transition: all 0.3s linear
        }

            .navBar .navbar-expand-lg .navbar-nav .nav-link:hover {
                color: #00948b
            }

        .navBar .navbar-expand-lg .navbar-nav .now {
            position: relative
        }

            .navBar .navbar-expand-lg .navbar-nav .now span {
                position: absolute;
                top: -10px;
                left: 0;
                font-size: 12px;
                background: #d10f8e;
                padding: 1px 8px;
                color: #fff;
                border-radius: 2px
            }

    .navBar .navbar-expand-lg .search {
        margin-top: 3px;
        position: relative
    }

        .navBar .navbar-expand-lg .search input {
            height: 35px;
            border-radius: 5px;
            padding-left: 40px
        }

        .navBar .navbar-expand-lg .search button {
            height: 35px;
            background: #00948b;
            position: absolute;
            top: 0;
            left: 0;
            line-height: 35px;
            border-radius: 5px 0 0 5px;
            width: 40px;
            border: none;
            outline: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
        }

    .navBar .navbar-expand-lg .navbar-nav .dropdown-menu {
        background: #00948b;
        padding: 0;
        right: 0;
        border: none;
        min-width: 13rem;
    }

        .navBar .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
            text-align: right;
            color: #fff;
            border-radius: 5px;
            padding: 10px;
            transition: all 0.3s linear
        }

            .navBar .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item i {
                margin-left: 10px
            }

            .navBar .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover {
                color: #fff;
                background: #251b60
            }

@media (max-width: 370px) {
    .navBar .navbar .navbar-brand {
        width: 60%
    }

        .navBar .navbar .navbar-brand img {
            width: 70%
        }
}

@media (max-width: 575px) and (min-width: 370px) {
    .navBar .navbar .navbar-brand img {
        width: 50%
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .navBar .navbar .navbar-brand img {
        width: 50%
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .navBar .navbar .navbar-brand img {
        width: 60%
    }
}

@media (max-width: 1199px) and (min-width: 992px) {

    .navBar .navbar-expand-lg .navbar-brand {
        margin-right: 0
    }

        .navBar .navbar-expand-lg .navbar-brand img {
            max-width: 200px;
        }

    .navBar .navbar-expand-lg .navbar-nav {
        padding-right: 10px;
    }

    .navBar .navbar-expand-lg .search {
        max-width: 150px;
    }
}

@media (max-width: 992px) {
    .navBar .navbar-expand-lg .navbar-nav {
        padding-right: 0px;
    }

        .navBar .navbar-expand-lg .navbar-nav .nav-item:last-of-type {
            margin-right: 0
        }
}

/***** End Navbar *****/


/***** Start Footer *****/
.footer {
    background-color: #251b60;
    color: #c3c3c3;
}

    .footer .top-footer {
        padding-top: 50px
    }

    .footer img {
        margin-bottom: 20px;
    }

    .footer ul {
        list-style: none;
        padding: 0
    }

    .footer h3 {
        color: #fff;
        text-align: right;
        margin-bottom: 20px;
    }

    .footer li {
        text-align: right;
        line-height: 2em;
    }

        .footer li a {
            color: #505050;
            text-decoration: none
        }

        .footer li i {
            margin-left: 10px
        }

    .footer .Bottom-footer {
        color: #fff;
        padding-top: 10px;
        border-top: 1px solid #555
    }




/***** End Footer *****/


/**********************

	BreadCrumb

**********************/
.BreadCrumb {
    margin-top: 90px;
}

    .BreadCrumb .breadcrumb {
        padding-right: 100px;
        background-color: #eafffc
    }

        .BreadCrumb .breadcrumb .breadcrumb-item {
            float: right;
        }

            .BreadCrumb .breadcrumb .breadcrumb-item a {
                color: #009280;
            }

/**********************

	Banner

**********************/
.Banner {
    font-family: Noto-R;
    min-height: 500px;
    background-image: url(../images/Banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

    .Banner .Banner-Box {
        min-height: 500px;
        background-color: rgba(0,0,0,0.5);
    }

        .Banner .Banner-Box p {
            color: #fff;
            padding: 5% 0 2%;
            font-size: 4.4em;
        }

        .Banner .Banner-Box h2 {
            display: inline-block;
            background-color: #fff;
            color: #009280;
            font-size: 4em;
            padding: 10px 20px;
            box-shadow: -5px 5px 5px #009688;
        }

@media all and (max-width: 575px) {

    .Banner {
        min-height: 300px;
    }

        .Banner .Banner-Box {
            min-height: 300px;
        }

            .Banner .Banner-Box h2 {
                font-size: 2.5em
            }

            .Banner .Banner-Box p {
                font-size: 2em
            }
}
/**********************

	About

**********************/
.AboutImage {
    background-image: url(../images/AboutImage.jpg);
    background-size: cover;
    background-position: center;
}

.AboutContent {
    padding: 100px 50px
}

    .AboutContent h3 {
        margin-bottom: 20px;
        font-family: Noto-B;
        color: #009688
    }

    .AboutContent p {
        line-height: 2em
    }
/**********************

	Testimonial

**********************/
.Testimonial {
    background-color: #eee;
    padding: 100px 0;
    text-align: center;
    background: radial-gradient(circle, #009688, #251b60);
    color: #fff
}

    .Testimonial .testimonialCarosal {
        direction: ltr;
        text-align: center;
    }

        .Testimonial .testimonialCarosal .Custmer-testimonial .Rating {
            color: yellow;
        }


/**********************

	Counting

**********************/
.Counting {
    background-image: url('../images/Bg-1.png');
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: #251b60
}

    .Counting .Count {
        margin-bottom: 50px
    }

        .Counting .Count .icon {
            font-size: 3em;
            margin-bottom: 10px;
            border: 2px solid #251b60;
            border-radius: 50%;
            display: inline-block;
            width: 120px;
            height: 120px;
            line-height: 120px;
        }

        .Counting .Count span {
            line-height: 2em
        }


/**********************

	Subscripe

**********************/
.Subscripe {
    background-image: url('../images/Bg-Grid.png');
    background-size: cover;
    padding: 100px 0;
    text-align: center;
}

    .Subscripe h2 {
        color: white;
        font-size: 3rem;
    }

    .Subscripe p {
        color: white;
        padding-top: 20px;
        font-size: 1.5rem;
    }

    .Subscripe button {
        background: #fff;
        color: #00948b;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 20px 30px;
    }

/**********************

	Newsletter

**********************/
.Newsletter {
    text-align: center;
    color: #005a9b;
    padding: 100px 0;
}

    .Newsletter h3 {
        margin-top: 30px;
    }

    .Newsletter .foremail {
        margin: auto;
    }

        .Newsletter .foremail button {
            background: #00948b;
            outline: none;
            border: none;
            cursor: pointer;
            display: block;
            padding: 15px 30px;
        }

        .Newsletter .foremail #inlineFormInput {
            padding: 15px 10px;
        }

    .Newsletter .forma {
        margin-top: 50px;
    }

    .Newsletter .form {
        margin-right: 30%;
    }

@media(max-width:767px) {
    .Newsletter .form {
        margin-right: 0;
    }
}

.Home-Banner {
    margin-top: -150px;
    min-height: 120vh;
    background: url(../images/Home.png) no-repeat center center;
    background-size: cover;
}



/**********************

	Contact

**********************/
.serve {
    background-image: url(../images/serve.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 400px;
}

.infosection {
    width: 100%;
}

.forsection2 {
    background-color: #3271e3;
    width: 100%;
    padding: 50px 0;
    color: white;
    font-size: 50px;
}

.fontcont {
    border: 1px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 15px;
    margin: auto;
}

.infopargraph {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.supsection {
    width: 100%;
    background-color: white;
    padding: 50px 0;
}

    .supsection h2 {
        color: red;
        text-align: center;
    }

    .supsection h3 {
        color: black;
        text-align: center;
    }

.formstyle {
    margin-top: 50px;
}

.forbtnstyle {
    text-align: left;
}

.marginform {
    margin: 10px auto;
}

iframe {
    width: 100%;
    height: 400px;
    border: 0px;
    margin-bottom: -10px;
}





/**********************

	Our-Partners

**********************/
.Our-Partners,
.Our-NewPartners {
    padding: 100px 0;
    text-align: center;
}

.NewPartner {
    direction: ltr;
}

    .NewPartner .slick-track {
        padding: 100px 0
    }

.MoreItems {
    background-color: #251b60;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
}

    .MoreItems:hover {
        color: #00948b
    }

.hide i:before {
    content: "\f077";
}

.Togary .row 
{width:100%}


.Togary .MoreItems {
    background: #00948b;
    margin: auto;
    color: #fff
}

.MorePartners,
.MoreCategories {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: all 0.5s ease-in-out
}

.open {
    opacity: 1;
    height: 100%;
    visibility: visible;
}

.NewPartner {
    direction: ltr;
}


/**********************

	Categories

**********************/

.Categories {
    background-image: url(../images/22.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.MoreCategory {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    color: #251b60;
}

    .MoreCategory:hover {
        color: #00948b
    }

    .MoreCategory i,
    .MoreItems i {
        animation-name: Arrows;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

@keyframes Arrows {
    0% {
        transform: translateY(-10px);
        opacity: 0
    }

    50% {
        transform: translateY(0);
        opacity: 1
    }

    100% {
        transform: translateY(10px);
        opacity: 0
    }
}

.Categories .overlay {
    padding: 100px 0;
    background-color: rgba(37,27,96,0.7);
}

.Categories .div-Title {
    color: #fff;
}

.Category {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.Bg-pic {
    margin: auto;
    display: inline-block;
    background-color: rgba(255,255,255,0.7);
    padding: 1.4em;
    border-radius: 50%;
}

    .Bg-pic .CategoryPic {
        max-width: 100px;
    }

.Category .CategoryInfo {
    color: #251b60;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

/**********************

	TemporaryDiscount

**********************/
.TemporaryDiscount {
    padding: 100px 0;
    background-color: #eee;
    text-align: center;
}

.TemporaryDeals {
    direction: ltr
}

    .TemporaryDeals .Partner .Partner-Img .Discount p {
        background-color: #d10f8e
    }

        .TemporaryDeals .Partner .Partner-Img .Discount p:after {
            border-left: 25px solid #d10f8e;
            border-right: 25px solid #d10f8e;
        }

    .TemporaryDeals .Timed {
        background-color: #d10f8e;
        margin: 0 5px;
        padding: 10px 0
    }

        .TemporaryDeals .Timed p {
            margin: 0;
            color: #fff
        }



/*****/
.containerpp h3 {
    color: #989595
}

.containerpp h2 {
    margin-bottom: 5px;
}

.containerpp {
    margin: 10% 5%;
    width: 70%;
    color: black;
}

.txtoffer {
    color: white;
    margin: 27% 40%;
    font-size: 1.5rem;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.txtoffer span {
    animation-name: Rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.tempOffers table {
    margin-top: 20px;
}

.tempOffers thead {
    background-color: #00948b;
    color: #fff;
}

@keyframes Rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.offerst {
    width: 25%;
    height: 25%;
    float: left
}

.O-image img {
    padding: 10% 0;
    width: 100%;
    height: auto;
}

.offerst h3 {
    position: relative;
    background: #00948B;
    width: 80px;
    height: 80px;
    text-align: center;
}

    .offerst h3 span {
        position: absolute;
        z-index: 2;
        width: 80px;
        height: 30px;
        top: 25px;
        left: 0;
        font-size: 1.2em
    }

    .offerst h3:before, .offerst h3:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 80px;
        width: 80px;
        background: #00948B;
    }

    .offerst h3:before {
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
    }

    .offerst h3:after {
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
    }


@media(max-width:1200px) {
    .txtoffer {
        margin: 35% 40%;
    }
}

@media(max-width:992px) {
    .txtoffer {
        margin: 30% 40%;
    }

    .offerst {
        width: 30%;
        height: 35%;
        margin-left: 5%
    }
}


.section2 {
    margin-top: 30px;
    margin-bottom: 50px;
}

    .section2 h3 {
        text-align: center
    }
/*accordion style*/

/*
=====
LEVEL 1. CORE STYLES OF MODIFIERS
=====
*/

.accordion__control {
    position: absolute;
    opacity: 0;
}

.accordion__body {
    display: none;
}

.accordion__control:checked ~ .accordion__body {
    display: block;
}

.accordion__toggle {
    display: block;
    cursor: pointer;
}

.accordion__control:checked ~ .accordion__toggle:after {
    transform: translate3d(0, -50%, 0) rotate(45deg);
}

/*
=====
LEVEL 2. PRESENTATION STYLES
=====
*/

.accordion {
    --uiAccordionTabBgColor: var(--accordionTabBgColor);
    --uiAccordionTabTextColor: var(--accordionTabTextColor);
    --uiAccordionTabFontSize: var(--accordionTabFontSize);
    --uiAccordionTabFocusColor: var(--accordionTabFocusColor);
    --uiAccordionToggleSize: var(--accordionToggleSize);
    --uiAccordionToggleColor: var(--accordionToggleColor);
    --uiAccordionMarginGroup: var(--accordionMarginGroup);
    --uiAccordionContentBgColor: var(--accordionContentBgColor);
    --uiAccordionContentFontSize: var(--accordionContentFontSize);
}

.accordion__group {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    margin-bottom: var(--uiAccordionMarginGroup);
}

.accordion__toggle {
    position: relative;
    padding: 1em calc(2em + var(--uiAccordionToggleSize) * 2) 1em 2em;
    background-color: var(--uiAccordionTabBgColor);
    font-size: 15px;
    color: var(--uiAccordionTabTextColor);
}

    .accordion__toggle:after {
        content: "";
        font-size: var(--uiAccordionToggleSize);
        width: 1em;
        height: 1em;
        border-right: .25em solid var(--uiAccordionToggleColor);
        border-bottom: .25em solid var(--uiAccordionToggleColor);
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate3d(0, -50%, 0) rotate(-45deg);
        transition: transform .2s ease-out;
    }

.accordion__control:focus ~ .accordion__toggle {
    outline: 5px solid var(--uiAccordionTabFocusColor)
}

.accordion__body {
    padding: 1.5em 2em;
    font-size: var(--uiAccordionContentFontSize);
    background-color: var(--uiAccordionContentBgColor);
}

/*
=====
LEVEL 3. SETTINGS
=====
*/

.accordion {
    --accordionTabBgColor: rgba(72, 70, 70, 0.6);
    --accordionTabTextColor: #fff;
    --accordionTabFontSize: 2rem;
    --accordionTabFocusColor: #C5CAE9;
    --accordionToggleSize: .8rem;
    --accordionToggleColor: #FFF;
    --accordionContentBgColor: #FFF;
    --accordionContentFontSize: 1.7rem;
    --accordionMarginGroup: .8rem;
}

.occord {
    margin-top: 30px;
}

.info {
    font-size: 15px;
}

@media(max-width:500px) {
    .txtoffer {
        margin: 30% 30%;
    }
}


/*Temporary offers*/
.tempOffers {
    padding: 50px 0
}

    .tempOffers h3 {
        text-align: center;
        margin-bottom: 20px
    }

    .tempOffers th,
    .tempOffers td {
        text-align: center
    }


/**********************

	Register

**********************/
.marginform {
    margin: 10px auto;
}

.register h2 {
    text-align: center;
    border-bottom: 1px solid #cacaca;
    padding-bottom: 20px;
}

.fortitle {
    margin: auto;
}

.register {
    margin: 100px auto;
}


/**********************

	Login

**********************/
.marginform {
    margin: 10px auto;
}

.forbtnstyle {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.login h2 {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 10px;
}

.infoforuser {
    color: #737171;
    margin: 70px auto;
}

.forget {
    text-align: left;
    color: #737171;
}

    .forget:hover {
        cursor: pointer;
        color: red;
    }

.login {
    margin: 100px auto;
}

/**********************

	Login

**********************/
.forquestions {
    margin: auto;
    margin-top: 20px;
}

    .forquestions h5 {
        color: #28a745;
    }

.faq {
    margin: 100px auto;
}

/**********************

	Category-page

**********************/

.filter-items h3,
.filter-result h3,
.Cat-Header h3,
.place-items h3 {
    padding: 0 10px 10px 0;
    margin-bottom: 10px;
    position: relative;
}

    .filter-items h3:before,
    .filter-result > h3:before,
    .Cat-Header h3:before,
    .place-items h3:before {
        content: "";
        position: absolute;
        top: 100%;
        right: 10px;
        width: 50px;
        height: 1px;
        background-color: #00948b
    }

    .place-items h3 button.btn-link,
    .filter-items h3 button.btn-link {
        color: #333;
        font-size: 24px;
        padding: 0;
        width: 100%;
        text-align: right;
    }

.Cat-Header h3 {
    margin-bottom: 30px;
}

.filter-result > h3 {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 25px;
}

    .filter-result > h3:before {
        right: 50%;
        transform: translateX(50%);
    }

.Togary {
    padding: 100px 0
}

    .Togary ul {
        padding: 10px;
        margin-bottom: 20px;
    }

    .Togary li {
        padding: 0;
        position: relative;
    }

        .Togary li:before {
            content: "";
            position: absolute;
            top: 40%;
            right: 10px;
            width: 10px;
            height: 10px;
            border: 1px solid #251b60;
        }

        .Togary li:hover:before,
        .Togary li.active:before {
            background-color: #251b60;
        }

    .Togary .Cat-Filter-Item {
        max-width: 30px
    }

    .Togary .list-group-item a {
        padding: 10px 30px 10px 10px;
        width: 100%;
        font-size: 16px;
        color: #251b60
    }

    .Togary .list-group-item .badge-primary {
        float: left;
        margin-top: 5px;
        background: #00948b;
        padding: .25em 0.8em
    }

.list-group-item.active {
    background-color: #fff;
    border-color: rgba(0,0,0,.125);
}

.Togary .Partner:hover {
    transform: scale(1.1,1.1);
    background-color: #251b60;
}

    .Togary .Partner:hover .Partner-name h3 {
        color: #fff
    }

@media all and (max-width: 768px) {
}
