﻿@model IEnumerable<SaveIt.Entity.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"> ادارة المنتجات</h4>
        </div>
    </div>
</div>

<button class="btn btn-info waves-effect waves-light m-b-5" data-toggle="modal" onclick="editform('', '');" data-target="#EditClients"> <i class="fa fa-plus m-r-5"></i> <span>اضافة منتج</span> </button>




<div id="EditClients" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل واضافة الاخبار</h4>
            </div>
            @using (Html.BeginForm("Edit", "DontsProdcuts", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @Html.Hidden("ID")
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">أسم المنتح</label>
                                <input type="text" class="form-control" required name="Name" id="Name" placeholder="أسم المنتح">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">أسم التصنيف</label>
                                @Html.DropDownList("ProductCatID", ViewBag.objDonators as SelectList, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">الخصم</label>
                                <textarea class="form-control" required name="Discount" id="Discount" placeholder="الخصم"></textarea>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name" class="control-label">السعر</label>
                                <textarea class="form-control" required name="Price" id="Price" placeholder="السعر"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.TextBox("file", null, new { @id = "input-1700", @type = "file", @class = "file-loading", @accept = "image/*" })
                                <script>
                                    $("#input-1700").fileinput({
                                        maxFileCount: 1,
                                        allowedFileExtensions: ["jpg", "png", "gif"],
                                        browseLabel: " إضغط لإختيار صورة ..",
                                        browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                        browseClass: "btn btn-primary btn-block",
                                        showCaption: false,
                                        showRemove: false,
                                        showUpload: false
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">حفظ الخبر</button>
                </div>
            }

        </div>
    </div>
</div>







@Html.ValidationSummary(true)

<div class="card-box">
    <table class="table table-hover">
        <tr>
            <th>الكود</th>
            <th>أسم المنتح</th>
            <th>أسم التصنيف</th>
            <th>الخصم</th>
            <th>السعر</th>

            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="@item.ID">

                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.ProductsCategory.Name</td>
                <td>@item.Discount</td>
                <td>@item.Price</td>
                <td>
                    <img src="@item.Photo" alt="لا يوجد صورة" style="width:50px; height:50px;" />
                </td>

                <td>
                    <button class="btn btn-success waves-effect waves-light m-b-5" onclick="editform(@item.ID,'@item.Name','@item.ProductsCategory.Name','@item.Discount','@item.Price')" data-toggle="modal" data-target="#EditClients"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </button>
                    <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="deleteitem(@item.ID)"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </button>

                </td>
            </tr>
        }

    </table>
</div>



@section Scripts{
    <script>

        function editform(ID, Name, Cat, Discount, Price) {
            $("#ID").val(ID);

            $("#Name").val(Name);
            $("#Cat").val(Cat);
            $("#Discount").val(Discount);
            $("#Price").val(Price);

            @*$.ajax({

                url: '@Url.Action("getprod", "DontsProdcuts")',
                data: { Catid: ID },
                type: "get",
                dataType: "json",
                success: function (Data) {
                    $("#ProductCatID").empty();
                    $.each(Data, function (i, d) {
                        $("#ProductCatID").append($("<option id='" + d.ID + "'>" + d.Name + "</option>"));
                    });
                },
                error: function (e) {
                    alert(e.statusText);
                }
            });*@

        }

        function deleteitem(id) {
            if (confirm('هل تريد حذف  هذا المنتج ؟')) {
                $.ajax({
                    url: "/Admin/DontsProducts/Delete/" + id,
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        if (result == 1) {
                            $("#" + id).slideUp();
                            $(".validation-summary-errors").html('<ul><li>تم حذف المنتج</li></ul>');
                        } else {
                            $(".validation-summary-errors").html('<ul><li>هذا المنتج  مرتبط بمعلومات اخري يرجي حذفها اولا</li></ul>');

                        }
                    },
                    error: function () {
                        $(".validation-summary-errors").html('<ul><li>هذا المنتج  مرتبط بمعلومات اخري يرجي حذفها اولا</li></ul>');

                    }
                });

            }
        }




    </script>
}