﻿@model IEnumerable<IGrouping< SaveIt.Entity.Card, SaveIt.Entity.ClientRegisteration>>
@{
    ViewBag.Title = "AddAdmin";
}



<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">تفاصيل المبيعات للمندوب <strong>@ViewBag.fullname</strong></h4>
        </div>
    </div>
</div>

<div class="card-box">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>
                الكود
            </th>
            <th>
                اسم العميل
            </th>

            <th>المبيعات</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            var regs = item.Sum(c => c.Paid);
            <tr>
                <td class="Iduser">
                    @Html.DisplayFor(modelItem => item.Key.Code)
                </td>
                <td class="FullName">
                    @Html.DisplayFor(modelItem => item.Key.Name)
                </td>
              
                <td>
                    @regs <i class="fa fa-money"></i>
                </td>
         
            </tr>
        }

    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function deleteitem(UserName) {
            if (confirm('هل تريد حذف هذا الموظف ؟')) {
                document.location.href = "/Admin/Employee/DeleteAdmin?UserName=" + UserName;
            }
        }
        function EditInfo(oldUserName) {
            $("#oldUserName").val(oldUserName);
        }
        function ResetPassword(PUserName) {
            $("#PUserName").val(PUserName);
        }
    </script>
}