﻿@model IEnumerable<SaveIt.Models.ApplicationUser>
@{
    ViewBag.Title = "AddAdmin";
    var register = (IEnumerable<SaveIt.Entity.ClientRegisteration>)ViewBag.register;
}



<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">المبيعات للمندوبين</h4>
        </div>
    </div>
</div>

<div class="card-box">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>
                الكود
            </th>
            <th>
                الاسم بالكامل
            </th>

            <th>المبيعات</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            var regs = register.Where(c=>c.Card.UserID==item.UserID).Sum(c => c.Paid);
            <tr>
                <td class="Iduser">
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td class="FullName">
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
              
                <td>
                    @regs <i class="fa fa-money"></i>
                </td>
             <td>
                 <a href="@Url.Action("Details", new { id = item.UserID })" class="btn btn-success">تفاصيل المبيعات </a>
             </td>
            </tr>
        }

    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function deleteitem(UserName) {
            if (confirm('هل تريد حذف هذا الموظف ؟')) {
                document.location.href = "/Admin/Employee/DeleteAdmin?UserName=" + UserName;
            }
        }
        function EditInfo(oldUserName) {
            $("#oldUserName").val(oldUserName);
        }
        function ResetPassword(PUserName) {
            $("#PUserName").val(PUserName);
        }
    </script>
}